In [7]:
import pandas as pd
import numpy as np
import requests, zipfile, io
import os

In [8]:
# global vars
pyear = "20205year"
missing_state_value = np.nan 
# file_prefix = 'ss16p'
file_prefix = 'psam_p04'
mass_dl_url = 'https://www2.census.gov/programs-surveys/acs/data/pums/2020/5-Year/csv_p'
dest = f"{pyear}/pums_states/"
parent_dir = "./"

In [9]:
# response = requests.get(mass_dl_url+'az'+'.zip')
# z = zipfile.ZipFile(io.BytesIO(response.content))
# z.extractall(f"{dest}az")

In [10]:
# pums = pd.read_csv(f"{parent_dir}{pyear}/pums_states/az/{file_prefix}az.csv")
#virinchi# pums = pd.read_csv(f"{dest}az/{file_prefix}az.csv")
pums = pd.read_csv(f"{dest}/az/{file_prefix}.csv")

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\808698182.py:3: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  pums = pd.read_csv(f"{dest}/az/{file_prefix}.csv")

In [11]:
#virinchi cell#
pums = pums[ (pums['AGEP']>20) & ((pums['ESR'] == 1) | (pums['ESR'] == 2) | (pums['ESR'] == 4) | (pums['ESR'] == 5) )]
#virinchi cell#

In [12]:
pums

,RT,SERIALNO,DIVISION,SPORDER,PUMA,REGION,ST,ADJINC,PWGTP,AGEP,...,PWGTP71,PWGTP72,PWGTP73,PWGTP74,PWGTP75,PWGTP76,PWGTP77,PWGTP78,PWGTP79,PWGTP80
3,P,2016000000060,8,1,201,4,4,1086849,14,44,...,17,15,12,14,17,29,24,27,11,5
4,P,2016000000060,8,2,201,4,4,1086849,20,45,...,22,25,19,20,25,33,31,31,17,7
8,P,2016000000094,8,1,201,4,4,1086849,7,51,...,9,14,12,12,8,3,8,13,9,12
13,P,2016000000242,8,1,500,4,4,1086849,17,21,...,17,17,17,16,3,3,17,16,17,17
14,P,2016000000295,8,1,123,4,4,1086849,31,40,...,31,9,49,30,8,8,30,27,29,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331330,P,2020HU1135506,8,1,119,4,4,1006149,11,58,...,24,9,8,18,16,16,16,8,20,13
331331,P,2020HU1135506,8,2,119,4,4,1006149,7,58,...,16,7,5,13,15,12,13,6,14,13
331332,P,2020HU1135570,8,1,101,4,4,1006149,1,70,...,0,0,0,0,0,0,0,0,0,0
331334,P,2020HU1135612,8,1,121,4,4,1006149,10,62,...,10,19,15,11,10,8,20,5,14,3
331336,P,2020HU1135638,8,1,101,4,4,1006149,12,39,...,12,21,11,4,13,23,20,12,13,11

In [13]:
pums["ftNAICSP"] = pums["NAICSP"].astype(str).apply(lambda x : x[:2])

In [14]:
industry_naics = pd.read_excel("AZ - Industry - NAICS2.xls", sheet_name=2, usecols=["NAICS", "Description"])
industry_naics.dropna(inplace=True)
industry_naics.NAICS = industry_naics.NAICS.astype(int).astype(str)

In [15]:
industry_naics = industry_naics.append({'NAICS':'92', 'Description':'Government and Military'}, ignore_index=True)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3645387805.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  industry_naics = industry_naics.append({'NAICS':'92', 'Description':'Government and Military'}, ignore_index=True)

In [16]:
industry_naics

   NAICS                                        Description
0     11         Agriculture, Forestry, Fishing and Hunting
1     21      Mining, Quarrying, and Oil and Gas Extraction
2     22                                          Utilities
3     23                                       Construction
4     31                                      Manufacturing
5     42                                    Wholesale Trade
6     44                                       Retail Trade
7     48                     Transportation and Warehousing
8     51                                        Information
9     52                              Finance and Insurance
10    53                 Real Estate and Rental and Leasing
11    54   Professional, Scientific, and Technical Services
12    55            Management of Companies and Enterprises
13    56  Administrative and Support and Waste Managemen...
14    61                               Educational Services
15    62                  Health Care and Social Assistance
16    71                Arts, Entertainment, and Recreation
17    72                    Accommodation and Food Services
18    81      Other Services (except Public Administration)
19    90                                         Government
20    99                              Unclassified Industry
21    92                            Government and Military

In [17]:
# Remove 3ms,4ms and 92
# pums = pums[pums["ftNAICSP"].isin(["3M", "4M"])==False]

pums.loc[pums["ftNAICSP"]=="32","ftNAICSP"] = "31" 
pums.loc[pums["ftNAICSP"]=="33","ftNAICSP"] = "31" 
pums.loc[pums["ftNAICSP"]=="4M","ftNAICSP"] = "31" # manufacturing

pums.loc[pums["ftNAICSP"]=="3M","ftNAICSP"] = "44"  # retail
pums.loc[pums["ftNAICSP"]=="45","ftNAICSP"] = "44"

pums.loc[pums["ftNAICSP"]=="49","ftNAICSP"] = "48"

In [18]:
#virinchi# pums_titles = pd.read_csv(f"../Mappings/PUMS{pyear}_SOCPTitles.csv")
#virinchi# naics_titles = pd.read_csv(f"../Mappings/PUMS{pyear}_NAICSPTitles.csv")
#virinchi# pums_migsp_titles = pd.read_csv("../PUMS/PUMS_MIGSPNames.csv")
pums_titles = pd.read_csv(f"PUMS{pyear}_SOCPTitles.csv")
naics_titles = pd.read_csv(f"PUMS{pyear}_NAICSPTitles.csv")
pums_migsp_titles = pd.read_csv("PUMS_MIGSPNames.csv")

In [19]:
pums_migsp_titles

    MIGSP                  Name Short
0       1               Alabama    AL
1       2                Alaska    AK
2       4               Arizona    AZ
3       5              Arkansas    AR
4       6            California    CA
5       8              Colorado    CO
6       9           Connecticut    CT
7      10              Delaware    DE
8      11  District of Columbia    DC
9      12               Florida    FL
10     13               Georgia    GA
11     15                Hawaii    HI
12     16                 Idaho    ID
13     17              Illinois    IL
14     18               Indiana    IN
15     19                  Iowa    IA
16     20                Kansas    KS
17     21              Kentucky    KY
18     22             Louisiana    LA
19     23                 Maine    ME
20     24              Maryland    MD
21     25         Massachusetts    MA
22     26              Michigan    MI
23     27             Minnesota    MN
24     28           Mississippi    MS
25     29              Missouri    MO
26     30               Montana    MT
27     31              Nebraska    NE
28     32                Nevada    NV
29     33         New Hampshire    NH
30     34            New Jersey    NJ
31     35            New Mexico    NM
32     36              New York    NY
33     37        North Carolina    NC
34     38          North Dakota    ND
35     39                  Ohio    OH
36     40              Oklahoma    OK
37     41                Oregon    OR
38     42          Pennsylvania    PA
39     44          Rhode Island    RI
40     45        South Carolina    SC
41     46          South Dakota    SD
42     47             Tennessee    TN
43     48                 Texas    TX
44     49                  Utah    UT
45     50               Vermont    VT
46     51              Virginia    VA
47     53            Washington    WA
48     54         West Virginia    WV
49     55             Wisconsin    WI
50     56               Wyoming    WY

In [20]:
pums_migsp_titles = pums_migsp_titles.append({'MIGSP':99, 'Name':'All States Combined', 'Short':'ASC'}, ignore_index=True)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\61219139.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pums_migsp_titles = pums_migsp_titles.append({'MIGSP':99, 'Name':'All States Combined', 'Short':'ASC'}, ignore_index=True)

In [21]:
pums.shape

(133638, 289)

In [22]:
# 92 is govt adm + mil
# 90 is adm only

adm_titles = naics_titles[naics_titles.Title.str.startswith('Adm-')]

temp_df = pums.loc[pums.NAICSP.isin(adm_titles.NAICSP.values)]#NAICSP.apply(lambda x:x[:2]).values)]

if temp_df.size > 0:
    temp_df.loc[:,"ftNAICSP"] = '90'
    pums = pd.concat([pums, temp_df])
    pums = pums.reset_index(drop=True)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\2324683804.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

In [23]:
adm_titles

     NAICSP                                              Title
255   92113                      Adm-Public Finance Activities
256   92119           Adm-Other General Government And Support
257  9211MP       Adm-Executive Offices And Legislative Bodies
258     923      Adm-Administration Of Human Resource Programs
266    928P    Adm-National Security And International Affairs
267    92M1  Adm-Administration Of Environmental Quality An...
268    92M2  Adm-Administration Of Economic Programs And Sp...
269    92MP   Adm-Justice, Public Order, And Safety Activities

In [24]:
temp_df

,RT,SERIALNO,DIVISION,SPORDER,PUMA,REGION,ST,ADJINC,PWGTP,AGEP,...,PWGTP72,PWGTP73,PWGTP74,PWGTP75,PWGTP76,PWGTP77,PWGTP78,PWGTP79,PWGTP80,ftNAICSP
4,P,2016000000060,8,2,201,4,4,1086849,20,45,...,25,19,20,25,33,31,31,17,7,90
91,P,2016000002003,8,2,100,4,4,1086849,16,53,...,16,5,5,15,16,16,5,27,27,90
115,P,2016000002592,8,1,700,4,4,1086849,26,27,...,24,7,50,40,11,29,43,38,11,90
146,P,2016000003333,8,1,107,4,4,1086849,13,47,...,14,3,23,24,12,14,4,13,13,90
306,P,2016000006121,8,1,115,4,4,1086849,26,29,...,9,41,26,25,7,45,26,25,47,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331107,P,2020HU1130289,8,2,105,4,4,1006149,7,39,...,8,14,10,8,8,7,14,3,11,90
331119,P,2020HU1130588,8,2,208,4,4,1006149,10,58,...,9,21,10,15,3,10,17,17,9,90
331240,P,2020HU1132666,8,1,900,4,4,1006149,38,39,...,39,60,38,70,43,56,31,13,14,90
331297,P,2020HU1134686,8,1,800,4,4,1006149,30,50,...,11,50,55,42,28,24,11,36,49,90
331332,P,2020HU1135570,8,1,101,4,4,1006149,1,70,...,0,0,0,0,0,0,0,0,0,90

In [25]:
pums.shape

(140796, 289)

In [26]:
pums.ftNAICSP.unique()

array(['52', '92', '71', '61', '31', '62', '53', '54', '72', '44', '56',
       '48', '23', '22', '51', '42', '81', '11', '21', '55', '90'],
      dtype=object)

In [27]:
pums = pums[pums["ftNAICSP"]!="na"]

In [28]:
pums.ftNAICSP = pums.ftNAICSP.apply(str)

In [29]:
pums.MIGPUMA = pums.MIGPUMA.astype(float)
pums.MIGSP = pums.MIGSP.astype(float)
pums.PWGTP = pums.PWGTP.astype(float)

In [30]:
pums_outofaz = pums[(pums.MIGPUMA > 2) & (pums.MIGSP != 4) & (pums.MIGSP <= 56)]

pums_outofaz = pums_outofaz[pums_outofaz.NAICSP.notna()]
pums_outofaz = pums_outofaz[pums_outofaz.SOCP.notna()]

In [31]:
industry_naics

   NAICS                                        Description
0     11         Agriculture, Forestry, Fishing and Hunting
1     21      Mining, Quarrying, and Oil and Gas Extraction
2     22                                          Utilities
3     23                                       Construction
4     31                                      Manufacturing
5     42                                    Wholesale Trade
6     44                                       Retail Trade
7     48                     Transportation and Warehousing
8     51                                        Information
9     52                              Finance and Insurance
10    53                 Real Estate and Rental and Leasing
11    54   Professional, Scientific, and Technical Services
12    55            Management of Companies and Enterprises
13    56  Administrative and Support and Waste Managemen...
14    61                               Educational Services
15    62                  Health Care and Social Assistance
16    71                Arts, Entertainment, and Recreation
17    72                    Accommodation and Food Services
18    81      Other Services (except Public Administration)
19    90                                         Government
20    99                              Unclassified Industry
21    92                            Government and Military

In [32]:
pums_titles.head()

     SOCP                                              Title
0  bbbbbb  (Less Than 16 Years Old/Nilf Who Last Worked M...
1  1110XX                   Chief Executives And Legislators
2  111021                    General And Operations Managers
3  112011                Advertising And Promotions Managers
4  112021                                 Marketing Managers

In [33]:
pums_migsp_titles.head()
state_id_to_name =  pums_migsp_titles.groupby("MIGSP")["Name"].unique()

In [34]:
total_weights_bynaics = pums.groupby("ftNAICSP")["PWGTP"].sum()
total_weights_bysocp = pums.groupby("SOCP")["PWGTP"].sum()

In [35]:
total_weights_bynaics['0'] = total_weights_bynaics.values.sum()
total_weights_bysocp['0'] = total_weights_bysocp.values.sum()

In [36]:
len(pums_outofaz.SOCP.unique())

432

# Part 1

In [37]:
grouped_by_naics_wgt = pums_outofaz.groupby(['ftNAICSP'])["PWGTP"].sum()
# grouped_by_naics_socp = pums_outofaz.groupby(['ftNAICSP'])['SOCP'].apply(list)
grouped_by_naicsp = pums_outofaz.groupby(['ftNAICSP'])['NAICSP'].apply(lambda x : list(np.unique(list(x))))

In [38]:
# p1 = []
# for i in industry_naics.index:
#     ind_name = industry_naics.iloc[i]["Description"]
#     ind_naics = industry_naics.iloc[i]["NAICS"]
#     if ind_naics in grouped_by_naics_wgt.keys():
#         row = [ind_naics, ind_name, grouped_by_naics_wgt[ind_naics], grouped_by_naicsp[ind_naics]]
#         p1.append(row)
#     else:
#         row = [ind_naics, ind_name, 0,[]]
#         p1.append(row)

In [39]:
# p1_out = pd.DataFrame(p1, columns=["NAICS", "Description", "MovedToAZLastYear", "NAICSPs"])

In [40]:
# p1_out.to_csv("21_Part1_MovedToAZ_0705.csv",index=False)

### Part 1 all

In [41]:
# p1_all = []
# for key in grouped_by_naics_wgt.keys():
#     ind_name = industry_naics.loc[industry_naics.NAICS==key]["Description"].values
#     ind_naics = industry_naics.loc[industry_naics.NAICS==key]["NAICS"].values
#     if len(ind_name) > 0:
#         ind_name = ind_name[0]
#         ind_naics = ind_naics[0]
#     else:
#         ind_name = ''
#         ind_naics = ''
#     row = [ind_naics, ind_name, grouped_by_naics_wgt[key], grouped_by_naicsp[key]]
#     p1_all.append(row)

In [42]:
# p1_all_out = pd.DataFrame(p1_all, columns=["NAICS", "Description", "MovedToAZLastYear", "NAICSPs"])

In [43]:
# p1_all_out.to_csv("pums_Part1_MovedToAZ_0705.csv",index=False)

### Part 1 All also by state

In [44]:
grouped_naicsp_state_wgt = pums_outofaz.groupby(['ftNAICSP', 'MIGSP'])["PWGTP"].sum()

# irrelevant
grouped_by_naicsp_state = pums_outofaz.groupby(['ftNAICSP', 'MIGSP'])['NAICSP'].apply(lambda x : list(np.unique(list(x))))

In [45]:
# all states combined sum 
all_states_combinedp1 = pums_outofaz.groupby(['ftNAICSP'])["PWGTP"].sum()

In [46]:
all_states_combinedp1

ftNAICSP
11      832.0
21      457.0
22      652.0
23     6212.0
31     7675.0
42     3183.0
44    12554.0
48     4441.0
51     2306.0
52     6915.0
53     2279.0
54    11571.0
55      224.0
56     7118.0
61     8341.0
62    15277.0
71     3177.0
72     7221.0
81     3944.0
90     5266.0
92     8279.0
Name: PWGTP, dtype: float64

In [47]:
p1_all_state = []


for key in grouped_by_naics_wgt.keys():
    ind_name = industry_naics.loc[industry_naics.NAICS==key]["Description"].values
    ind_naics = industry_naics.loc[industry_naics.NAICS==key]["NAICS"].values
    if len(ind_name) > 0:
        ind_name = ind_name[0]
        ind_naics = ind_naics[0]
    else:
        ind_name = ''
        ind_naics = ''
    for s in grouped_naicsp_state_wgt[key].keys():
        row = [ind_naics, ind_name, s, state_id_to_name[int(s)][0], grouped_naicsp_state_wgt[key][s], grouped_by_naicsp_state[key][s]]
        p1_all_state.append(row)
    for i in pums_migsp_titles.index[:-1]:
        migsp = pums_migsp_titles.iloc[i]["MIGSP"]
        if migsp not in grouped_naicsp_state_wgt[key].keys() and int(migsp) != 4:
            row = [ind_naics, ind_name, migsp, state_id_to_name[int(migsp)][0], missing_state_value, []]
            p1_all_state.append(row)
    
    # all states combined
    # migsp id 99
    asc_p1 = all_states_combinedp1[key]
    p1_all_state.append([ind_naics, ind_name, 99, "All States Combined", asc_p1, []])

In [48]:
np.unique(grouped_naicsp_state_wgt.keys().get_level_values(1))

array([ 1.,  2.,  5.,  6.,  8.,  9., 10., 11., 12., 13., 15., 16., 17.,
       18., 19., 20., 21., 22., 23., 24., 25., 26., 27., 28., 29., 30.,
       31., 32., 33., 34., 35., 36., 37., 38., 39., 40., 41., 42., 44.,
       45., 46., 47., 48., 49., 50., 51., 53., 54., 55., 56.])

In [49]:
p1_all_state

[['11',
  'Agriculture, Forestry, Fishing and Hunting',
  2.0,
  'Alaska',
  30.0,
  ['114']],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  6.0,
  'California',
  249.0,
  ['111', '112', '113M']],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  8.0,
  'Colorado',
  110.0,
  ['111', '112', '115']],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  12.0,
  'Florida',
  15.0,
  ['111']],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  16.0,
  'Idaho',
  22.0,
  ['113M']],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  26.0,
  'Michigan',
  31.0,
  ['112']],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  32.0,
  'Nevada',
  35.0,
  ['111']],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  36.0,
  'New York',
  87.0,
  ['111', '115']],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  37.0,
  'North Carolina',
  16.0,
  ['1133']],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  38.0,
  'North Dakota',
  16.0,
  ['1133']],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  41.0,
  'Oregon',
  18.0,
  ['111']],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  46.0,
  'South Dakota',
  20.0,
  ['111']],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  48.0,
  'Texas',
  22.0,
  ['112']],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  49.0,
  'Utah',
  71.0,
  ['112', '113M']],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  53.0,
  'Washington',
  84.0,
  ['1133', '113M', '115']],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  55.0,
  'Wisconsin',
  6.0,
  ['111']],
 ['11', 'Agriculture, Forestry, Fishing and Hunting', 1, 'Alabama', nan, []],
 ['11', 'Agriculture, Forestry, Fishing and Hunting', 5, 'Arkansas', nan, []],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  9,
  'Connecticut',
  nan,
  []],
 ['11', 'Agriculture, Forestry, Fishing and Hunting', 10, 'Delaware', nan, []],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  11,
  'District of Columbia',
  nan,
  []],
 ['11', 'Agriculture, Forestry, Fishing and Hunting', 13, 'Georgia', nan, []],
 ['11', 'Agriculture, Forestry, Fishing and Hunting', 15, 'Hawaii', nan, []],
 ['11', 'Agriculture, Forestry, Fishing and Hunting', 17, 'Illinois', nan, []],
 ['11', 'Agriculture, Forestry, Fishing and Hunting', 18, 'Indiana', nan, []],
 ['11', 'Agriculture, Forestry, Fishing and Hunting', 19, 'Iowa', nan, []],
 ['11', 'Agriculture, Forestry, Fishing and Hunting', 20, 'Kansas', nan, []],
 ['11', 'Agriculture, Forestry, Fishing and Hunting', 21, 'Kentucky', nan, []],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  22,
  'Louisiana',
  nan,
  []],
 ['11', 'Agriculture, Forestry, Fishing and Hunting', 23, 'Maine', nan, []],
 ['11', 'Agriculture, Forestry, Fishing and Hunting', 24, 'Maryland', nan, []],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  25,
  'Massachusetts',
  nan,
  []],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  27,
  'Minnesota',
  nan,
  []],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  28,
  'Mississippi',
  nan,
  []],
 ['11', 'Agriculture, Forestry, Fishing and Hunting', 29, 'Missouri', nan, []],
 ['11', 'Agriculture, Forestry, Fishing and Hunting', 30, 'Montana', nan, []],
 ['11', 'Agriculture, Forestry, Fishing and Hunting', 31, 'Nebraska', nan, []],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  33,
  'New Hampshire',
  nan,
  []],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  34,
  'New Jersey',
  nan,
  []],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  35,
  'New Mexico',
  nan,
  []],
 ['11', 'Agriculture, Forestry, Fishing and Hunting', 39, 'Ohio', nan, []],
 ['11', 'Agriculture, Forestry, Fishing and Hunting', 40, 'Oklahoma', nan, []],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  42,
  'Pennsylvania',
  nan,
  []],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  44,
  'Rhode Island',
  nan,
  []],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  45,
  'South Carolina',
  nan,
  []],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  47,
  'Tennessee',
  nan,
  []],
 ['11', 'Agriculture, Forestry, Fishing and Hunting', 50, 'Vermont', nan, []],
 ['11', 'Agriculture, Forestry, Fishing and Hunting', 51, 'Virginia', nan, []],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  54,
  'West Virginia',
  nan,
  []],
 ['11', 'Agriculture, Forestry, Fishing and Hunting', 56, 'Wyoming', nan, []],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  99,
  'All States Combined',
  832.0,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  6.0,
  'California',
  111.0,
  ['211', '2122']],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  8.0,
  'Colorado',
  52.0,
  ['2122', '213']],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  16.0,
  'Idaho',
  42.0,
  ['2122']],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  18.0,
  'Indiana',
  6.0,
  ['211']],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  32.0,
  'Nevada',
  15.0,
  ['2122']],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  35.0,
  'New Mexico',
  31.0,
  ['2122']],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  38.0,
  'North Dakota',
  78.0,
  ['211', '213']],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  40.0,
  'Oklahoma',
  13.0,
  ['213']],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  48.0,
  'Texas',
  78.0,
  ['213']],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  49.0,
  'Utah',
  17.0,
  ['213']],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  51.0,
  'Virginia',
  8.0,
  ['2122']],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  53.0,
  'Washington',
  6.0,
  ['2123']],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  1,
  'Alabama',
  nan,
  []],
 ['21', 'Mining, Quarrying, and Oil and Gas Extraction', 2, 'Alaska', nan, []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  5,
  'Arkansas',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  9,
  'Connecticut',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  10,
  'Delaware',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  11,
  'District of Columbia',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  12,
  'Florida',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  13,
  'Georgia',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  15,
  'Hawaii',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  17,
  'Illinois',
  nan,
  []],
 ['21', 'Mining, Quarrying, and Oil and Gas Extraction', 19, 'Iowa', nan, []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  20,
  'Kansas',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  21,
  'Kentucky',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  22,
  'Louisiana',
  nan,
  []],
 ['21', 'Mining, Quarrying, and Oil and Gas Extraction', 23, 'Maine', nan, []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  24,
  'Maryland',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  25,
  'Massachusetts',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  26,
  'Michigan',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  27,
  'Minnesota',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  28,
  'Mississippi',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  29,
  'Missouri',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  30,
  'Montana',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  31,
  'Nebraska',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  33,
  'New Hampshire',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  34,
  'New Jersey',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  36,
  'New York',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  37,
  'North Carolina',
  nan,
  []],
 ['21', 'Mining, Quarrying, and Oil and Gas Extraction', 39, 'Ohio', nan, []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  41,
  'Oregon',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  42,
  'Pennsylvania',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  44,
  'Rhode Island',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  45,
  'South Carolina',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  46,
  'South Dakota',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  47,
  'Tennessee',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  50,
  'Vermont',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  54,
  'West Virginia',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  55,
  'Wisconsin',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  56,
  'Wyoming',
  nan,
  []],
 ['21',
  'Mining, Quarrying, and Oil and Gas Extraction',
  99,
  'All States Combined',
  457.0,
  []],
 ['22', 'Utilities', 6.0, 'California', 263.0, ['2211P', '2213M', '221MP']],
 ['22', 'Utilities', 8.0, 'Colorado', 35.0, ['2213M']],
 ['22', 'Utilities', 11.0, 'District of Columbia', 14.0, ['2211P']],
 ['22', 'Utilities', 16.0, 'Idaho', 20.0, ['2211P']],
 ['22', 'Utilities', 17.0, 'Illinois', 40.0, ['2213M']],
 ['22', 'Utilities', 25.0, 'Massachusetts', 54.0, ['2211P']],
 ['22', 'Utilities', 36.0, 'New York', 21.0, ['2212P']],
 ['22', 'Utilities', 42.0, 'Pennsylvania', 24.0, ['2211P']],
 ['22', 'Utilities', 46.0, 'South Dakota', 65.0, ['221MP']],
 ['22', 'Utilities', 48.0, 'Texas', 16.0, ['2211P']],
 ['22', 'Utilities', 49.0, 'Utah', 21.0, ['2211P']],
 ['22', 'Utilities', 53.0, 'Washington', 23.0, ['2211P']],
 ['22', 'Utilities', 54.0, 'West Virginia', 56.0, ['2211P']],
 ['22', 'Utilities', 1, 'Alabama', nan, []],
 ['22', 'Utilities', 2, 'Alaska', nan, []],
 ['22', 'Utilities', 5, 'Arkansas', nan, []],
 ['22', 'Utilities', 9, 'Connecticut', nan, []],
 ['22', 'Utilities', 10, 'Delaware', nan, []],
 ['22', 'Utilities', 12, 'Florida', nan, []],
 ['22', 'Utilities', 13, 'Georgia', nan, []],
 ['22', 'Utilities', 15, 'Hawaii', nan, []],
 ['22', 'Utilities', 18, 'Indiana', nan, []],
 ['22', 'Utilities', 19, 'Iowa', nan, []],
 ['22', 'Utilities', 20, 'Kansas', nan, []],
 ['22', 'Utilities', 21, 'Kentucky', nan, []],
 ['22', 'Utilities', 22, 'Louisiana', nan, []],
 ['22', 'Utilities', 23, 'Maine', nan, []],
 ['22', 'Utilities', 24, 'Maryland', nan, []],
 ['22', 'Utilities', 26, 'Michigan', nan, []],
 ['22', 'Utilities', 27, 'Minnesota', nan, []],
 ['22', 'Utilities', 28, 'Mississippi', nan, []],
 ['22', 'Utilities', 29, 'Missouri', nan, []],
 ['22', 'Utilities', 30, 'Montana', nan, []],
 ['22', 'Utilities', 31, 'Nebraska', nan, []],
 ['22', 'Utilities', 32, 'Nevada', nan, []],
 ['22', 'Utilities', 33, 'New Hampshire', nan, []],
 ['22', 'Utilities', 34, 'New Jersey', nan, []],
 ['22', 'Utilities', 35, 'New Mexico', nan, []],
 ['22', 'Utilities', 37, 'North Carolina', nan, []],
 ['22', 'Utilities', 38, 'North Dakota', nan, []],
 ['22', 'Utilities', 39, 'Ohio', nan, []],
 ['22', 'Utilities', 40, 'Oklahoma', nan, []],
 ['22', 'Utilities', 41, 'Oregon', nan, []],
 ['22', 'Utilities', 44, 'Rhode Island', nan, []],
 ['22', 'Utilities', 45, 'South Carolina', nan, []],
 ['22', 'Utilities', 47, 'Tennessee', nan, []],
 ['22', 'Utilities', 50, 'Vermont', nan, []],
 ['22', 'Utilities', 51, 'Virginia', nan, []],
 ['22', 'Utilities', 55, 'Wisconsin', nan, []],
 ['22', 'Utilities', 56, 'Wyoming', nan, []],
 ['22', 'Utilities', 99, 'All States Combined', 652.0, []],
 ['23', 'Construction', 1.0, 'Alabama', 6.0, ['23']],
 ['23', 'Construction', 2.0, 'Alaska', 83.0, ['23']],
 ['23', 'Construction', 5.0, 'Arkansas', 11.0, ['23']],
 ['23', 'Construction', 6.0, 'California', 1676.0, ['23']],
 ['23', 'Construction', 8.0, 'Colorado', 285.0, ['23']],
 ['23', 'Construction', 9.0, 'Connecticut', 17.0, ['23']],
 ['23', 'Construction', 12.0, 'Florida', 187.0, ['23']],
 ['23', 'Construction', 13.0, 'Georgia', 54.0, ['23']],
 ['23', 'Construction', 15.0, 'Hawaii', 7.0, ['23']],
 ['23', 'Construction', 16.0, 'Idaho', 107.0, ['23']],
 ['23', 'Construction', 17.0, 'Illinois', 227.0, ['23']],
 ['23', 'Construction', 18.0, 'Indiana', 80.0, ['23']],
 ['23', 'Construction', 19.0, 'Iowa', 104.0, ['23']],
 ['23', 'Construction', 20.0, 'Kansas', 32.0, ['23']],
 ['23', 'Construction', 24.0, 'Maryland', 86.0, ['23']],
 ['23', 'Construction', 26.0, 'Michigan', 63.0, ['23']],
 ['23', 'Construction', 27.0, 'Minnesota', 142.0, ['23']],
 ['23', 'Construction', 29.0, 'Missouri', 80.0, ['23']],
 ['23', 'Construction', 31.0, 'Nebraska', 106.0, ['23']],
 ['23', 'Construction', 32.0, 'Nevada', 176.0, ['23']],
 ['23', 'Construction', 34.0, 'New Jersey', 78.0, ['23']],
 ['23', 'Construction', 35.0, 'New Mexico', 162.0, ['23']],
 ['23', 'Construction', 36.0, 'New York', 246.0, ['23']],
 ['23', 'Construction', 37.0, 'North Carolina', 167.0, ['23']],
 ['23', 'Construction', 38.0, 'North Dakota', 32.0, ['23']],
 ['23', 'Construction', 39.0, 'Ohio', 108.0, ['23']],
 ['23', 'Construction', 41.0, 'Oregon', 122.0, ['23']],
 ['23', 'Construction', 42.0, 'Pennsylvania', 91.0, ['23']],
 ['23', 'Construction', 46.0, 'South Dakota', 16.0, ['23']],
 ['23', 'Construction', 47.0, 'Tennessee', 8.0, ['23']],
 ['23', 'Construction', 48.0, 'Texas', 728.0, ['23']],
 ['23', 'Construction', 49.0, 'Utah', 196.0, ['23']],
 ['23', 'Construction', 51.0, 'Virginia', 130.0, ['23']],
 ['23', 'Construction', 53.0, 'Washington', 374.0, ['23']],
 ['23', 'Construction', 54.0, 'West Virginia', 33.0, ['23']],
 ['23', 'Construction', 55.0, 'Wisconsin', 23.0, ['23']],
 ['23', 'Construction', 56.0, 'Wyoming', 169.0, ['23']],
 ['23', 'Construction', 10, 'Delaware', nan, []],
 ['23', 'Construction', 11, 'District of Columbia', nan, []],
 ['23', 'Construction', 21, 'Kentucky', nan, []],
 ['23', 'Construction', 22, 'Louisiana', nan, []],
 ['23', 'Construction', 23, 'Maine', nan, []],
 ['23', 'Construction', 25, 'Massachusetts', nan, []],
 ['23', 'Construction', 28, 'Mississippi', nan, []],
 ['23', 'Construction', 30, 'Montana', nan, []],
 ['23', 'Construction', 33, 'New Hampshire', nan, []],
 ['23', 'Construction', 40, 'Oklahoma', nan, []],
 ['23', 'Construction', 44, 'Rhode Island', nan, []],
 ['23', 'Construction', 45, 'South Carolina', nan, []],
 ['23', 'Construction', 50, 'Vermont', nan, []],
 ['23', 'Construction', 99, 'All States Combined', 6212.0, []],
 ['31',
  'Manufacturing',
  1.0,
  'Alabama',
  123.0,
  ['334M2', '33641M1', '337', '3391']],
 ['31', 'Manufacturing', 2.0, 'Alaska', 13.0, ['3254']],
 ['31', 'Manufacturing', 5.0, 'Arkansas', 29.0, ['3114', '3118Z']],
 ['31',
  'Manufacturing',
  6.0,
  'California',
  1854.0,
  ['3114',
   '311M1',
   '311M2',
   '3121',
   '3132Z',
   '314Z',
   '315M',
   '3219ZM',
   '3231',
   '3252',
   '3254',
   '325M',
   '3261',
   '3272',
   '3279',
   '327M',
   '331M',
   '3327',
   '3328',
   '33299M',
   '332M',
   '3341',
   '3345',
   '334M1',
   '334M2',
   '335M',
   '33641M1',
   '33641M2',
   '336M',
   '337',
   '3391',
   '3399ZM',
   '4MS']],
 ['31',
  'Manufacturing',
  8.0,
  'Colorado',
  270.0,
  ['3116',
   '3121',
   '3231',
   '3254',
   '325M',
   '332MZ',
   '3345',
   '334M1',
   '334M2',
   '33641M1',
   '337',
   '3391',
   '4MS']],
 ['31',
  'Manufacturing',
  9.0,
  'Connecticut',
  75.0,
  ['3254', '33641M1', '33641M2']],
 ['31',
  'Manufacturing',
  12.0,
  'Florida',
  342.0,
  ['3254', '334M2', '33641M1', '336M', '3391']],
 ['31', 'Manufacturing', 13.0, 'Georgia', 74.0, ['3327', '337', '4MS']],
 ['31',
  'Manufacturing',
  15.0,
  'Hawaii',
  115.0,
  ['3327', '332M', '334M2', '33641M1', '337']],
 ['31',
  'Manufacturing',
  16.0,
  'Idaho',
  88.0,
  ['3254', '3256', '334M2', '336M', '337', '4MS']],
 ['31',
  'Manufacturing',
  17.0,
  'Illinois',
  334.0,
  ['3121',
   '314Z',
   '3256',
   '327M',
   '331M',
   '3331M',
   '334M2',
   '335M',
   '33641M1',
   '33641M2']],
 ['31', 'Manufacturing', 18.0, 'Indiana', 73.0, ['332MZ', '333MS', '3345']],
 ['31', 'Manufacturing', 19.0, 'Iowa', 16.0, ['33641M1']],
 ['31',
  'Manufacturing',
  20.0,
  'Kansas',
  100.0,
  ['3116', '3118Z', '3231', '33641M1', '3391']],
 ['31', 'Manufacturing', 21.0, 'Kentucky', 34.0, ['3256', '3345']],
 ['31', 'Manufacturing', 22.0, 'Louisiana', 22.0, ['333MS']],
 ['31', 'Manufacturing', 23.0, 'Maine', 20.0, ['3115']],
 ['31', 'Manufacturing', 24.0, 'Maryland', 160.0, ['3335', '334M2']],
 ['31',
  'Manufacturing',
  25.0,
  'Massachusetts',
  241.0,
  ['311811', '3335', '333MS', '334M2', '33641M2']],
 ['31',
  'Manufacturing',
  26.0,
  'Michigan',
  179.0,
  ['335M', '33641M1', '33641M2', '336M', '3399ZM']],
 ['31',
  'Manufacturing',
  27.0,
  'Minnesota',
  173.0,
  ['33299M', '333MS', '334M2', '3391']],
 ['31', 'Manufacturing', 28.0, 'Mississippi', 11.0, ['33641M2']],
 ['31',
  'Manufacturing',
  29.0,
  'Missouri',
  93.0,
  ['3252', '327M', '335M', '33641M1', '33641M2']],
 ['31', 'Manufacturing', 31.0, 'Nebraska', 24.0, ['3116']],
 ['31', 'Manufacturing', 32.0, 'Nevada', 48.0, ['333MS', '334M2']],
 ['31', 'Manufacturing', 34.0, 'New Jersey', 20.0, ['327M', '33641M2']],
 ['31',
  'Manufacturing',
  35.0,
  'New Mexico',
  184.0,
  ['332M', '334M2', '33641M1', '337', '3391', '3399ZM']],
 ['31',
  'Manufacturing',
  36.0,
  'New York',
  321.0,
  ['311S', '3254', '334M2', '33641M1', '33641M2', '3391']],
 ['31',
  'Manufacturing',
  37.0,
  'North Carolina',
  53.0,
  ['333MS', '334M2', '337', '3391']],
 ['31', 'Manufacturing', 38.0, 'North Dakota', 89.0, ['3333', '3341']],
 ['31',
  'Manufacturing',
  39.0,
  'Ohio',
  128.0,
  ['3115', '3219ZM', '3262M', '336M']],
 ['31',
  'Manufacturing',
  40.0,
  'Oklahoma',
  84.0,
  ['332M', '3341', '337', '3391']],
 ['31',
  'Manufacturing',
  41.0,
  'Oregon',
  365.0,
  ['3211',
   '3219ZM',
   '3262M',
   '332MZ',
   '3333',
   '333MS',
   '334M2',
   '33641M1',
   '33641M2',
   '337',
   '3399ZM']],
 ['31',
  'Manufacturing',
  42.0,
  'Pennsylvania',
  209.0,
  ['3121', '332M', '3345', '33641M1', '33641M2', '3391', '4MS']],
 ['31', 'Manufacturing', 45.0, 'South Carolina', 25.0, ['3314', '33641M1']],
 ['31', 'Manufacturing', 46.0, 'South Dakota', 11.0, ['3327']],
 ['31', 'Manufacturing', 47.0, 'Tennessee', 24.0, ['3221', '33641M1']],
 ['31',
  'Manufacturing',
  48.0,
  'Texas',
  391.0,
  ['3121',
   '31411',
   '3231',
   '32411',
   '3254',
   '3327',
   '3333',
   '334M2',
   '335M',
   '33641M1',
   '337',
   '3391',
   '3399ZM']],
 ['31',
  'Manufacturing',
  49.0,
  'Utah',
  183.0,
  ['311811', '3121', '3211', '3219ZM', '3231', '334M2', '33641M2', '3399M']],
 ['31',
  'Manufacturing',
  51.0,
  'Virginia',
  183.0,
  ['3121', '3321', '3345', '334M2', '33641M1', '33641M2']],
 ['31',
  'Manufacturing',
  53.0,
  'Washington',
  743.0,
  ['3231',
   '3279',
   '3314',
   '3327',
   '3335',
   '3341',
   '334M1',
   '334M2',
   '335M',
   '33641M1',
   '336M',
   '3399M']],
 ['31',
  'Manufacturing',
  55.0,
  'Wisconsin',
  151.0,
  ['311811', '3327', '3331M', '333MS', '334M2', '33641M1']],
 ['31', 'Manufacturing', 10, 'Delaware', nan, []],
 ['31', 'Manufacturing', 11, 'District of Columbia', nan, []],
 ['31', 'Manufacturing', 30, 'Montana', nan, []],
 ['31', 'Manufacturing', 33, 'New Hampshire', nan, []],
 ['31', 'Manufacturing', 44, 'Rhode Island', nan, []],
 ['31', 'Manufacturing', 50, 'Vermont', nan, []],
 ['31', 'Manufacturing', 54, 'West Virginia', nan, []],

In [50]:
p1_all_state_df = pd.DataFrame(p1_all_state, columns=["NAICS", "Description", "MIGSP", "State", "MovedToAZLastYear", "NAICSPs"])
p1_all_state_df

,NAICS,Description,MIGSP,State,MovedToAZLastYear,NAICSPs
0,11,"Agriculture, Forestry, Fishing and Hunting",2.0,Alaska,30.0,[114]
1,11,"Agriculture, Forestry, Fishing and Hunting",6.0,California,249.0,"[111, 112, 113M]"
2,11,"Agriculture, Forestry, Fishing and Hunting",8.0,Colorado,110.0,"[111, 112, 115]"
3,11,"Agriculture, Forestry, Fishing and Hunting",12.0,Florida,15.0,[111]
4,11,"Agriculture, Forestry, Fishing and Hunting",16.0,Idaho,22.0,[113M]
...,...,...,...,...,...,...
1066,92,Government and Military,33.0,New Hampshire,NaN,[]
1067,92,Government and Military,44.0,Rhode Island,NaN,[]
1068,92,Government and Military,46.0,South Dakota,NaN,[]
1069,92,Government and Military,54.0,West Virginia,NaN,[]
1070,92,Government and Military,99.0,All States Combined,8279.0,[]

In [51]:
# aggregate all industries over each state and get weight
extra_agg = p1_all_state_df.groupby("MIGSP")["MovedToAZLastYear"].sum()
extra_agg = list(map(lambda x: list(x), list(extra_agg.to_dict().items())))
for i,_ in enumerate(extra_agg):
    if extra_agg[i][0] != 4:
        extra_agg[i].insert(0, '0')
        extra_agg[i].insert(1, "All Industries Aggregated")
        extra_agg[i].insert(3, state_id_to_name[extra_agg[i][2]][0])
        extra_agg[i].insert(5,float('nan'))
extra_agg = pd.DataFrame(extra_agg, columns=["NAICS", "Description", "MIGSP", "State", "MovedToAZLastYear", "NAICSPs"])
p1_all_state_df = pd.concat([p1_all_state_df, extra_agg]).reset_index(drop=True)

In [52]:
p1_all_state_df.groupby('NAICS')["MovedToAZLastYear"].sum()

NAICS
0     235848.0
11      1664.0
21       914.0
22      1304.0
23     12424.0
31     15350.0
42      6366.0
44     25108.0
48      8882.0
51      4612.0
52     13830.0
53      4558.0
54     23142.0
55       448.0
56     14236.0
61     16682.0
62     30554.0
71      6354.0
72     14442.0
81      7888.0
90     10532.0
92     16558.0
Name: MovedToAZLastYear, dtype: float64

In [53]:
p1_all_state_df["PumsPopulation"] = float('nan')
for i in p1_all_state_df.index:
    naics = p1_all_state_df.iloc[i]["NAICS"]
    p1_all_state_df.loc[i, "PumsPopulation"] = total_weights_bynaics[naics]

In [54]:
p1_all_state_df.head()

,NAICS,Description,MIGSP,State,MovedToAZLastYear,NAICSPs,PumsPopulation
0,11,"Agriculture, Forestry, Fishing and Hunting",2.0,Alaska,30.0,[114],26587.0
1,11,"Agriculture, Forestry, Fishing and Hunting",6.0,California,249.0,"[111, 112, 113M]",26587.0
2,11,"Agriculture, Forestry, Fishing and Hunting",8.0,Colorado,110.0,"[111, 112, 115]",26587.0
3,11,"Agriculture, Forestry, Fishing and Hunting",12.0,Florida,15.0,[111],26587.0
4,11,"Agriculture, Forestry, Fishing and Hunting",16.0,Idaho,22.0,[113M],26587.0

In [55]:
p1_all_state_df = p1_all_state_df[["NAICS", "Description", "MIGSP", "State", "MovedToAZLastYear","PumsPopulation"]]

In [56]:
p1_all_state_df[p1_all_state_df.MovedToAZLastYear.isna()]

,NAICS,Description,MIGSP,State,MovedToAZLastYear,PumsPopulation
16,11,"Agriculture, Forestry, Fishing and Hunting",1.0,Alabama,NaN,26587.0
17,11,"Agriculture, Forestry, Fishing and Hunting",5.0,Arkansas,NaN,26587.0
18,11,"Agriculture, Forestry, Fishing and Hunting",9.0,Connecticut,NaN,26587.0
19,11,"Agriculture, Forestry, Fishing and Hunting",10.0,Delaware,NaN,26587.0
20,11,"Agriculture, Forestry, Fishing and Hunting",11.0,District of Columbia,NaN,26587.0
...,...,...,...,...,...,...
1065,92,Government and Military,19.0,Iowa,NaN,168397.0
1066,92,Government and Military,33.0,New Hampshire,NaN,168397.0
1067,92,Government and Military,44.0,Rhode Island,NaN,168397.0
1068,92,Government and Military,46.0,South Dakota,NaN,168397.0
1069,92,Government and Military,54.0,West Virginia,NaN,168397.0

In [57]:
total_weights_bynaics

ftNAICSP
11      26587.0
21      13419.0
22      30237.0
23     223614.0
31     220883.0
42      70814.0
44     337542.0
48     140118.0
51      53052.0
52     196657.0
53      76163.0
54     207076.0
55       5622.0
56     179950.0
61     273756.0
62     404457.0
71      67426.0
72     201013.0
81     143867.0
90     150293.0
92     168397.0
0     3190943.0
Name: PWGTP, dtype: float64

# p1 wide form

In [58]:
p1_all_state_df.MovedToAZLastYear.sum()

471696.0

In [59]:
# p1_all_state_df.NAICS = p1_all_state_df.NAICS.astype(str)

In [60]:
# new_cols = p1_all_state_df.NAICS.apply(lambda x: "MovedToAZLastYear_"+str(x)).unique()

In [61]:
# wide_df = pd.DataFrame(p1_all_state_df.State.unique(), columns=["State"])

In [62]:
# for col in new_cols:
#     wide_df[col] = ''
#     for i in wide_df.index:
#         st = wide_df.iloc[i]["State"]
#         wide_df.at[i,col] = p1_all_state_df[(p1_all_state_df.State==st) & (p1_all_state_df.NAICS==col.split('_')[1])].MovedToAZLastYear.values[0]

In [63]:
# wide_df.to_excel("pums_wideform_MovedToAZ_0810.xlsx")

# Part 2

In [64]:
grouped_by__socp_wgt = pums_outofaz.groupby(['SOCP'])["PWGTP"].sum()
grouped_by_socp_naicsp = pums_outofaz.groupby(['SOCP'])['NAICSP'].apply(lambda x : list(np.unique(list(x))))

In [65]:
# p2 = []
# for key in grouped_by_naics_socp_wgt.keys():
#     ind_name = industry_naics.loc[industry_naics.NAICS==key[0]]["Description"].values
#     if len(ind_name) == 0:
#         continue
#     else:
#         ind_name = ind_name[0]
#     ind_naics = key[0]
#     wgt = grouped_by_naics_socp_wgt[key]
#     naicsp = grouped_by_naics_socp_naicsp[key]
#     socp = key[1]
#     try:
#         socp_title = pums_titles.loc[pums_titles.SOCP==socp]["Title"].values[0]
#     except IndexError:
#         socp_title = 'Title Unavailable'
        
#     row = [ind_naics, ind_name, socp, socp_title, wgt, naicsp]
#     p2.append(row)

In [66]:
# p2_out = pd.DataFrame(p2, columns=["NAICS", "Description", "SOCP", "SOCP Title", "MovedToAZLastYear", "NAICSPs"])

In [67]:
# p2_out[p2_out["SOCP Title"]=='Title Unavailable']

In [68]:
# p2_out.to_csv("21_Part2_MovedToAZ_0705.csv", index=False)

### Part 2 all / Ignore broken

In [69]:
# p2_all = []
# for key in grouped_by_naics_wgt.keys():
#     ind_name = industry_naics.loc[industry_naics.NAICS==key[0]]["Description"].values
#     if len(ind_name) == 0:
#         ind_name = ''
#         ind_naics = ''
#     else:
#         ind_name = ind_name[0]
#         ind_naics = key[0]
#     wgt = grouped_by_naics_socp_wgt[key]
#     print(wgt)
#     naicsp = grouped_by_naics_socp_naicsp[key]
#     print(naicsp)
#     break
#     socp = key[1]
#     try:
#         socp_title = pums_titles.loc[pums_titles.SOCP==socp]["Title"].values[0]
#     except IndexError:
#         socp_title = 'Title Unavailable'
#     row = [ind_naics, ind_name, socp, socp_title, wgt, naicsp]
#     p2_all.append(row)

In [70]:
# p2_all_out = pd.DataFrame(p2_all, columns=["NAICS", "Description", "SOCP", "SOCP Title", "MovedToAZLastYear", "NAICSPs"])

In [71]:
# p2_all_out

In [72]:
# p2_all_out.to_csv("pums_Part2_MovedToAZ_0705.csv", index=False)

# Part 2 All by State

In [73]:
grouped_bysoc_state_wgt = pums_outofaz.groupby(['SOCP', 'MIGSP'])["PWGTP"].sum()
# grouped_bysoc_state_naicsp = pums_outofaz.groupby(['SOCP','MIGSP'])['NAICSP'].apply(lambda x : list(np.unique(list(x))))
all_states_combinedp2 = pums_outofaz.groupby(['SOCP'])['PWGTP'].sum()

In [74]:
grouped_bysoc_state_wgt

SOCP    MIGSP
111021  1.0       25.0
        6.0      240.0
        8.0      156.0
        11.0      14.0
        12.0     155.0
                 ...
559830  37.0      51.0
        39.0      39.0
        42.0       2.0
        48.0     137.0
        51.0      60.0
Name: PWGTP, Length: 2775, dtype: float64

In [75]:
all_states_combinedp2

SOCP
111021    1117.0
1110XX    1140.0
112011      65.0
112021     871.0
112022     573.0
           ...
5371XX      35.0
551010     449.0
552010     117.0
553010     418.0
559830     694.0
Name: PWGTP, Length: 432, dtype: float64

In [76]:
import tqdm

In [77]:
p2_all_state= []

for socp in tqdm.tqdm(grouped_bysoc_state_wgt.keys().get_level_values(0).unique()):
    #added 9.23 Total pums weight for occ
    total_wgt = total_weights_bysocp[socp]
    
    try:
        socp_title = pums_titles.loc[pums_titles.SOCP==socp]["Title"].values[0]
    except IndexError:
        socp_title = 'Title Unavailable'

    for migsp in grouped_bysoc_state_wgt[socp].keys():

        wgt = grouped_bysoc_state_wgt[socp, migsp]

        state_title = pums_migsp_titles.loc[pums_migsp_titles.MIGSP==migsp]["Name"].values[0]
        row = [socp, socp_title, migsp, state_title, wgt, total_wgt]
        p2_all_state.append(row)

    for i in pums_migsp_titles.index[:-1]:
        migsp = pums_migsp_titles.iloc[i]["MIGSP"]  
        if float(migsp) not in grouped_bysoc_state_wgt[socp].keys() and migsp != 4:
            row = [socp, socp_title,  migsp, 
                   pums_migsp_titles.loc[pums_migsp_titles.MIGSP==migsp]["Name"].values[0],
                   missing_state_value, total_wgt]
            p2_all_state.append(row)
    # All states combined
    acs_p3 = all_states_combinedp2[socp]
    p2_all_state.append([socp, socp_title, 99, "All States Combined", acs_p3, total_wgt])

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 432/432 [00:15<00:00, 27.19it/s]

In [78]:
p2_all_state_df = pd.DataFrame(p2_all_state, columns=["SOCP", "SOCP Title", "MIGSP", "FromState", "MovedToAZLastYear", "PumsPopulation"])

In [79]:
p2_all_state_df[p2_all_state_df.MovedToAZLastYear.isna()]

,SOCP,SOCP Title,MIGSP,FromState,MovedToAZLastYear,PumsPopulation
21,111021,General And Operations Managers,2.0,Alaska,NaN,22977.0
22,111021,General And Operations Managers,5.0,Arkansas,NaN,22977.0
23,111021,General And Operations Managers,9.0,Connecticut,NaN,22977.0
24,111021,General And Operations Managers,10.0,Delaware,NaN,22977.0
25,111021,General And Operations Managers,15.0,Hawaii,NaN,22977.0
...,...,...,...,...,...,...
22026,559830,"Mil-Military, Rank Not Specified",50.0,Vermont,NaN,4936.0
22027,559830,"Mil-Military, Rank Not Specified",53.0,Washington,NaN,4936.0
22028,559830,"Mil-Military, Rank Not Specified",54.0,West Virginia,NaN,4936.0
22029,559830,"Mil-Military, Rank Not Specified",55.0,Wisconsin,NaN,4936.0
22030,559830,"Mil-Military, Rank Not Specified",56.0,Wyoming,NaN,4936.0

In [80]:
p2_all_state_df.MovedToAZLastYear.sum()

235848.0

In [81]:
temp_p2 = pd.DataFrame()
temp_grouped = p2_all_state_df.groupby(["MIGSP","FromState"]).agg({"MovedToAZLastYear":'sum'}).reset_index()

temp_p2["MIGSP"] = temp_grouped["MIGSP"]
temp_p2["FromState"] = temp_grouped["FromState"]
temp_p2["SOCP"] = '0'
temp_p2["SOCP Title"] = 'All Occupations Aggregated'
temp_p2["MovedToAZLastYear"] = temp_grouped["MovedToAZLastYear"]
temp_p2["PumsPopulation"] = total_weights_bysocp['0']
p2_all_state_final_df = pd.concat([p2_all_state_df, temp_p2])

In [82]:
p2_all_state_final_df

,SOCP,SOCP Title,MIGSP,FromState,MovedToAZLastYear,PumsPopulation
0,111021,General And Operations Managers,1.0,Alabama,25.0,22977.0
1,111021,General And Operations Managers,6.0,California,240.0,22977.0
2,111021,General And Operations Managers,8.0,Colorado,156.0,22977.0
3,111021,General And Operations Managers,11.0,District of Columbia,14.0,22977.0
4,111021,General And Operations Managers,12.0,Florida,155.0,22977.0
...,...,...,...,...,...,...
46,0,All Occupations Aggregated,53.0,Washington,6229.0,3190943.0
47,0,All Occupations Aggregated,54.0,West Virginia,367.0,3190943.0
48,0,All Occupations Aggregated,55.0,Wisconsin,1763.0,3190943.0
49,0,All Occupations Aggregated,56.0,Wyoming,827.0,3190943.0
50,0,All Occupations Aggregated,99.0,All States Combined,117924.0,3190943.0

In [83]:
p2_all_state_final_df.MovedToAZLastYear.sum()

471696.0

In [84]:
p2_all_state_final_df[p2_all_state_final_df["SOCP Title"] == 'Title Unavailable']

Empty DataFrame
Columns: [SOCP, SOCP Title, MIGSP, FromState, MovedToAZLastYear, PumsPopulation]
Index: []

In [85]:
p2_all_state_final_df.to_excel(f"pums{pyear}_Part2_MovedToAZ_bystate_0901.xlsx", index=False)

## Part 3

In [86]:
us_state_codes = "AL AK AZ AR CA CO CT DE FL GA HI ID IL IN IA KS KY LA ME MD MA MI MN MS MO MT NE NV NH NJ NM NY NC ND OH OK OR PA RI SC SD TN TX UT VT VA WA WV WI WY"
us_state_codes = us_state_codes.split(" ")
us_state_codes.remove('AZ')

us_state_codes = list(map(lambda x: x.lower(), us_state_codes))

### Download PUMS States

In [87]:
import requests, zipfile, io
import os
# import time

In [88]:
#virinchi commented whole cell#

# dest = f"{pyear}/pums_states/"
# # os.makedirs(dest)
# if not os.path.exists(dest):
#     os.mkdir(dest)

# uri = mass_dl_url
# headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:104.0) Gecko/20100101 Firefox/104.0'}

# for sc in us_state_codes:
#     print(uri+sc+'.zip')
#     r = requests.get(uri+sc+'.zip', headers=headers)
#     print(sc, r.status_code)
#     z = zipfile.ZipFile(io.BytesIO(r.content))
#     z.extractall(f"{dest}{sc}")

In [89]:
from glob import glob

In [90]:
# moved_out_dict = {}

# for sc in us_state_codes:
#     file = glob(f"{dest}{sc}/ss16p*.csv")
#     df = pd.read_csv(file[0], usecols=["SOCP", "NAICSP", "PWGTP", "MIGSP"])
#     df = df[df.MIGSP==4]
#     df['NAICSP'] = df['NAICSP'].astype(str)
#     df['ftNAICSP'] = df["NAICSP"].apply(lambda x: x[:2])
    
#     df = df[df["ftNAICSP"].isin(["3M", "4M", "92"])==False]
#     df.loc[df["ftNAICSP"]=="32","ftNAICSP"] = "31" 
#     df.loc[df["ftNAICSP"]=="33","ftNAICSP"] = "31" 

#     df.loc[df["ftNAICSP"]=="45","ftNAICSP"] = "44"

#     df.loc[df["ftNAICSP"]=="49","ftNAICSP"] = "48"
    
#     df = df[df["ftNAICSP"]!="na"]
    
#     df.ftNAICSP = df.ftNAICSP.astype(str)
    
#     print(sc, df.shape)
    
#     naics_socp_agg = df.groupby(["ftNAICSP", "SOCP"])["PWGTP"].sum()
    
#     for key in naics_socp_agg.keys():
#         naics = key[0]
#         socp = key[1]
        
#         if naics not in moved_out_dict.keys():
#             moved_out_dict[naics] = {}
        
#         if socp not in moved_out_dict[naics].keys():
#             moved_out_dict[naics][socp] = 0
        
#         moved_out_dict[naics][socp] += naics_socp_agg[key]
    
# moved_out_dict

In [91]:
# # part 3 for only 21 industries
# aggd_21_ind_rows = []

# for i in industry_naics.index:
#     r = industry_naics.iloc[i]
#     if r.NAICS in moved_out_dict.keys():
#         for socp in moved_out_dict[r.NAICS]:
#             aggd_21_ind_rows.append([r.NAICS, r.Description, 
#                                      socp, 
#                                      pums_titles.loc[pums_titles.SOCP==socp]["Title"].values[0],
#                                      moved_out_dict[r.NAICS][socp]])
#     else:
#         aggd_21_ind_rows.append([r.NAICS, r.Description,'','',''])

# moved_out_21_df = pd.DataFrame(aggd_21_ind_rows, columns=["NAICS", "Description", "SOCP", "SOCP Title", "MovedOutOfAZLastYear"])

In [92]:
# moved_out_21_df.to_csv("21_Part3_MovedOutOfAZ_0805.csv", index=False)

# Part 3 By State

In [93]:
moved_out_dict = {}
file_prefix = 'psam_p'

for sc in us_state_codes:
    migsp = pums_migsp_titles[pums_migsp_titles.Short == sc.upper()]
#     print(f"{dest}{sc}/psam_p*.csv")
    file = glob(f"{dest}{sc}/{file_prefix}*.csv")
#     print(file)
    df = pd.read_csv(file[0], usecols=["AGEP", "ESR", "SOCP", "NAICSP", "PWGTP", "MIGSP"])
    
    #virinchi cell#
    df = df[ (df['AGEP']>20) & ((df['ESR'] == 1) | (df['ESR'] == 2) | (df['ESR'] == 4) | (df['ESR'] == 5) )]
    #virinchi cell#
    
    df = df[df.MIGSP==4]
    df['NAICSP'] = df['NAICSP'].astype(str)
    df['ftNAICSP'] = df["NAICSP"].apply(lambda x: x[:2])

    df.loc[df["ftNAICSP"]=="32","ftNAICSP"] = "31" 
    df.loc[df["ftNAICSP"]=="33","ftNAICSP"] = "31" 

    df.loc[df["ftNAICSP"]=="45","ftNAICSP"] = "44"

    df.loc[df["ftNAICSP"]=="49","ftNAICSP"] = "48"
    
    df.loc[df["ftNAICSP"]=="4M","ftNAICSP"] = "31" # manufacturing

    df.loc[df["ftNAICSP"]=="3M","ftNAICSP"] = "44"  # retail
    
    # govt codes
    temp_df = df.loc[df.ftNAICSP.isin(naics_titles[naics_titles.Title.str.startswith('Adm-')].NAICSP.apply(lambda x:x[:2]).values)]

    if temp_df.size > 0:
        temp_df.loc[:,"ftNAICSP"] = '90'
        df = pd.concat([df, temp_df])
        df = df.reset_index(drop=True)
    # # # # # #
    
    df = df[df["ftNAICSP"]!="na"]
    
    df.ftNAICSP = df.ftNAICSP.astype(str)
    
    print(sc, df.shape)
    
    naics_socp_agg = df.groupby(["ftNAICSP", "SOCP"])["PWGTP"].sum()
    sc = migsp.MIGSP.values[0]
    moved_out_dict[sc] = {}
    
    for key in naics_socp_agg.keys():
        naics = key[0]
        socp = key[1]
        
        if naics not in moved_out_dict[sc].keys():
            moved_out_dict[sc][naics] = {}
        
        if socp not in moved_out_dict[sc][naics].keys():
            moved_out_dict[sc][naics][socp] = 0
        
        moved_out_dict[sc][naics][socp] += naics_socp_agg[key]
    
moved_out_dict

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:9: DtypeWarning: Columns (97,128) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file[0], usecols=["AGEP", "ESR", "SOCP", "NAICSP", "PWGTP", "MIGSP"])
C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

al (24, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

ak (36, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

ar (18, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

ca (569, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

co (210, 7)
ct (12, 7)
de (1, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

fl (184, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

ga (75, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

hi (39, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

id (67, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

il (95, 7)
in (33, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

ia (37, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

ks (30, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

ky (27, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

la (22, 7)
me (7, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

md (51, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

ma (41, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

mi (89, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

mn (46, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

ms (10, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

mo (60, 7)
mt (21, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

ne (22, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

nv (129, 7)
nh (18, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

nj (26, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

nm (80, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

ny (76, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

nc (90, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

nd (7, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

oh (35, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

ok (39, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

or (133, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

pa (53, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

ri (19, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

sc (52, 7)
sd (9, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

tn (67, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

tx (370, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

ut (166, 7)
vt (3, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

va (86, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

wa (207, 7)
wv (3, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

wi (51, 7)
wy (23, 7)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\3585280033.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.loc[:,"ftNAICSP"] = '90'

{1: {'22': {'339030': 41},
  '23': {'472140': 45},
  '31': {'172011': 22, '439XXX': 22, '49904X': 11, '511011': 4},
  '42': {'5191XX': 5},
  '44': {'414010': 26, '537065': 6},
  '48': {'435052': 35, '533030': 11},
  '54': {'1191XX': 25, '151241': 47, '172051': 28},
  '56': {'259040': 13, '413091': 53},
  '61': {'251000': 8},
  '90': {'232011': 64, '532010': 7, '553010': 14},
  '92': {'232011': 64, '532010': 7, '553010': 14}},
 2: {'11': {'1940YY': 1},
  '23': {'472031': 36, '533030': 40},
  '42': {'5191XX': 17},
  '44': {'291051': 13, '37201X': 6},
  '48': {'397010': 3, '533054': 33},
  '56': {'37201X': 58, '397010': 41},
  '61': {'251000': 26, '259040': 30},
  '62': {'292061': 28, '319097': 41},
  '71': {'2530XX': 31, '272021': 18},
  '81': {'411012': 10, '4330XX': 23},
  '90': {'431011': 24,
   '499071': 15,
   '519160': 39,
   '537065': 15,
   '553010': 32,
   '559830': 38},
  '92': {'431011': 24,
   '499071': 15,
   '519160': 39,
   '537065': 15,
   '553010': 32,
   '559830': 38}},
 5: {'23': {'474051': 23},
  '31': {'511011': 61, '537062': 23},
  '44': {'1191XX': 6,
   '411011': 16,
   '412010': 23,
   '434051': 23,
   '5120XX': 3,
   '513020': 5},
  '48': {'435021': 21},
  '62': {'319091': 47, '372012': 39},
  '72': {'434171': 98},
  '81': {'212011': 3},
  '90': {'19303X': 17, '559830': 6},
  '92': {'19303X': 17, '559830': 6}},
 6: {'11': {'119013': 11, '4520XX': 84, '537051': 17},
  '22': {'131111': 19, '1721YY': 12, '37201X': 12, '499051': 29, '518090': 35},
  '23': {'1110XX': 11,
   '119021': 112,
   '1191XX': 11,
   '131051': 24,
   '131161': 45,
   '2530XX': 13,
   '27102X': 12,
   '373011': 16,
   '413091': 110,
   '419041': 45,
   '434051': 16,
   '472031': 17,
   '472061': 75,
   '472070': 46,
   '472111': 11,
   '472152': 20,
   '472181': 37},
  '31': {'111021': 104,
   '1110XX': 13,
   '112021': 52,
   '113061': 32,
   '119041': 26,
   '1191XX': 79,
   '131161': 61,
   '151252': 52,
   '1520XX': 23,
   '172011': 22,
   '172061': 55,
   '172110': 36,
   '1721YY': 46,
   '17302X': 16,
   '191020': 10,
   '27102X': 110,
   '353011': 13,
   '392021': 11,
   '412031': 80,
   '414010': 7,
   '431011': 16,
   '493011': 10,
   '513011': 29,
   '514041': 19,
   '519061': 26,
   '519111': 13,
   '519120': 37,
   '5191XX': 35,
   '537051': 18},
  '42': {'111021': 17,
   '112021': 14,
   '113071': 50,
   '414010': 54,
   '434051': 18,
   '436014': 10,
   '491011': 32,
   '533030': 208},
  '44': {'113013': 46,
   '113031': 109,
   '131070': 23,
   '131111': 113,
   '132011': 38,
   '151251': 20,
   '17302X': 21,
   '2530XX': 19,
   '271025': 13,
   '291299': 53,
   '352021': 12,
   '392021': 9,
   '411011': 445,
   '412010': 100,
   '412031': 276,
   '419099': 9,
   '433031': 12,
   '434051': 43,
   '439021': 12,
   '491011': 14,
   '493023': 19,
   '499060': 76,
   '519061': 13,
   '537065': 22},
  '48': {'1110XX': 36,
   '1191XX': 26,
   '434051': 89,
   '434181': 5,
   '435021': 16,
   '435032': 25,
   '435051': 49,
   '435052': 13,
   '532010': 71,
   '532020': 23,
   '533054': 30,
   '537062': 46,
   '537065': 21},
  '51': {'112021': 40,
   '113013': 10,
   '1191XX': 45,
   '131111': 34,
   '151252': 21,
   '272012': 21,
   '273023': 68,
   '273031': 27,
   '273041': 16,
   '273043': 46,
   '274030': 13,
   '396010': 23,
   '434051': 20,
   '436014': 15},
  '52': {'113031': 102,
   '1191XX': 33,
   '131030': 17,
   '131111': 8,
   '131141': 13,
   '132011': 72,
   '132051': 32,
   '132070': 48,
   '151211': 27,
   '151252': 65,
   '1721YY': 34,
   '411012': 12,
   '413031': 21,
   '431011': 16,
   '4330XX': 16,
   '434051': 6,
   '434161': 32,
   '434171': 30,
   '436011': 25,
   '439041': 15,
   '439XXX': 34,
   '492020': 44},
  '53': {'1110XX': 7,
   '112021': 22,
   '119141': 75,
   '1191XX': 18,
   '419020': 142,
   '436014': 37,
   '439XXX': 29},
  '54': {'1110XX': 8,
   '112021': 20,
   '1191XX': 196,
   '131023': 17,
   '131111': 28,
   '131199': 13,
   '132011': 44,
   '132052': 28,
   '132082': 10,
   '151211': 43,
   '151221': 15,
   '151230': 26,
   '151252': 65,
   '151299': 49,
   '172051': 23,
   '172070': 15,
   '172110': 21,
   '172141': 33,
   '1721YY': 95,
   '17301X': 96,
   '192010': 35,
   '192099': 34,
   '2310XX': 19,
   '232011': 23,
   '271025': 10,
   '27102X': 58,
   '274030': 13,
   '292056': 59,
   '339030': 10,
   '413011': 12,
   '419099': 13,
   '433031': 96,
   '434051': 23,
   '435061': 5,
   '436014': 16},
  '56': {'111021': 14,
   '112022': 7,
   '1191XX': 20,
   '131070': 25,
   '339030': 45,
   '372021': 23,
   '373011': 36,
   '431011': 10,
   '434051': 56,
   '435111': 4,
   '472061': 34,
   '474041': 10,
   '4990XX': 11},
  '61': {'112021': 21,
   '113121': 23,
   '119030': 44,
   '1191XX': 7,
   '151251': 25,
   '151299': 7,
   '211012': 31,
   '211019': 54,
   '211093': 4,
   '251000': 206,
   '252020': 232,
   '252030': 84,
   '253041': 17,
   '2530XX': 76,
   '291127': 9,
   '339030': 13,
   '352010': 37,
   '352021': 14,
   '373011': 31,
   '434171': 26,
   '434YYY': 9,
   '533030': 10},
  '62': {'112022': 34,
   '119141': 28,
   '119151': 34,
   '1191XX': 28,
   '131023': 131,
   '131070': 14,
   '131111': 14,
   '1910XX': 20,
   '211093': 37,
   '259040': 35,
   '291020': 11,
   '291071': 12,
   '291123': 65,
   '291127': 24,
   '291141': 198,
   '291181': 17,
   '291210': 179,
   '291292': 24,
   '292010': 48,
   '292032': 38,
   '292052': 16,
   '292053': 11,
   '292090': 21,
   '311122': 136,
   '311131': 66,
   '312020': 66,
   '37201X': 11,
   '434051': 15,
   '434061': 24,
   '434YYY': 19,
   '436014': 14,
   '439061': 59,
   '439XXX': 12,
   '499060': 37},
  '71': {'111021': 15,
   '119070': 2,
   '254010': 19,
   '272022': 6,
   '272023': 21,
   '272042': 7,
   '273091': 19,
   '299000': 168,
   '339030': 8,
   '359011': 18,
   '37201X': 6,
   '392021': 27,
   '3930XX': 20,
   '399031': 47,
   '412010': 31,
   '412031': 29,
   '434051': 21,
   '439061': 6,
   '439XXX': 16,
   '519195': 27},
  '72': {'119051': 128,
   '1191XX': 16,
   '351011': 15,
   '352010': 143,
   '352021': 42,
   '353011': 75,
   '353031': 99,
   '359011': 65,
   '359031': 185,
   '372012': 10,
   '412010': 122,
   '434081': 43},
  '81': {'211029': 11,
   '212011': 19,
   '311122': 5,
   '333050': 11,
   '372012': 57,
   '391000': 6,
   '392021': 63,
   '395092': 11,
   '436014': 15,
   '4990XX': 36},
  '90': {'119081': 24,
   '131111': 15,
   '132081': 13,
   '172070': 8,
   '1721YY': 10,
   '173023': 12,
   '1910XX': 11,
   '21109X': 41,
   '2310XX': 69,
   '291210': 9,
   '331090': 65,
   '332011': 2,
   '333050': 64,
   '3930XX': 24,
   '435032': 16,
   '436014': 16,
   '491011': 76,
   '492091': 55,
   '493011': 5,
   '499043': 33,
   '499071': 11,
   '532010': 39,
   '551010': 84,
   '553010': 169,
   '559830': 428},
  '92': {'119081': 24,
   '131111': 15,
   '132081': 13,
   '172070': 8,
   '1721YY': 10,
   '173023': 12,
   '1910XX': 11,
   '21109X': 41,
   '2310XX': 69,
   '291210': 9,
   '331090': 65,
   '332011': 2,
   '333050': 64,
   '3930XX': 24,
   '435032': 16,
   '436014': 16,
   '491011': 76,
   '492091': 55,
   '493011': 5,
   '499043': 33,
   '499071': 11,
   '532010': 39,
   '551010': 84,
   '553010': 169,
   '559830': 428}},
 8: {'11': {'119013': 22, '1191XX': 12, '4520XX': 124},
  '21': {'119041': 29, '435071': 22, '4750YY': 16},
  '22': {'511011': 5},
  '23': {'119021': 50,
   '1191XX': 11,
   '271025': 4,
   '413091': 136,
   '471011': 52,
   '472031': 91,
   '472121': 53,
   '472152': 53,
   '4740XX': 26,
   '499021': 157},
  '31': {'112021': 14,
   '113051': 6,
   '1191XX': 20,
   '131070': 22,
   '172011': 9,
   '27102X': 15,
   '353011': 33,
   '412031': 29,
   '5120XX': 51,
   '519111': 4,
   '5191XX': 18,
   '537062': 32},
  '42': {'411012': 28, '414010': 44},
  '44': {'151252': 20,
   '352021': 46,
   '392021': 19,
   '411011': 99,
   '412010': 12,
   '412031': 86,
   '419010': 7,
   '435071': 14,
   '533030': 48,
   '537062': 26,
   '537065': 45},
  '48': {'131111': 14,
   '434051': 34,
   '435032': 8,
   '532010': 19,
   '532031': 37,
   '534010': 22},
  '51': {'111021': 19, '112021': 21, '272012': 27},
  '52': {'113031': 33,
   '1191XX': 11,
   '132011': 11,
   '132051': 32,
   '413021': 19,
   '413031': 19,
   '433011': 13,
   '436014': 33,
   '439041': 25},
  '53': {'112021': 42, '119141': 118, '132020': 21, '37201X': 17},
  '54': {'1110XX': 71,
   '112021': 30,
   '113021': 12,
   '1191XX': 14,
   '131011': 56,
   '131111': 37,
   '132082': 11,
   '151211': 16,
   '151252': 60,
   '151255': 8,
   '192030': 19,
   '192099': 19,
   '27102X': 16,
   '292056': 31,
   '413091': 56,
   '434111': 13},
  '56': {'131070': 22,
   '339030': 41,
   '373011': 92,
   '439051': 26,
   '472111': 13,
   '499071': 16,
   '499094': 28},
  '61': {'119030': 38,
   '1191XX': 13,
   '132011': 16,
   '192099': 8,
   '1940YY': 26,
   '251000': 112,
   '252010': 44,
   '252020': 121,
   '252030': 26,
   '2530XX': 13,
   '272022': 2,
   '272023': 4,
   '419099': 28},
  '62': {'119111': 86,
   '119151': 15,
   '132011': 9,
   '1910XX': 28,
   '211093': 16,
   '291020': 57,
   '291071': 32,
   '291141': 57,
   '291210': 6,
   '29205X': 8,
   '311122': 10,
   '319092': 22,
   '319094': 4,
   '37201X': 24,
   '433021': 13,
   '434051': 10,
   '434171': 34},
  '71': {'1191XX': 19, '272012': 36, '352010': 16, '399032': 18, '519195': 26},
  '72': {'119051': 32,
   '119081': 25,
   '351011': 47,
   '351012': 21,
   '352010': 68,
   '352021': 42,
   '353011': 19,
   '353023': 2,
   '353031': 62,
   '37201X': 134,
   '412010': 33,
   '433031': 10,
   '4990XX': 10,
   '533030': 19},
  '81': {'131151': 29,
   '1930XX': 21,
   '2740XX': 14,
   '319011': 67,
   '392011': 25,
   '392021': 16,
   '439061': 8},
  '90': {'211093': 18,
   '272041': 28,
   '273031': 35,
   '435031': 32,
   '493031': 24,
   '518021': 12,
   '552010': 29},
  '92': {'211093': 18,
   '272041': 28,
   '273031': 35,
   '435031': 32,
   '493031': 24,
   '518021': 12,
   '552010': 29}},
 9: {'23': {'472061': 19},
  '31': {'412010': 15, '414010': 23},
  '44': {'533030': 18, '537065': 33},
  '54': {'132011': 12},
  '61': {'252020': 36, '339091': 25},
  '62': {'119111': 23, '29112X': 28},
  '71': {'254010': 10}},
 10: {'52': {'111021': 7}},
 12: {'11': {'537064': 19},
  '21': {'131082': 14},
  '22': {'172051': 11},
  '23': {'119021': 17, '1191XX': 11, '151252': 23, '436012': 26, '472061': 61},
  '31': {'113051': 63,
   '1191XX': 19,
   '151252': 17,
   '172011': 35,
   '172070': 9,
   '172110': 21,
   '172141': 11,
   '211029': 10,
   '4330XX': 15,
   '435071': 7,
   '511011': 26,
   '5120XX': 38},
  '42': {'414010': 34},
  '44': {'111021': 17,
   '131111': 18,
   '291051': 12,
   '292052': 21,
   '339030': 100,
   '411011': 24,
   '412031': 42,
   '434051': 14,
   '4740XX': 8,
   '519061': 34},
  '48': {'1191XX': 12,
   '435052': 34,
   '531000': 5,
   '532010': 6,
   '533030': 19,
   '533052': 17,
   '533053': 11},
  '51': {'2740XX': 16, '419031': 6, '431011': 9},
  '52': {'113021': 28,
   '113031': 27,
   '131111': 18,
   '132051': 10,
   '132052': 12,
   '151211': 10},
  '53': {'119030': 8, '119141': 19, '273043': 11, '411012': 20},
  '54': {'1110XX': 19,
   '112021': 37,
   '1191XX': 12,
   '131111': 46,
   '151211': 37,
   '151251': 25,
   '151252': 28,
   '172051': 9,
   '172070': 31,
   '232093': 25,
   '27102X': 7,
   '273091': 32,
   '319096': 22,
   '413091': 41,
   '434111': 20},
  '56': {'1191XX': 17,
   '131070': 6,
   '151251': 19,
   '2530XX': 6,
   '37201X': 32,
   '431011': 14,
   '434051': 86,
   '436011': 19,
   '439021': 13,
   '499051': 34},
  '61': {'151230': 17,
   '151251': 10,
   '251000': 19,
   '252020': 55,
   '253041': 3,
   '2530XX': 48,
   '259040': 18,
   '37201X': 37},
  '62': {'211011': 17,
   '211029': 16,
   '274021': 35,
   '291141': 87,
   '291210': 68,
   '292042': 53,
   '311131': 24,
   '31113X': 19,
   '333050': 27},
  '71': {'1191XX': 18,
   '33909X': 10,
   '433031': 30,
   '436014': 28,
   '533051': 15,
   '537061': 24},
  '72': {'113031': 16,
   '119051': 5,
   '352010': 16,
   '353011': 16,
   '353031': 14,
   '359031': 49,
   '37201X': 33,
   '434051': 29},
  '81': {'119151': 24,
   '212099': 25,
   '411012': 16,
   '433031': 22,
   '493023': 18,
   '493040': 22},
  '90': {'1110XX': 11,
   '113051': 5,
   '113061': 11,
   '1191XX': 15,
   '131023': 8,
   '151212': 88,
   '192021': 15,
   '212011': 6,
   '2310XX': 12,
   '2530XX': 20,
   '333012': 24,
   '436014': 17,
   '499071': 22,
   '532010': 5,
   '551010': 36,
   '559830': 33},
  '92': {'1110XX': 11,
   '113051': 5,
   '113061': 11,
   '1191XX': 15,
   '131023': 8,
   '151212': 88,
   '192021': 15,
   '212011': 6,
   '2310XX': 12,
   '2530XX': 20,
   '333012': 24,
   '436014': 17,
   '499071': 22,
   '532010': 5,
   '551010': 36,
   '559830': 33}},
 13: {'11': {'4520XX': 20},
  '31': {'111021': 24, '113051': 31, '1191XX': 12, '517011': 58},
  '42': {'434051': 2, '519061': 26},
  '44': {'1191XX': 9,
   '132051': 102,
   '151252': 76,
   '411011': 12,
   '412010': 75,
   '412031': 48,
   '434051': 10,
   '5191XX': 16},
  '48': {'1110XX': 10, '5191XX': 6, '533054': 6},
  '51': {'433021': 13},
  '52': {'113031': 25, '151252': 118},
  '54': {'431011': 20, '439061': 66},
  '56': {'439022': 21},
  '61': {'211012': 37, '251000': 23, '252050': 29, '259040': 32},
  '62': {'311131': 53, '319092': 22, '31909X': 20, '436014': 186},
  '71': {'373011': 4},
  '72': {'352010': 39, '353011': 27, '359021': 6, '513092': 3},
  '81': {'395011': 61, '395012': 18, '411012': 9, '519120': 28},
  '90': {'131081': 44,
   '151299': 24,
   '331012': 54,
   '492020': 30,
   '493011': 25,
   '493031': 21,
   '532010': 11,
   '553010': 27,
   '559830': 30},
  '92': {'131081': 44,
   '151299': 24,
   '331012': 54,
   '492020': 30,
   '493011': 25,
   '493031': 21,
   '532010': 11,
   '553010': 27,
   '559830': 30}},
 15: {'23': {'172051': 24, '472031': 6},
  '31': {'339030': 17, '434051': 20},
  '44': {'292052': 34, '352021': 13, '411011': 34, '412031': 21},
  '48': {'439061': 1, '532020': 3},
  '53': {'413091': 13, '419020': 20},
  '54': {'192010': 15, '419099': 2},
  '56': {'434051': 7},
  '61': {'252020': 16, '399031': 2, '399041': 10},
  '62': {'1110XX': 15, '291141': 27, '311122': 13, '312020': 42},
  '72': {'273091': 3},
  '81': {'319011': 14, '395092': 9},
  '90': {'1191XX': 13,
   '131082': 3,
   '1940YY': 3,
   '333050': 14,
   '552010': 8,
   '559830': 22},
  '92': {'1191XX': 13,
   '131082': 3,
   '1940YY': 3,
   '333050': 14,
   '552010': 8,
   '559830': 22}},
 16: {'11': {'4520XX': 25},
  '21': {'151252': 29},
  '22': {'518031': 4},
  '23': {'471011': 33, '472061': 58, '472111': 31},
  '31': {'1721YY': 7, '433031': 11, '472152': 16, '511011': 14},
  '44': {'131070': 5,
   '411011': 20,
   '412010': 21,
   '412031': 77,
   '493023': 21,
   '537062': 20},
  '48': {'1191XX': 4, '435052': 16, '491011': 30, '533030': 79},
  '52': {'434171': 44, '439021': 40},
  '53': {'1110XX': 4, '119141': 4, '419020': 12},
  '54': {'112021': 2,
   '1191XX': 19,
   '132082': 17,
   '151299': 18,
   '271024': 61,
   '413091': 2},
  '56': {'353023': 55, '373013': 23, '434051': 29},
  '61': {'119030': 6, '251000': 27, '252030': 106, '259040': 29, '273091': 14},
  '62': {'211012': 14,
   '291031': 17,
   '291141': 17,
   '292010': 45,
   '292061': 110,
   '311122': 17},
  '71': {'399031': 12, '491011': 3},
  '72': {'119051': 87, '537062': 21},
  '81': {'395012': 25, '519120': 32},
  '90': {'1191XX': 22, '333012': 14},
  '92': {'1191XX': 22, '333012': 14}},
 17: {'22': {'172070': 17},
  '23': {'119021': 17, '413091': 18, '471011': 50, '533030': 1},
  '31': {'111021': 4,
   '131082': 58,
   '131199': 47,
   '132011': 15,
   '172011': 43,
   '172070': 17,
   '413091': 12,
   '414010': 20,
   '435061': 18,
   '511011': 29},
  '42': {'113021': 9, '131022': 21, '414010': 18, '537081': 4},
  '44': {'412010': 36,
   '412031': 136,
   '434051': 32,
   '435071': 13,
   '499043': 12,
   '537062': 28,
   '537065': 47},
  '48': {'413091': 23, '533030': 46},
  '51': {'151244': 23, '339021': 5, '413091': 9},
  '52': {'113031': 21, '132052': 20, '132053': 24, '151252': 38},
  '54': {'1191XX': 66,
   '131081': 15,
   '131111': 49,
   '131161': 30,
   '151252': 18,
   '191010': 14},
  '56': {'412010': 37},
  '61': {'151299': 22,
   '251000': 116,
   '252020': 73,
   '252030': 22,
   '259040': 2,
   '33909X': 7},
  '62': {'131070': 18,
   '211029': 24,
   '2530XX': 14,
   '291122': 21,
   '291141': 40,
   '2911XX': 45,
   '291210': 119,
   '311131': 39,
   '319097': 3,
   '433021': 8,
   '436014': 14},
  '72': {'352010': 53,
   '352021': 8,
   '353023': 23,
   '353031': 30,
   '411012': 49,
   '513011': 11},
  '81': {'395012': 96, '493023': 28, '536021': 90},
  '90': {'559830': 22},
  '92': {'559830': 22}},
 18: {'23': {'471011': 23, '472061': 53},
  '31': {'434161': 21, '5371XX': 24},
  '42': {'411012': 60, '4990XX': 30, '537065': 27},
  '44': {'412010': 18, '412031': 12, '511011': 37, '537062': 18, '537065': 24},
  '48': {'533030': 19, '537065': 23},
  '52': {'131030': 64},
  '54': {'232011': 51},
  '56': {'111021': 38, '131041': 37, '492098': 28},
  '61': {'111021': 17, '251000': 43},
  '62': {'291141': 11, '311121': 104, '311122': 12},
  '71': {'391000': 50},
  '72': {'352021': 23, '353023': 12, '353031': 20, '433031': 15},
  '81': {'395092': 3}},
 19: {'11': {'119013': 4, '392011': 4},
  '23': {'431011': 6, '472031': 67, '472061': 57, '472111': 13, '499021': 38},
  '31': {'151252': 42, '531000': 22},
  '42': {'499071': 9, '537065': 40},
  '44': {'411011': 28, '492011': 35, '533030': 22},
  '48': {'434181': 19, '532010': 24, '536051': 12},
  '52': {'113031': 113},
  '53': {'419020': 133},
  '54': {'113071': 15},
  '55': {'531000': 12},
  '56': {'37201X': 11, '49904X': 27, '5120XX': 17},
  '61': {'119030': 24, '251000': 12, '252020': 39},
  '62': {'211022': 1, '311131': 30},
  '72': {'372012': 20, '434081': 24},
  '90': {'331021': 5},
  '92': {'331021': 5}},
 20: {'23': {'472181': 92},
  '31': {'1191XX': 9, '537051': 14},
  '42': {'414010': 29},
  '44': {'292055': 17,
   '339030': 16,
   '353023': 19,
   '411011': 33,
   '412010': 9,
   '412031': 14,
   '434051': 96},
  '48': {'532020': 14},
  '54': {'171011': 23},
  '56': {'5191XX': 35},
  '61': {'119030': 18, '132011': 17, '259040': 14, '472031': 19},
  '62': {'291141': 4, '291210': 37, '399011': 69},
  '72': {'353031': 15, '372012': 89},
  '81': {'392021': 29},
  '90': {'131082': 108, '532010': 16},
  '92': {'131082': 108, '532010': 16}},
 21: {'22': {'472111': 5},
  '23': {'119141': 9, '472111': 12, '472221': 66},
  '31': {'414010': 10, '512020': 7, '514020': 16, '537062': 27},
  '42': {'5191XX': 7},
  '44': {'412031': 4},
  '48': {'533030': 34},
  '51': {'151299': 14},
  '52': {'113031': 17},
  '54': {'151212': 13, '191020': 33, '29112X': 23, '392021': 15},
  '56': {'434111': 28},
  '62': {'119111': 3, '151299': 14, '2911XX': 16, '291292': 7, '319094': 12},
  '72': {'353031': 21},
  '90': {'292053': 10},
  '92': {'292053': 10}},
 22: {'31': {'195010': 54},
  '44': {'411011': 13},
  '52': {'434051': 66},
  '54': {'273031': 7, '291131': 32, '291210': 57},
  '56': {'339030': 29, '436014': 20},
  '61': {'193033': 22, '251000': 15, '253041': 5, '37201X': 19},
  '62': {'211019': 18, '291051': 12},
  '81': {'319011': 10},
  '90': {'151211': 28, '499094': 22, '559830': 3},
  '92': {'151211': 28, '499094': 22, '559830': 3}},
 23: {'48': {'5360XX': 5},
  '51': {'515111': 18, '515112': 19},
  '54': {'434171': 23},
  '56': {'439022': 10},
  '61': {'251000': 2},
  '72': {'353023': 7}},
 24: {'31': {'131151': 25, '151299': 18},
  '44': {'411011': 31, '412010': 17, '412031': 12},
  '51': {'111021': 17, '274021': 13, '2740XX': 7, '439021': 12},
  '52': {'1320XX': 95},
  '53': {'419020': 16},
  '54': {'151241': 24, '172051': 5, '172070': 22, '2590XX': 5, '413091': 64},
  '61': {'119030': 13,
   '251000': 53,
   '252020': 52,
   '254010': 11,
   '259040': 13,
   '299000': 15},
  '62': {'252010': 32, '291141': 14},

In [94]:
vals = []
for k1 in moved_out_dict:
    for k2 in moved_out_dict[k1]:
        for k3 in moved_out_dict[k1][k2]:
            vals.append(moved_out_dict[k1][k2][k3])
np.sum(vals)

83978

In [95]:
p3_bystate = []
for migsp, vals_1 in moved_out_dict.items():
    state = pums_migsp_titles[pums_migsp_titles.MIGSP==migsp].Name.values[0]
    for naics, vals_2 in vals_1.items():
        naics_t = industry_naics[industry_naics.NAICS==naics].Description.values[0]
        for socp, pwgt in vals_2.items():
            try:
                soc_t = pums_titles[pums_titles.SOCP==socp].Title.values[0]
            except IndexError:
                soc_t = 'Title Unavailable'
            p3_bystate.append([naics, naics_t, socp, soc_t, migsp, state, pwgt])

In [96]:
p3bystate_df = pd.DataFrame(p3_bystate, columns=["NAICS", "Description", "SOCP", "SOCP Title", "MIGSP", "ToState", "LeftAZLastYear"])

In [97]:
p3bystate_df.LeftAZLastYear.sum()

83978

In [98]:
states_w_weights = p3bystate_df.groupby(["NAICS", "SOCP"])["MIGSP"].apply(list)

Append missing value to missing states

In [99]:
rows_p3_extra = []

for key in states_w_weights.keys():
    for migsp in pums_migsp_titles.MIGSP.values:
        if migsp not in states_w_weights[key] and migsp!='99':
            try:
                soc_t = pums_titles[pums_titles.SOCP==key[1]].Title.values[0]
            except IndexError:
                soc_t = 'Title Unavailable'
            rows_p3_extra.append([key[0], industry_naics[industry_naics.NAICS==key[0]].Description.values[0], 
                                 key[1],   soc_t    , migsp,
                                 pums_migsp_titles[pums_migsp_titles.MIGSP==migsp].Name.values[0], missing_state_value
                                 ])

In [100]:
rows_p3_extra

[['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  1,
  'Alabama',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  2,
  'Alaska',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  4,
  'Arizona',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  5,
  'Arkansas',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  9,
  'Connecticut',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  10,
  'Delaware',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  11,
  'District of Columbia',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  12,
  'Florida',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  13,
  'Georgia',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  15,
  'Hawaii',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  16,
  'Idaho',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  17,
  'Illinois',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  18,
  'Indiana',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  20,
  'Kansas',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  21,
  'Kentucky',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  22,
  'Louisiana',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  23,
  'Maine',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  24,
  'Maryland',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  25,
  'Massachusetts',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  26,
  'Michigan',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  27,
  'Minnesota',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  28,
  'Mississippi',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  29,
  'Missouri',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  30,
  'Montana',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  31,
  'Nebraska',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  32,
  'Nevada',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  33,
  'New Hampshire',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  34,
  'New Jersey',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  35,
  'New Mexico',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  36,
  'New York',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  37,
  'North Carolina',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  38,
  'North Dakota',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  39,
  'Ohio',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  40,
  'Oklahoma',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  42,
  'Pennsylvania',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  44,
  'Rhode Island',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  45,
  'South Carolina',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  46,
  'South Dakota',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  47,
  'Tennessee',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  48,
  'Texas',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  49,
  'Utah',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  50,
  'Vermont',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  51,
  'Virginia',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  53,
  'Washington',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  54,
  'West Virginia',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  55,
  'Wisconsin',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  56,
  'Wyoming',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '119013',
  'Farmers, Ranchers, And Other Agricultural Managers',
  99,
  'All States Combined',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  1,
  'Alabama',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  2,
  'Alaska',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  4,
  'Arizona',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  5,
  'Arkansas',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  6,
  'California',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  9,
  'Connecticut',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  10,
  'Delaware',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  11,
  'District of Columbia',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  12,
  'Florida',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  13,
  'Georgia',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  15,
  'Hawaii',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  16,
  'Idaho',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  17,
  'Illinois',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  18,
  'Indiana',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  19,
  'Iowa',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  20,
  'Kansas',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  21,
  'Kentucky',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  22,
  'Louisiana',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  23,
  'Maine',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  24,
  'Maryland',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  25,
  'Massachusetts',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  26,
  'Michigan',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  27,
  'Minnesota',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  28,
  'Mississippi',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  29,
  'Missouri',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  30,
  'Montana',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  31,
  'Nebraska',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  32,
  'Nevada',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  33,
  'New Hampshire',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  34,
  'New Jersey',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  35,
  'New Mexico',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  36,
  'New York',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  37,
  'North Carolina',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  38,
  'North Dakota',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  39,
  'Ohio',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  40,
  'Oklahoma',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  41,
  'Oregon',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  42,
  'Pennsylvania',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  44,
  'Rhode Island',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  45,
  'South Carolina',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  46,
  'South Dakota',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  47,
  'Tennessee',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  48,
  'Texas',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  49,
  'Utah',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  50,
  'Vermont',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  51,
  'Virginia',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  53,
  'Washington',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  54,
  'West Virginia',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  55,
  'Wisconsin',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  56,
  'Wyoming',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '1191XX',
  'Other Managers',
  99,
  'All States Combined',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  1,
  'Alabama',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  2,
  'Alaska',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  4,
  'Arizona',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  5,
  'Arkansas',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  6,
  'California',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  8,
  'Colorado',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  9,
  'Connecticut',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  10,
  'Delaware',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  11,
  'District of Columbia',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  12,
  'Florida',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  13,
  'Georgia',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  15,
  'Hawaii',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  16,
  'Idaho',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  17,
  'Illinois',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  18,
  'Indiana',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  19,
  'Iowa',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  20,
  'Kansas',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  21,
  'Kentucky',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  22,
  'Louisiana',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  23,
  'Maine',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  24,
  'Maryland',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  25,
  'Massachusetts',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  27,
  'Minnesota',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  28,
  'Mississippi',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  29,
  'Missouri',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  30,
  'Montana',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  31,
  'Nebraska',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  32,
  'Nevada',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  33,
  'New Hampshire',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  34,
  'New Jersey',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  35,
  'New Mexico',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  36,
  'New York',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  37,
  'North Carolina',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  38,
  'North Dakota',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  39,
  'Ohio',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  40,
  'Oklahoma',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  41,
  'Oregon',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  42,
  'Pennsylvania',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  44,
  'Rhode Island',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  45,
  'South Carolina',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  46,
  'South Dakota',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  47,
  'Tennessee',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  48,
  'Texas',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  49,
  'Utah',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  50,
  'Vermont',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  51,
  'Virginia',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  54,
  'West Virginia',
  nan],
 ['11',
  'Agriculture, Forestry, Fishing and Hunting',
  '191030',
  'Conservation Scientists And Foresters',
  55,
  'Wisconsin',
  nan],

In [101]:
p3_final_df = pd.concat([p3bystate_df, pd.DataFrame(rows_p3_extra, columns=["NAICS", "Description", "SOCP", "SOCP Title", "MIGSP", "ToState", "LeftAZLastYear"])])

In [102]:
p3_final_df = p3_final_df.reset_index(drop=True)

In [103]:
temp_p3 = pd.DataFrame()
# temp_p3["NAICS"] = [0]*len(p3_final_df.MIGSP.unique())
# temp_p3["Description"] = ['All Industries Aggregated']*len(p3_final_df.MIGSP.unique())
temp_grouped = p3_final_df.groupby(["SOCP","MIGSP","ToState"]).agg({"SOCP Title":'first', "LeftAZLastYear":'sum'}).reset_index()
temp_p3["MIGSP"] = temp_grouped["MIGSP"]
temp_p3["ToState"] = temp_grouped["ToState"]
temp_p3["SOCP"] = temp_grouped["SOCP"]
temp_p3["SOCP Title"] = temp_grouped["SOCP Title"]
temp_p3["LeftAZLastYear"] = temp_grouped["LeftAZLastYear"]
temp_p3["NAICS"] = 0
temp_p3["Description"] = 'All Industries Aggregated'
p3_final_df = pd.concat([p3_final_df, temp_p3])

In [104]:
p3_final_df = p3_final_df.reset_index(drop=True)

In [105]:
all_states_combinedp3 = p3_final_df.groupby(["NAICS", "Description", "SOCP", "SOCP Title"])["LeftAZLastYear"].sum().to_frame()
all_states_combinedp3 = all_states_combinedp3.reset_index()
all_states_combinedp3["MIGSP"] = 99
all_states_combinedp3["ToState"] = 'All States Combined'

In [106]:
p3_final_df = pd.concat([p3_final_df, all_states_combinedp3])
p3_final_df = p3_final_df.reset_index(drop=True)

### Consolidating p3 to only have SOCP as primary key

In [107]:
p3_consolidated = p3_final_df[p3_final_df.NAICS!=0]

In [108]:
p3_consolidated = p3_consolidated.groupby(["SOCP", "SOCP Title", "MIGSP", "ToState"], dropna=False)["LeftAZLastYear"].sum()
p3_consolidated = p3_consolidated.to_frame().reset_index()

In [109]:
p3_consolidated

,SOCP,SOCP Title,MIGSP,ToState,LeftAZLastYear
0,111021,General And Operations Managers,1,Alabama,0.0
1,111021,General And Operations Managers,2,Alaska,0.0
2,111021,General And Operations Managers,4,Arizona,0.0
3,111021,General And Operations Managers,5,Arkansas,0.0
4,111021,General And Operations Managers,6,California,150.0
...,...,...,...,...,...
20795,559830,"Mil-Military, Rank Not Specified",53,Washington,0.0
20796,559830,"Mil-Military, Rank Not Specified",54,West Virginia,0.0
20797,559830,"Mil-Military, Rank Not Specified",55,Wisconsin,0.0
20798,559830,"Mil-Military, Rank Not Specified",56,Wyoming,0.0
20799,559830,"Mil-Military, Rank Not Specified",99,All States Combined,1944.0

In [110]:
p3_consolidated.SOCP.unique().size, p3_final_df.SOCP.unique().size

(400, 400)

In [111]:
all_soc_combined = p3_consolidated.groupby(['MIGSP', 'ToState'])['LeftAZLastYear'].sum().to_frame().reset_index()

In [112]:
all_soc_combined['SOCP'] = '0'
all_soc_combined['SOCP Title'] = 'All Occupations Aggregated'

In [113]:
p3_consolidated_final = pd.concat([p3_consolidated, all_soc_combined], ignore_index=True).reset_index(drop=True)
p3_consolidated_final

,SOCP,SOCP Title,MIGSP,ToState,LeftAZLastYear
0,111021,General And Operations Managers,1,Alabama,0.0
1,111021,General And Operations Managers,2,Alaska,0.0
2,111021,General And Operations Managers,4,Arizona,0.0
3,111021,General And Operations Managers,5,Arkansas,0.0
4,111021,General And Operations Managers,6,California,150.0
...,...,...,...,...,...
20847,0,All Occupations Aggregated,53,Washington,5306.0
20848,0,All Occupations Aggregated,54,West Virginia,59.0
20849,0,All Occupations Aggregated,55,Wisconsin,1168.0
20850,0,All Occupations Aggregated,56,Wyoming,846.0
20851,0,All Occupations Aggregated,99,All States Combined,83978.0

In [114]:
p3_consolidated_final.sort_values(["SOCP", "MIGSP"]).to_excel(f"pums{pyear}_Part3_MovedFromAZ_bystate_0901.xlsx", index=False)

# p3 by industry & state : p4

In [115]:
p3_final_df

,NAICS,Description,SOCP,SOCP Title,MIGSP,ToState,LeftAZLastYear
0,22,Utilities,339030,Security Guards And Gambling Surveillance Offi...,1,Alabama,41.0
1,23,Construction,472140,Painters And Paperhangers,1,Alabama,45.0
2,31,Manufacturing,172011,Aerospace Engineers,1,Alabama,22.0
3,31,Manufacturing,439XXX,Other Office And Administrative Support Workers,1,Alabama,22.0
4,31,Manufacturing,49904X,Industrial And Refractory Machinery Mechanics,1,Alabama,11.0
...,...,...,...,...,...,...,...
82887,92,Government and Military,537065,Stockers And Order Fillers,99,All States Combined,15.0
82888,92,Government and Military,551010,Mil-Military Officer Special And Tactical Oper...,99,All States Combined,308.0
82889,92,Government and Military,552010,Mil-First-Line Enlisted Military Supervisors,99,All States Combined,226.0
82890,92,Government and Military,553010,Adm-Military Enlisted Tactical Operations And ...,99,All States Combined,684.0
82891,92,Government and Military,559830,"Mil-Military, Rank Not Specified",99,All States Combined,972.0

In [116]:
p3_byindstate_df = p3_final_df.groupby(["NAICS", "MIGSP"],as_index=False).agg({"Description":'first', "ToState":'first', "LeftAZLastYear":'sum'})

p3_byindstate_df[["NAICS", "Description", "MIGSP", "ToState", "LeftAZLastYear"]].to_excel(f"pums{pyear}_Part4_MovedFromAZ_bystate_0901.xlsx", index=False)

In [117]:
p3_byindstate_df[p3_byindstate_df.MIGSP==99]

,NAICS,MIGSP,Description,ToState,LeftAZLastYear
51,0,99,All Industries Aggregated,All States Combined,83978.0
103,11,99,"Agriculture, Forestry, Fishing and Hunting",All States Combined,902.0
155,21,99,"Mining, Quarrying, and Oil and Gas Extraction",All States Combined,514.0
207,22,99,Utilities,All States Combined,430.0
259,23,99,Construction,All States Combined,4370.0
311,31,99,Manufacturing,All States Combined,5678.0
363,42,99,Wholesale Trade,All States Combined,1655.0
415,44,99,Retail Trade,All States Combined,8758.0
467,48,99,Transportation and Warehousing,All States Combined,3116.0
519,51,99,Information,All States Combined,1543.0
571,52,99,Finance and Insurance,All States Combined,3616.0
623,53,99,Real Estate and Rental and Leasing,All States Combined,1463.0
675,54,99,"Professional, Scientific, and Technical Services",All States Combined,6743.0
727,55,99,Management of Companies and Enterprises,All States Combined,83.0
779,56,99,Administrative and Support and Waste Managemen...,All States Combined,3410.0
831,61,99,Educational Services,All States Combined,6297.0
883,62,99,Health Care and Social Assistance,All States Combined,9855.0
935,71,99,"Arts, Entertainment, and Recreation",All States Combined,2082.0
987,72,99,Accommodation and Food Services,All States Combined,5876.0
1039,81,99,Other Services (except Public Administration),All States Combined,3043.0
1091,90,99,Government,All States Combined,7272.0
1143,92,99,Government and Military,All States Combined,7272.0

In [118]:
p3_byindstate_df[p3_byindstate_df.NAICS==55].head()

Empty DataFrame
Columns: [NAICS, MIGSP, Description, ToState, LeftAZLastYear]
Index: []

In [119]:
p3_byindstate_df.LeftAZLastYear.sum(), p3_final_df.LeftAZLastYear.sum()

(335912.0, 335912.0)

# Making final dfs

By Ind

In [120]:
# comnine df 4 & 1
p3_byindstate_df = p3_byindstate_df[p3_byindstate_df.ToState!='Arizona'][['NAICS', 'Description', 'MIGSP', 'ToState', 'LeftAZLastYear']].reset_index()
p1_all_state_df = p1_all_state_df.reset_index(drop=True)

In [121]:
p3_byindstate_df.NAICS = p3_byindstate_df.NAICS.astype(int)
p1_all_state_df.NAICS = p1_all_state_df.NAICS.astype(int)

In [122]:
p1_all_state_df.MIGSP = p1_all_state_df.MIGSP.astype(int)
p3_byindstate_df.MIGSP = p3_byindstate_df.MIGSP.astype(int)

In [123]:
p1_all_state_df = p1_all_state_df.rename({'FromState': 'State'}, axis=1)
p3_byindstate_df = p3_byindstate_df.rename({'ToState': 'State'}, axis=1)

In [124]:
df_ind = p3_byindstate_df[p3_byindstate_df.columns]

In [125]:
p1_all_state_df

,NAICS,Description,MIGSP,State,MovedToAZLastYear,PumsPopulation
0,11,"Agriculture, Forestry, Fishing and Hunting",2,Alaska,30.0,26587.0
1,11,"Agriculture, Forestry, Fishing and Hunting",6,California,249.0,26587.0
2,11,"Agriculture, Forestry, Fishing and Hunting",8,Colorado,110.0,26587.0
3,11,"Agriculture, Forestry, Fishing and Hunting",12,Florida,15.0,26587.0
4,11,"Agriculture, Forestry, Fishing and Hunting",16,Idaho,22.0,26587.0
...,...,...,...,...,...,...
1117,0,All Industries Aggregated,53,Washington,6229.0,3190943.0
1118,0,All Industries Aggregated,54,West Virginia,367.0,3190943.0
1119,0,All Industries Aggregated,55,Wisconsin,1763.0,3190943.0
1120,0,All Industries Aggregated,56,Wyoming,827.0,3190943.0
1121,0,All Industries Aggregated,99,All States Combined,117924.0,3190943.0

In [126]:
df_ind = df_ind.merge(p1_all_state_df[["MIGSP", 'State', "NAICS", 'Description', "MovedToAZLastYear","PumsPopulation"]], on=["MIGSP", 'State', "NAICS", "Description"], how='outer', validate='1:1')
# df_ind.merge(p1_all_state_df[["MIGSP", 'State', "NAICS", 'Description', "MovedToAZLastYear"]], on=["MIGSP", 'State', "NAICS", "Description"], how='outer')

df_ind = df_ind.reset_index(drop=True)

In [127]:
# for i in p1_all_state_df.index:
#     try:
#         p1mig = p1_all_state_df.iloc[i]["MIGSP"]
#         p1nai = p1_all_state_df.iloc[i]["NAICS"]
#         p1wgt = p1_all_state_df.iloc[i]["MovedToAZLastYear"]
#         if p1nai == 999:
#             print(True)
#         df_ind.at[(df_ind.NAICS == p1nai) & (df_ind.MIGSP == p1mig), 'MovedToAZLastYear'] = p1wgt
#     except Exception as e:
#         print(e)

In [128]:
df_ind

,index,NAICS,Description,MIGSP,State,LeftAZLastYear,MovedToAZLastYear,PumsPopulation
0,0,0,All Industries Aggregated,1,Alabama,572.0,616.0,3190943.0
1,1,0,All Industries Aggregated,2,Alaska,781.0,985.0,3190943.0
2,3,0,All Industries Aggregated,5,Arkansas,437.0,591.0,3190943.0
3,4,0,All Industries Aggregated,6,California,14024.0,28408.0,3190943.0
4,5,0,All Industries Aggregated,8,Colorado,4969.0,6045.0,3190943.0
...,...,...,...,...,...,...,...,...
1117,1139,92,Government and Military,53,Washington,376.0,266.0,168397.0
1118,1140,92,Government and Military,54,West Virginia,0.0,NaN,168397.0
1119,1141,92,Government and Military,55,Wisconsin,26.0,90.0,168397.0
1120,1142,92,Government and Military,56,Wyoming,273.0,67.0,168397.0
1121,1143,92,Government and Military,99,All States Combined,7272.0,8279.0,168397.0

In [129]:
df_ind.MovedToAZLastYear.sum(), p1_all_state_df.MovedToAZLastYear.sum()

(471696.0, 471696.0)

In [130]:
df_ind.LeftAZLastYear.sum(), p3_byindstate_df.LeftAZLastYear.sum()

(335912.0, 335912.0)

In [131]:
df_ind.PumsPopulation.sum(), p1_all_state_df.PumsPopulation.sum()

(325476186.0, 325476186.0)

In [132]:
df_ind.to_excel(f"pums{pyear}_ByInd.xlsx", index=False)

In [133]:
df_ind[df_ind.Description.isna()]

Empty DataFrame
Columns: [index, NAICS, Description, MIGSP, State, LeftAZLastYear, MovedToAZLastYear, PumsPopulation]
Index: []

In [134]:
TEMPPPPPP = df_ind['NAICS'].astype(str) + '_' +  df_ind['MIGSP'].astype(str)

In [135]:
TEMPPPPPP.value_counts().sort_values()

0_1      1
11_23    1
0_13     1
0_20     1
0_19     1
        ..
92_42    1
92_41    1
92_40    1
92_47    1
92_99    1
Length: 1122, dtype: int64

**By occ**

In [136]:
p3_consolidated_final_merge = p3_consolidated_final[p3_consolidated_final.MIGSP!=4]

In [137]:
p3_consolidated_final_merge.MIGSP = p3_consolidated_final_merge.MIGSP.astype(int)
p2_all_state_final_df.MIGSP = p2_all_state_final_df.MIGSP.astype(int)

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\1782107576.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p3_consolidated_final_merge.MIGSP = p3_consolidated_final_merge.MIGSP.astype(int)

In [138]:
p3_consolidated_final_merge.SOCP = p3_consolidated_final_merge.SOCP.astype(str).apply(lambda x: x.strip()).values
p2_all_state_final_df.SOCP = p2_all_state_final_df.SOCP.astype(str).apply(lambda x: x.strip()).values

p3_consolidated_final_merge["SOCP Title"] = p3_consolidated_final_merge["SOCP Title"].astype(str).apply(lambda x: x.strip()).values
p2_all_state_final_df["SOCP Title"] = p2_all_state_final_df["SOCP Title"].astype(str).apply(lambda x: x.strip()).values

C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\670625937.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p3_consolidated_final_merge.SOCP = p3_consolidated_final_merge.SOCP.astype(str).apply(lambda x: x.strip()).values
C:\Users\sjunuthu\AppData\Local\Temp\ipykernel_14188\670625937.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p3_consolidated_final_merge["SOCP Title"] = p3_consolidated_final_merge["SOCP Title"].astype(str).apply(lambda x: x.strip()).values

In [139]:
p2_all_state_final_df = p2_all_state_final_df.rename({'FromState': 'State'}, axis=1)
p3_consolidated_final_merge = p3_consolidated_final_merge.rename({'ToState': 'State'}, axis=1)

In [140]:
p2_all_state_final_df = p2_all_state_final_df.reset_index(drop=True)
p3_consolidated_final_merge = p3_consolidated_final_merge.reset_index(drop=True)

In [141]:
p3_consolidated_final_merge[(p3_consolidated_final_merge.MIGSP==99)&(p3_consolidated_final_merge.SOCP=='119011')]

Empty DataFrame
Columns: [SOCP, SOCP Title, MIGSP, State, LeftAZLastYear]
Index: []

In [142]:
p2_all_state_final_df[(p2_all_state_final_df.MIGSP==99)&(p2_all_state_final_df.SOCP=='119012')]

Empty DataFrame
Columns: [SOCP, SOCP Title, MIGSP, State, MovedToAZLastYear, PumsPopulation]
Index: []

In [143]:
# p2_all_state_final_df.merge(p3_final_df[["NAICS", "Description","MIGSP", "State", "SOCP", "SOCP Title", "LeftAZLastYear"]], on=["NAICS", "Description","MIGSP", "State", "SOCP", "SOCP Title"], how='outer')

df_occ = p2_all_state_final_df.merge(p3_consolidated_final_merge[["MIGSP", "State", "SOCP", "SOCP Title", "LeftAZLastYear"]], on=["MIGSP", "State", "SOCP", "SOCP Title"], how='outer', validate='1:1')


#p2_all_state_final_df.merge(p3_final_df[["NAICS", "MIGSP", "SOCP", "LeftAZLastYear"]], on=["NAICS", "MIGSP", "SOCP"], how='outer')

In [144]:
# make sure they are all 1
df_occ["KEYS"] = df_occ['SOCP'] + '_' + df_occ['MIGSP'].astype(str)

In [145]:
df_occ[df_occ["KEYS"]=='0_31']

,SOCP,SOCP Title,MIGSP,State,MovedToAZLastYear,PumsPopulation,LeftAZLastYear,KEYS
22058,0,All Occupations Aggregated,31,Nebraska,888.0,3190943.0,501.0,0_31

In [146]:
# validating row uniqueness
df_occ.KEYS.value_counts().sort_values()
# ALL VALUES MUST BE 1 - otherwise code is buggy and is duplicating some rows

111021_1     1
111021_13    1
111021_20    1
111021_25    1
111021_26    1
            ..
536051_56    1
536051_35    1
536051_34    1
536051_48    1
536051_99    1
Name: KEYS, Length: 24123, dtype: int64

In [147]:
df_occ.drop("KEYS", axis=1, inplace=True)

In [148]:
df_occ.LeftAZLastYear.sum(), p3_final_df.LeftAZLastYear.sum()

(335912.0, 335912.0)

In [149]:
df_occ.MovedToAZLastYear.sum(), p2_all_state_final_df.MovedToAZLastYear.sum()

(471696.0, 471696.0)

In [150]:
df_occ.PumsPopulation.sum(), p2_all_state_final_df.PumsPopulation.sum()

(321754461.0, 321754461.0)

In [151]:
df_occ

,SOCP,SOCP Title,MIGSP,State,MovedToAZLastYear,PumsPopulation,LeftAZLastYear
0,111021,General And Operations Managers,1,Alabama,25.0,22977.0,0.0
1,111021,General And Operations Managers,6,California,240.0,22977.0,150.0
2,111021,General And Operations Managers,8,Colorado,156.0,22977.0,19.0
3,111021,General And Operations Managers,11,District of Columbia,14.0,22977.0,0.0
4,111021,General And Operations Managers,12,Florida,155.0,22977.0,17.0
...,...,...,...,...,...,...,...
24118,536051,Transportation Inspectors,53,Washington,NaN,NaN,0.0
24119,536051,Transportation Inspectors,54,West Virginia,NaN,NaN,0.0
24120,536051,Transportation Inspectors,55,Wisconsin,NaN,NaN,0.0
24121,536051,Transportation Inspectors,56,Wyoming,NaN,NaN,0.0
24122,536051,Transportation Inspectors,99,All States Combined,NaN,NaN,12.0

In [152]:
# df_occ.at[df_occ.SOCP=='999920', "SOCP Title"] = "UNEMPLOYED AND LAST WORKED 5 YEARS AGO OR EARLIER OR NEVER WORKED".title()

In [153]:
df_occ.to_excel(f"pums{pyear}_ByOcc.xlsx", index=False)

# âš ï¸âš ï¸âš ï¸ **<font color='red'>RUN ABOVE CELLS FOR ALL YEARS FIRST BEFORE PROCEEDING</font>** âš ï¸âš ï¸âš ï¸

# Merging larger DFS

In [154]:
import  pandas as pd
import numpy as np

In [155]:
# years = [f"{x}5year" for x in [2020,2019,2018,2017,2016]]# [2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
years = [f"{x}5year" for x in [2020]]# [2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]

In [156]:
years

['20205year']

In [157]:
# convert nans to 0 for net calc
def na2zero(cell):
    if np.isnan(cell):
        return 0
    else:
        return cell

**By Ind**

In [158]:
# By ind merge
dfs = []

for y in years:
    df = pd.read_excel(f"pums{y}_ByInd.xlsx")
    df.drop("index", axis=1, inplace=True)
    df.rename({"ToState": "State", 
               "LeftAZLastYear":f"LeftAZLastYear_{y}",
               "MovedToAZLastYear": f"MovedToAZLastYear_{y}",
               "PumsPopulation": f"PumsPopulation_{y}"}, axis=1, inplace=True)
    
    dfs.append(df)

In [159]:
merged = dfs[0]
for i in range(1,len(dfs)):
    merged = merged.merge(dfs[i][['NAICS', 'MIGSP', f'LeftAZLastYear_{years[i]}',
       f'MovedToAZLastYear_{years[i]}', f"PumsPopulation_{years[i]}"]], on=['NAICS', 'MIGSP'], how='outer')

In [160]:
dfs[0].columns

Index(['NAICS', 'Description', 'MIGSP', 'State', 'LeftAZLastYear_20205year',
       'MovedToAZLastYear_20205year', 'PumsPopulation_20205year'],
      dtype='object')

In [161]:
dfs[0].NAICS.unique().size

22

In [162]:
for i,y in enumerate(years):
    print(y, dfs[i][f'MovedToAZLastYear_{y}'].sum(), dfs[i][f'LeftAZLastYear_{y}'].sum(), dfs[i][f'PumsPopulation_{y}'].sum())

20205year 471696.0 335912 325476186

In [163]:
for i,y in enumerate(years):
    print(y, merged[f'MovedToAZLastYear_{y}'].sum(),merged[f'LeftAZLastYear_{y}'].sum(), merged[f'PumsPopulation_{y}'].sum())

20205year 471696.0 335912 325476186

In [164]:
# calucalting net migration and Percent migration
for i,y in enumerate(years):
    merged[f"NetMigration_{y}"] = merged[f"MovedToAZLastYear_{y}"].apply(na2zero) - merged[f'LeftAZLastYear_{y}'].apply(na2zero)
    merged[f"PercentMigration_{y}"] = merged[f"NetMigration_{y}"].apply(na2zero) / merged[f'PumsPopulation_{y}'].apply(na2zero)

In [165]:
merged

,NAICS,Description,MIGSP,State,LeftAZLastYear_20205year,MovedToAZLastYear_20205year,PumsPopulation_20205year,NetMigration_20205year,PercentMigration_20205year
0,0,All Industries Aggregated,1,Alabama,572,616.0,3190943,44.0,0.000014
1,0,All Industries Aggregated,2,Alaska,781,985.0,3190943,204.0,0.000064
2,0,All Industries Aggregated,5,Arkansas,437,591.0,3190943,154.0,0.000048
3,0,All Industries Aggregated,6,California,14024,28408.0,3190943,14384.0,0.004508
4,0,All Industries Aggregated,8,Colorado,4969,6045.0,3190943,1076.0,0.000337
...,...,...,...,...,...,...,...,...,...
1117,92,Government and Military,53,Washington,376,266.0,168397,-110.0,-0.000653
1118,92,Government and Military,54,West Virginia,0,NaN,168397,0.0,0.000000
1119,92,Government and Military,55,Wisconsin,26,90.0,168397,64.0,0.000380
1120,92,Government and Military,56,Wyoming,273,67.0,168397,-206.0,-0.001223
1121,92,Government and Military,99,All States Combined,7272,8279.0,168397,1007.0,0.005980

In [166]:
# year | movedin | movedout | netmoved

long_form_merge = pd.concat([merged[["NAICS", "Description", "MIGSP", "State"]]]*len(years), ignore_index=True)

In [167]:
long_form_merge

      NAICS                Description  MIGSP                State
0         0  All Industries Aggregated      1              Alabama
1         0  All Industries Aggregated      2               Alaska
2         0  All Industries Aggregated      5             Arkansas
3         0  All Industries Aggregated      6           California
4         0  All Industries Aggregated      8             Colorado
...     ...                        ...    ...                  ...
1117     92    Government and Military     53           Washington
1118     92    Government and Military     54        West Virginia
1119     92    Government and Military     55            Wisconsin
1120     92    Government and Military     56              Wyoming
1121     92    Government and Military     99  All States Combined

[1122 rows x 4 columns]

In [168]:
year_col = np.concatenate([[y]*merged.shape[0] for y in years])
long_form_merge['Year'] = year_col
long_form_merge["MovedToAZLastYear"] = np.nan
long_form_merge["LeftAZLastYear"] = np.nan
long_form_merge["NetMigration"] = np.nan
long_form_merge["PumsPopulation"] = np.nan
long_form_merge["PercentMigration"] = np.nan

it = merged.shape[0]
for i in merged.index:
    for j, y in enumerate(years):
        naics = merged.iloc[i][f'NAICS']
        migsp = merged.iloc[i]['MIGSP']
        movedtoaz = merged.iloc[i][f'MovedToAZLastYear_{y}']
        leftaz = merged.iloc[i][f'LeftAZLastYear_{y}']
        netmig = merged.iloc[i][f'NetMigration_{y}']
        pumspop = merged.iloc[i][f'PumsPopulation_{y}']
        permig = merged.iloc[i][f'PercentMigration_{y}']
        
        
        
#         long_form_merge.at[(long_form_merge.NAICS == naics) & (long_form_merge.MIGSP == migsp) & (long_form_merge.Year == y), 
#                             f'MovedToAZLastYear'] = movedtoaz
#         long_form_merge.at[(long_form_merge.NAICS == naics) & (long_form_merge.MIGSP == migsp) & (long_form_merge.Year == y), 
#                             f'LeftAZLastYear'] = leftaz
#         long_form_merge.at[(long_form_merge.NAICS == naics) & (long_form_merge.MIGSP == migsp) & (long_form_merge.Year == y), 
#                            f'NetMigration'] = netmig
        
        # year_id * wideform_length + record index
        idx = j * it + i
        print(idx, naics, migsp, y, movedtoaz, leftaz, netmig, pumspop, permig)
        long_form_merge.loc[idx, ['MovedToAZLastYear', 'LeftAZLastYear', 'NetMigration', "PumsPopulation", "PercentMigration"]] = [movedtoaz, leftaz, netmig, pumspop, permig]

        
# j is the current year index 
# it is 1173 ~ 2446
# i curr index in merged dataset

0 0 1 20205year 616.0 572 44.0 3190943 1.378902725620608e-05
1 0 2 20205year 985.0 781 204.0 3190943 6.393094455150092e-05
2 0 5 20205year 591.0 437 154.0 3190943 4.826159539672128e-05
3 0 6 20205year 28408.0 14024 14384.0 3190943 0.004507758364847006
4 0 8 20205year 6045.0 4969 1076.0 3190943 0.0003372043938108578
5 0 9 20205year 555.0 242 313.0 3190943 9.809012570892053e-05
6 0 10 20205year 194.0 7 187.0 3190943 5.8603365838875843e-05
7 0 11 20205year 76.0 0 76.0 3190943 2.381741071526505e-05
8 0 12 20205year 4901.0 3351 1550.0 3190943 0.00048574982379816873
9 0 13 20205year 1718.0 1935 -217.0 3190943 -6.800497533174363e-05
10 0 15 20205year 847.0 507 340.0 3190943 0.00010655157425250154
11 0 16 20205year 1323.0 1505 -182.0 3190943 -5.703643092339788e-05
12 0 17 20205year 5648.0 2179 3469.0 3190943 0.0010871394443586113
13 0 18 20205year 1818.0 917 901.0 3190943 0.00028236167176912905
14 0 19 20205year 1039.0 930 109.0 3190943 3.415918115741961e-05
15 0 20 20205year 986.0 979 7.0 3190943 2.193708881669149e-06
16 0 21 20205year 554.0 433 121.0 3190943 3.791982495456672e-05
17 0 22 20205year 889.0 485 404.0 3190943 0.00012660834117061946
18 0 23 20205year 118.0 84 34.0 3190943 1.0655157425250153e-05
19 0 24 20205year 1276.0 1186 90.0 3190943 2.8204828478603347e-05
20 0 25 20205year 1168.0 906 262.0 3190943 8.21073895710453e-05
21 0 26 20205year 2446.0 1496 950.0 3190943 0.0002977176339408131
22 0 27 20205year 2464.0 1233 1231.0 3190943 0.0003857793761906747
23 0 28 20205year 145.0 135 10.0 3190943 3.1338698309559273e-06
24 0 29 20205year 1677.0 1477 200.0 3190943 6.267739661911855e-05
25 0 30 20205year 885.0 659 226.0 3190943 7.082545817960396e-05
26 0 31 20205year 888.0 501 387.0 3190943 0.0001212807624579944
27 0 32 20205year 2639.0 3043 -404.0 3190943 -0.00012660834117061946
28 0 33 20205year 411.0 550 -139.0 3190943 -4.356079065028739e-05
29 0 34 20205year 2016.0 492 1524.0 3190943 0.00047760176223768337
30 0 35 20205year 3356.0 2367 989.0 3190943 0.0003099397262815412
31 0 36 20205year 2668.0 1663 1005.0 3190943 0.00031495391801107073
32 0 37 20205year 2271.0 2058 213.0 3190943 6.675142739936125e-05
33 0 38 20205year 610.0 241 369.0 3190943 0.00011563979676227372
34 0 39 20205year 3036.0 942 2094.0 3190943 0.0006562323426021712
35 0 40 20205year 1620.0 1032 588.0 3190943 0.00018427154606020854
36 0 41 20205year 3474.0 3204 270.0 3190943 8.461448543581004e-05
37 0 42 20205year 1725.0 1236 489.0 3190943 0.00015324623473374484
38 0 44 20205year 58.0 391 -333.0 3190943 -0.00010435786537083238
39 0 45 20205year 509.0 975 -466.0 3190943 -0.00014603833412254623
40 0 46 20205year 501.0 222 279.0 3190943 8.743496828367037e-05
41 0 47 20205year 1005.0 1265 -260.0 3190943 -8.148061560485412e-05
42 0 48 20205year 8059.0 9801 -1742.0 3190943 -0.0005459201245525226
43 0 49 20205year 3576.0 3465 111.0 3190943 3.4785955123610797e-05
44 0 50 20205year 190.0 33 157.0 3190943 4.920175634600806e-05
45 0 51 20205year 2754.0 1689 1065.0 3190943 0.00033375713699680627
46 0 53 20205year 6229.0 5306 923.0 3190943 0.0002892561853972321
47 0 54 20205year 367.0 59 308.0 3190943 9.652319079344257e-05
48 0 55 20205year 1763.0 1168 595.0 3190943 0.0001864652549418777
49 0 56 20205year 827.0 846 -19.0 3190943 -5.9543526788162625e-06
50 0 99 20205year 117924.0 83978 33946.0 3190943 0.01063823452816299
51 11 1 20205year nan 0 0.0 26587 0.0
52 11 2 20205year 30.0 1 29.0 26587 0.001090758641441306
53 11 5 20205year nan 0 0.0 26587 0.0
54 11 6 20205year 249.0 112 137.0 26587 0.005152894271636514
55 11 8 20205year 110.0 158 -48.0 26587 -0.0018053936134200925
56 11 9 20205year nan 0 0.0 26587 0.0
57 11 10 20205year nan 0 0.0 26587 0.0
58 11 11 20205year nan 0 0.0 26587 0.0
59 11 12 20205year 15.0 19 -4.0 26587 -0.0001504494677850077
60 11 13 20205year nan 20 -20.0 26587 -0.0007522473389250386
61 11 15 20205year nan 0 0.0 26587 0.0
62 11 16 20205year 22.0 25 -3.0 26587 -0.00011283710083875578
63 11 17 20205year nan 0 0.0 26587 0.0
64 11 18 20205year nan 0 0.0 26587 0.0
65 11 19 20205year nan 8 -8.0 26587 -0.0003008989355700154
66 11 20 20205year nan 0 0.0 26587 0.0
67 11 21 20205year nan 0 0.0 26587 0.0
68 11 22 20205year nan 0 0.0 26587 0.0
69 11 23 20205year nan 0 0.0 26587 0.0
70 11 24 20205year nan 0 0.0 26587 0.0
71 11 25 20205year nan 0 0.0 26587 0.0
72 11 26 20205year 31.0 5 26.0 26587 0.0009779215406025502
73 11 27 20205year nan 0 0.0 26587 0.0
74 11 28 20205year nan 0 0.0 26587 0.0
75 11 29 20205year nan 90 -90.0 26587 -0.0033851130251626735
76 11 30 20205year nan 0 0.0 26587 0.0
77 11 31 20205year nan 0 0.0 26587 0.0
78 11 32 20205year 35.0 0 35.0 26587 0.0013164328431188174
79 11 33 20205year nan 0 0.0 26587 0.0
80 11 34 20205year nan 0 0.0 26587 0.0
81 11 35 20205year nan 0 0.0 26587 0.0
82 11 36 20205year 87.0 0 87.0 26587 0.0032722759243239176
83 11 37 20205year 16.0 0 16.0 26587 0.0006017978711400308
84 11 38 20205year 16.0 0 16.0 26587 0.0006017978711400308
85 11 39 20205year nan 8 -8.0 26587 -0.0003008989355700154
86 11 40 20205year nan 0 0.0 26587 0.0
87 11 41 20205year 18.0 329 -311.0 26587 -0.011697446120284349
88 11 42 20205year nan 30 -30.0 26587 -0.0011283710083875578
89 11 44 20205year nan 0 0.0 26587 0.0
90 11 45 20205year nan 0 0.0 26587 0.0
91 11 46 20205year 20.0 0 20.0 26587 0.0007522473389250386
92 11 47 20205year nan 0 0.0 26587 0.0
93 11 48 20205year 22.0 0 22.0 26587 0.0008274720728175424
94 11 49 20205year 71.0 25 46.0 26587 0.0017301688795275886
95 11 50 20205year nan 0 0.0 26587 0.0
96 11 51 20205year nan 15 -15.0 26587 -0.0005641855041937789
97 11 53 20205year 84.0 56 28.0 26587 0.0010531462744950539
98 11 54 20205year nan 0 0.0 26587 0.0
99 11 55 20205year 6.0 1 5.0 26587 0.00018806183473125965
100 11 56 20205year nan 0 0.0 26587 0.0
101 11 99 20205year 832.0 902 -70.0 26587 -0.0026328656862376347
102 21 1 20205year nan 0 0.0 13419 0.0
103 21 2 20205year nan 0 0.0 13419 0.0
104 21 5 20205year nan 0 0.0 13419 0.0
105 21 6 20205year 111.0 0 111.0 13419 0.008271853342275877
106 21 8 20205year 52.0 67 -15.0 13419 -0.0011178180192264698
107 21 9 20205year nan 0 0.0 13419 0.0
108 21 10 20205year nan 0 0.0 13419 0.0
109 21 11 20205year nan 0 0.0 13419 0.0
110 21 12 20205year nan 14 -14.0 13419 -0.0010432968179447052
111 21 13 20205year nan 0 0.0 13419 0.0
112 21 15 20205year nan 0 0.0 13419 0.0
113 21 16 20205year 42.0 29 13.0 13419 0.0009687756166629406
114 21 17 20205year nan 0 0.0 13419 0.0
115 21 18 20205year 6.0 0 6.0 13419 0.000447127207690588
116 21 19 20205year nan 0 0.0 13419 0.0
117 21 20 20205year nan 0 0.0 13419 0.0
118 21 21 20205year nan 0 0.0 13419 0.0
119 21 22 20205year nan 0 0.0 13419 0.0
120 21 23 20205year nan 0 0.0 13419 0.0
121 21 24 20205year nan 0 0.0 13419 0.0
122 21 25 20205year nan 0 0.0 13419 0.0
123 21 26 20205year nan 0 0.0 13419 0.0
124 21 27 20205year nan 0 0.0 13419 0.0
125 21 28 20205year nan 0 0.0 13419 0.0
126 21 29 20205year nan 0 0.0 13419 0.0
127 21 30 20205year nan 7 -7.0 13419 -0.0005216484089723526
128 21 31 20205year nan 0 0.0 13419 0.0
129 21 32 20205year 15.0 119 -104.0 13419 -0.007750204933303525
130 21 33 20205year nan 0 0.0 13419 0.0
131 21 34 20205year nan 0 0.0 13419 0.0
132 21 35 20205year 31.0 70 -39.0 13419 -0.002906326849988822
133 21 36 20205year nan 0 0.0 13419 0.0
134 21 37 20205year nan 0 0.0 13419 0.0
135 21 38 20205year 78.0 0 78.0 13419 0.005812653699977644
136 21 39 20205year nan 0 0.0 13419 0.0
137 21 40 20205year 13.0 32 -19.0 13419 -0.0014159028243535285
138 21 41 20205year nan 0 0.0 13419 0.0
139 21 42 20205year nan 0 0.0 13419 0.0
140 21 44 20205year nan 0 0.0 13419 0.0
141 21 45 20205year nan 0 0.0 13419 0.0
142 21 46 20205year nan 0 0.0 13419 0.0
143 21 47 20205year nan 0 0.0 13419 0.0
144 21 48 20205year 78.0 85 -7.0 13419 -0.0005216484089723526
145 21 49 20205year 17.0 23 -6.0 13419 -0.000447127207690588
146 21 50 20205year nan 0 0.0 13419 0.0
147 21 51 20205year 8.0 0 8.0 13419 0.0005961696102541173
148 21 53 20205year 6.0 0 6.0 13419 0.000447127207690588
149 21 54 20205year nan 0 0.0 13419 0.0
150 21 55 20205year nan 0 0.0 13419 0.0
151 21 56 20205year nan 68 -68.0 13419 -0.005067441687159997
152 21 99 20205year 457.0 514 -57.0 13419 -0.004247708473060586
153 22 1 20205year nan 41 -41.0 30237 -0.0013559546251281542
154 22 2 20205year nan 0 0.0 30237 0.0
155 22 5 20205year nan 0 0.0 30237 0.0
156 22 6 20205year 263.0 107 156.0 30237 0.00515924198829249
157 22 8 20205year 35.0 5 30.0 30237 0.0009921619208254787
158 22 9 20205year nan 0 0.0 30237 0.0
159 22 10 20205year nan 0 0.0 30237 0.0
160 22 11 20205year 14.0 0 14.0 30237 0.0004630088963852234
161 22 12 20205year nan 11 -11.0 30237 -0.0003637927043026755
162 22 13 20205year nan 0 0.0 30237 0.0
163 22 15 20205year nan 0 0.0 30237 0.0
164 22 16 20205year 20.0 4 16.0 30237 0.0005291530244402554
165 22 17 20205year 40.0 17 23.0 30237 0.0007606574726328671
166 22 18 20205year nan 0 0.0 30237 0.0
167 22 19 20205year nan 0 0.0 30237 0.0
168 22 20 20205year nan 0 0.0 30237 0.0
169 22 21 20205year nan 5 -5.0 30237 -0.00016536032013757978
170 22 22 20205year nan 0 0.0 30237 0.0
171 22 23 20205year nan 0 0.0 30237 0.0
172 22 24 20205year nan 0 0.0 30237 0.0
173 22 25 20205year 54.0 0 54.0 30237 0.0017858914574858616
174 22 26 20205year nan 7 -7.0 30237 -0.0002315044481926117
175 22 27 20205year nan 0 0.0 30237 0.0
176 22 28 20205year nan 0 0.0 30237 0.0
177 22 29 20205year nan 0 0.0 30237 0.0
178 22 30 20205year nan 0 0.0 30237 0.0
179 22 31 20205year nan 0 0.0 30237 0.0
180 22 32 20205year nan 0 0.0 30237 0.0
181 22 33 20205year nan 0 0.0 30237 0.0
182 22 34 20205year nan 0 0.0 30237 0.0
183 22 35 20205year nan 182 -182.0 30237 -0.006019115653007904
184 22 36 20205year 21.0 0 21.0 30237 0.0006945133445778351
185 22 37 20205year nan 0 0.0 30237 0.0
186 22 38 20205year nan 0 0.0 30237 0.0
187 22 39 20205year nan 0 0.0 30237 0.0
188 22 40 20205year nan 0 0.0 30237 0.0
189 22 41 20205year nan 0 0.0 30237 0.0
190 22 42 20205year 24.0 0 24.0 30237 0.000793729536660383
191 22 44 20205year nan 0 0.0 30237 0.0
192 22 45 20205year nan 0 0.0 30237 0.0
193 22 46 20205year 65.0 0 65.0 30237 0.0021496841617885372
194 22 47 20205year nan 0 0.0 30237 0.0
195 22 48 20205year 16.0 17 -1.0 30237 -3.307206402751596e-05
196 22 49 20205year 21.0 0 21.0 30237 0.0006945133445778351
197 22 50 20205year nan 0 0.0 30237 0.0
198 22 51 20205year nan 4 -4.0 30237 -0.00013228825611006384

199 22 53 20205year 23.0 30 -7.0 30237 -0.0002315044481926117
200 22 54 20205year 56.0 0 56.0 30237 0.0018520355855408937
201 22 55 20205year nan 0 0.0 30237 0.0
202 22 56 20205year nan 0 0.0 30237 0.0
203 22 99 20205year 652.0 430 222.0 30237 0.007341998214108542
204 23 1 20205year 6.0 45 -39.0 223614 -0.0001744076846709061
205 23 2 20205year 83.0 76 7.0 223614 3.130394340247033e-05
206 23 5 20205year 11.0 23 -12.0 223614 -5.366390297566342e-05
207 23 6 20205year 1676.0 621 1055.0 223614 0.0047179514699437425
208 23 8 20205year 285.0 633 -348.0 223614 -0.0015562531862942392
209 23 9 20205year 17.0 19 -2.0 223614 -8.943983829277237e-06
210 23 10 20205year nan 0 0.0 223614 0.0
211 23 11 20205year nan 0 0.0 223614 0.0
212 23 12 20205year 187.0 138 49.0 223614 0.00021912760381729229
213 23 13 20205year 54.0 0 54.0 223614 0.0002414875633904854
214 23 15 20205year 7.0 30 -23.0 223614 -0.00010285581403668823
215 23 16 20205year 107.0 122 -15.0 223614 -6.707987871957928e-05
216 23 17 20205year 227.0 86 141.0 223614 0.0006305508599640452
217 23 18 20205year 80.0 76 4.0 223614 1.7887967658554474e-05
218 23 19 20205year 104.0 181 -77.0 223614 -0.0003443433774271736
219 23 20 20205year 32.0 92 -60.0 223614 -0.0002683195148783171
220 23 21 20205year nan 87 -87.0 223614 -0.0003890632965735598
221 23 22 20205year nan 0 0.0 223614 0.0
222 23 23 20205year nan 0 0.0 223614 0.0
223 23 24 20205year 86.0 0 86.0 223614 0.0003845913046589212
224 23 25 20205year nan 39 -39.0 223614 -0.0001744076846709061
225 23 26 20205year 63.0 150 -87.0 223614 -0.0003890632965735598
226 23 27 20205year 142.0 45 97.0 223614 0.00043378321571994595
227 23 28 20205year nan 0 0.0 223614 0.0
228 23 29 20205year 80.0 42 38.0 223614 0.0001699356927562675
229 23 30 20205year nan 83 -83.0 223614 -0.0003711753289150053
230 23 31 20205year 106.0 167 -61.0 223614 -0.00027279150679295573
231 23 32 20205year 176.0 211 -35.0 223614 -0.00015651971701235163
232 23 33 20205year nan 14 -14.0 223614 -6.260788680494066e-05
233 23 34 20205year 78.0 7 71.0 223614 0.0003175114259393419
234 23 35 20205year 162.0 38 124.0 223614 0.0005545269974151887
235 23 36 20205year 246.0 0 246.0 223614 0.0011001100110011
236 23 37 20205year 167.0 30 137.0 223614 0.0006126628923054907
237 23 38 20205year 32.0 35 -3.0 223614 -1.3415975743915856e-05
238 23 39 20205year 108.0 40 68.0 223614 0.00030409545019542607
239 23 40 20205year nan 5 -5.0 223614 -2.235995957319309e-05
240 23 41 20205year 122.0 52 70.0 223614 0.00031303943402470326
241 23 42 20205year 91.0 34 57.0 223614 0.00025490353913440125
242 23 44 20205year nan 0 0.0 223614 0.0
243 23 45 20205year nan 20 -20.0 223614 -8.943983829277237e-05
244 23 46 20205year 16.0 0 16.0 223614 7.15518706342179e-05
245 23 47 20205year 8.0 9 -1.0 223614 -4.471991914638619e-06
246 23 48 20205year 728.0 421 307.0 223614 0.0013729015177940558
247 23 49 20205year 196.0 239 -43.0 223614 -0.0001922956523294606
248 23 50 20205year nan 0 0.0 223614 0.0
249 23 51 20205year 130.0 123 7.0 223614 3.130394340247033e-05
250 23 53 20205year 374.0 267 107.0 223614 0.00047850313486633215
251 23 54 20205year 33.0 28 5.0 223614 2.235995957319309e-05
252 23 55 20205year 23.0 9 14.0 223614 6.260788680494066e-05
253 23 56 20205year 169.0 33 136.0 223614 0.0006081909003908521
254 23 99 20205year 6212.0 4370 1842.0 223614 0.008237409106764335
255 31 1 20205year 123.0 59 64.0 220883 0.0002897461552043389
256 31 2 20205year 13.0 0 13.0 220883 5.885468777588135e-05
257 31 5 20205year 29.0 84 -55.0 220883 -0.0002490006021287288
258 31 6 20205year 1854.0 1051 803.0 220883 0.0036354087910794404
259 31 8 20205year 270.0 253 17.0 220883 7.696382247615253e-05
260 31 9 20205year 75.0 38 37.0 220883 0.00016750949597750845
261 31 10 20205year nan 0 0.0 220883 0.0
262 31 11 20205year nan 0 0.0 220883 0.0
263 31 12 20205year 342.0 271 71.0 220883 0.00032143714092981355
264 31 13 20205year 74.0 125 -51.0 220883 -0.0002308914674284576
265 31 15 20205year 115.0 37 78.0 220883 0.0003531281266552881
266 31 16 20205year 88.0 48 40.0 220883 0.00018109134700271183
267 31 17 20205year 334.0 263 71.0 220883 0.00032143714092981355
268 31 18 20205year 73.0 45 28.0 220883 0.0001267639429018983
269 31 19 20205year 16.0 64 -48.0 220883 -0.0002173096164032542
270 31 20 20205year 100.0 23 77.0 220883 0.0003486008429802203
271 31 21 20205year 34.0 60 -26.0 220883 -0.0001177093755517627
272 31 22 20205year 22.0 54 -32.0 220883 -0.00014487307760216946
273 31 23 20205year 20.0 0 20.0 220883 9.054567350135592e-05
274 31 24 20205year 160.0 43 117.0 220883 0.0005296921899829322
275 31 25 20205year 241.0 100 141.0 220883 0.0006383469981845592
276 31 26 20205year 179.0 158 21.0 220883 9.507295717642372e-05
277 31 27 20205year 173.0 107 66.0 220883 0.00029880072255447453
278 31 28 20205year 11.0 5 6.0 220883 2.7163702050406776e-05
279 31 29 20205year 93.0 37 56.0 220883 0.0002535278858037966
280 31 30 20205year nan 0 0.0 220883 0.0
281 31 31 20205year 24.0 6 18.0 220883 8.149110615122032e-05
282 31 32 20205year 48.0 154 -106.0 220883 -0.0004798920695571864
283 31 33 20205year nan 19 -19.0 220883 -8.601838982628813e-05
284 31 34 20205year 20.0 31 -11.0 220883 -4.9800120425745755e-05
285 31 35 20205year 184.0 66 118.0 220883 0.0005342194736579999
286 31 36 20205year 321.0 104 217.0 220883 0.0009824205574897119
287 31 37 20205year 53.0 258 -205.0 220883 -0.0009280931533888982
288 31 38 20205year 89.0 0 89.0 220883 0.00040292824708103384
289 31 39 20205year 128.0 60 68.0 220883 0.00030785528990461014
290 31 40 20205year 84.0 78 6.0 220883 2.7163702050406776e-05
291 31 41 20205year 365.0 317 48.0 220883 0.0002173096164032542
292 31 42 20205year 209.0 111 98.0 220883 0.000443673800156644
293 31 44 20205year nan 23 -23.0 220883 -0.00010412752452655931
294 31 45 20205year 25.0 0 25.0 220883 0.0001131820918766949
295 31 46 20205year 11.0 0 11.0 220883 4.9800120425745755e-05
296 31 47 20205year 24.0 181 -157.0 220883 -0.000710783536985644
297 31 48 20205year 391.0 669 -278.0 220883 -0.0012585848616688473
298 31 49 20205year 183.0 220 -37.0 220883 -0.00016750949597750845
299 31 50 20205year nan 0 0.0 220883 0.0
300 31 51 20205year 183.0 14 169.0 220883 0.0007651109410864575
301 31 53 20205year 743.0 311 432.0 220883 0.001955786547629288
302 31 54 20205year nan 0 0.0 220883 0.0
303 31 55 20205year 151.0 131 20.0 220883 9.054567350135592e-05
304 31 56 20205year nan 0 0.0 220883 0.0
305 31 99 20205year 7675.0 5678 1997.0 220883 0.009040985499110388
306 42 1 20205year 14.0 5 9.0 70814 0.00012709351258225775
307 42 2 20205year nan 17 -17.0 70814 -0.00024006552376648686
308 42 5 20205year nan 0 0.0 70814 0.0
309 42 6 20205year 939.0 403 536.0 70814 0.00756912474934335
310 42 8 20205year 180.0 72 108.0 70814 0.001525122150987093
311 42 9 20205year 4.0 0 4.0 70814 5.6486005592114554e-05
312 42 10 20205year nan 0 0.0 70814 0.0
313 42 11 20205year nan 0 0.0 70814 0.0
314 42 12 20205year 92.0 34 58.0 70814 0.000819047081085661
315 42 13 20205year nan 28 -28.0 70814 -0.00039540203914480187
316 42 15 20205year 10.0 0 10.0 70814 0.0001412150139802864
317 42 16 20205year 34.0 0 34.0 70814 0.0004801310475329737
318 42 17 20205year 288.0 52 236.0 70814 0.0033326743299347586
319 42 18 20205year 50.0 117 -67.0 70814 -0.0009461405936679188
320 42 19 20205year 41.0 49 -8.0 70814 -0.00011297201118422911
321 42 20 20205year 23.0 29 -6.0 70814 -8.472900838817182e-05
322 42 21 20205year 29.0 7 22.0 70814 0.00031067303075663007
323 42 22 20205year nan 0 0.0 70814 0.0
324 42 23 20205year 12.0 0 12.0 70814 0.00016945801677634365
325 42 24 20205year 12.0 0 12.0 70814 0.00016945801677634365
326 42 25 20205year 88.0 0 88.0 70814 0.0012426921230265203
327 42 26 20205year 80.0 82 -2.0 70814 -2.8243002796057277e-05
328 42 27 20205year 45.0 0 45.0 70814 0.0006354675629112888
329 42 28 20205year nan 0 0.0 70814 0.0
330 42 29 20205year 14.0 6 8.0 70814 0.00011297201118422911
331 42 30 20205year 33.0 22 11.0 70814 0.00015533651537831503
332 42 31 20205year 47.0 38 9.0 70814 0.00012709351258225775
333 42 32 20205year 47.0 79 -32.0 70814 -0.00045188804473691644
334 42 33 20205year nan 51 -51.0 70814 -0.0007201965712994605
335 42 34 20205year nan 0 0.0 70814 0.0
336 42 35 20205year 130.0 43 87.0 70814 0.0012285706216284915
337 42 36 20205year 26.0 1 25.0 70814 0.00035303753495071594
338 42 37 20205year 123.0 11 112.0 70814 0.0015816081565792075
339 42 38 20205year 44.0 0 44.0 70814 0.0006213460615132601
340 42 39 20205year 50.0 0 50.0 70814 0.0007060750699014319
341 42 40 20205year 15.0 0 15.0 70814 0.00021182252097042958
342 42 41 20205year 140.0 35 105.0 70814 0.001482757646793007
343 42 42 20205year 68.0 25 43.0 70814 0.0006072245601152315
344 42 44 20205year nan 0 0.0 70814 0.0
345 42 45 20205year nan 0 0.0 70814 0.0
346 42 46 20205year nan 0 0.0 70814 0.0
347 42 47 20205year 51.0 26 25.0 70814 0.00035303753495071594
348 42 48 20205year 77.0 230 -153.0 70814 -0.0021605897138983815
349 42 49 20205year 98.0 142 -44.0 70814 -0.0006213460615132601
350 42 50 20205year nan 0 0.0 70814 0.0
351 42 51 20205year 72.0 0 72.0 70814 0.001016748100658062
352 42 53 20205year 176.0 51 125.0 70814 0.0017651876747535797
353 42 54 20205year 18.0 0 18.0 70814 0.0002541870251645155
354 42 55 20205year 13.0 0 13.0 70814 0.0001835795181743723
355 42 56 20205year nan 0 0.0 70814 0.0
356 42 99 20205year 3183.0 1655 1528.0 70814 0.02157765413618776
357 44 1 20205year 9.0 32 -23.0 337542 -6.813966854495145e-05
358 44 2 20205year 30.0 19 11.0 337542 3.258853713019417e-05
359 44 5 20205year 72.0 76 -4.0 337542 -1.1850377138252424e-05
360 44 6 20205year 3433.0 1517 1916.0 337542 0.005676330649222912
361 44 8 20205year 595.0 422 173.0 337542 0.0005125288112294174
362 44 9 20205year 90.0 51 39.0 337542 0.00011554117709796114
363 44 10 20205year 42.0 0 42.0 337542 0.00012442895995165047
364 44 11 20205year nan 0 0.0 337542 0.0
365 44 12 20205year 294.0 290 4.0 337542 1.1850377138252424e-05
366 44 13 20205year 144.0 348 -204.0 337542 -0.0006043692340508736
367 44 15 20205year 95.0 102 -7.0 337542 -2.0738159991941743e-05
368 44 16 20205year 73.0 164 -91.0 337542 -0.00026959607989524264
369 44 17 20205year 433.0 304 129.0 337542 0.0003821746627086407
370 44 18 20205year 279.0 109 170.0 337542 0.0005036410283757281
371 44 19 20205year 108.0 85 23.0 337542 6.813966854495145e-05
372 44 20 20205year 42.0 204 -162.0 337542 -0.00047994027409922323
373 44 21 20205year 39.0 4 35.0 337542 0.00010369079995970872
374 44 22 20205year 55.0 13 42.0 337542 0.00012442895995165047
375 44 23 20205year 11.0 0 11.0 337542 3.258853713019417e-05
376 44 24 20205year 85.0 60 25.0 337542 7.406485711407766e-05
377 44 25 20205year 100.0 55 45.0 337542 0.00013331674280533978
378 44 26 20205year 146.0 140 6.0 337542 1.7775565707378638e-05
379 44 27 20205year 340.0 106 234.0 337542 0.0006932470625877668
380 44 28 20205year 9.0 11 -2.0 337542 -5.925188569126212e-06
381 44 29 20205year 164.0 110 54.0 337542 0.00015998009136640774
382 44 30 20205year 347.0 145 202.0 337542 0.0005984440454817474
383 44 31 20205year 18.0 14 4.0 337542 1.1850377138252424e-05
384 44 32 20205year 478.0 235 243.0 337542 0.0007199104111488349
385 44 33 20205year 128.0 6 122.0 337542 0.00036143650271669897
386 44 34 20205year 221.0 73 148.0 337542 0.00043846395411533973
387 44 35 20205year 482.0 373 109.0 337542 0.00032292277701737856
388 44 36 20205year 285.0 83 202.0 337542 0.0005984440454817474
389 44 37 20205year 370.0 286 84.0 337542 0.00024885791990330095
390 44 38 20205year 10.0 0 10.0 337542 2.9625942845631062e-05
391 44 39 20205year 434.0 349 85.0 337542 0.00025182051418786404
392 44 40 20205year 213.0 68 145.0 337542 0.0004295761712616504
393 44 41 20205year 316.0 285 31.0 337542 9.184042282145629e-05
394 44 42 20205year 172.0 105 67.0 337542 0.00019849381706572812
395 44 44 20205year nan 12 -12.0 337542 -3.5551131414757276e-05
396 44 45 20205year 54.0 173 -119.0 337542 -0.00035254871986300964
397 44 46 20205year 16.0 73 -57.0 337542 -0.00016886787422009706
398 44 47 20205year 46.0 48 -2.0 337542 -5.925188569126212e-06
399 44 48 20205year 816.0 823 -7.0 337542 -2.0738159991941743e-05
400 44 49 20205year 314.0 222 92.0 337542 0.0002725586741798058
401 44 50 20205year nan 0 0.0 337542 0.0
402 44 51 20205year 240.0 48 192.0 337542 0.0005688181026361164
403 44 53 20205year 520.0 878 -358.0 337542 -0.001060608753873592
404 44 54 20205year nan 0 0.0 337542 0.0
405 44 55 20205year 260.0 164 96.0 337542 0.0002844090513180582
406 44 56 20205year 126.0 73 53.0 337542 0.00015701749708184462
407 44 99 20205year 12554.0 8758 3796.0 337542 0.011246007904201551
408 48 1 20205year 32.0 46 -14.0 140118 -9.991578526670378e-05
409 48 2 20205year 38.0 36 2.0 140118 1.427368360952911e-05
410 48 5 20205year nan 21 -21.0 140118 -0.00014987367790005566
411 48 6 20205year 1006.0 450 556.0 140118 0.003968084043449093
412 48 8 20205year 91.0 134 -43.0 140118 -0.0003068841976048759
413 48 9 20205year nan 0 0.0 140118 0.0
414 48 10 20205year nan 0 0.0 140118 0.0
415 48 11 20205year 14.0 0 14.0 140118 9.991578526670378e-05
416 48 12 20205year 144.0 104 40.0 140118 0.00028547367219058223
417 48 13 20205year 19.0 22 -3.0 140118 -2.1410525414293667e-05
418 48 15 20205year 80.0 4 76.0 140118 0.0005423999771621063
419 48 16 20205year 23.0 129 -106.0 140118 -0.0007565052313050429
420 48 17 20205year 229.0 69 160.0 140118 0.001141894688762329
421 48 18 20205year 56.0 42 14.0 140118 9.991578526670378e-05
422 48 19 20205year 48.0 55 -7.0 140118 -4.995789263335189e-05
423 48 20 20205year 81.0 14 67.0 140118 0.00047816840091922523
424 48 21 20205year nan 34 -34.0 140118 -0.0002426526213619949
425 48 22 20205year nan 0 0.0 140118 0.0
426 48 23 20205year nan 5 -5.0 140118 -3.568420902382278e-05
427 48 24 20205year 31.0 0 31.0 140118 0.00022124209594770122
428 48 25 20205year 35.0 69 -34.0 140118 -0.0002426526213619949
429 48 26 20205year 33.0 16 17.0 140118 0.00012132631068099745
430 48 27 20205year 153.0 61 92.0 140118 0.0006565894460383391
431 48 28 20205year 12.0 27 -15.0 140118 -0.00010705262707146834
432 48 29 20205year 17.0 36 -19.0 140118 -0.00013559999429052657
433 48 30 20205year 99.0 36 63.0 140118 0.000449621033700167
434 48 31 20205year nan 13 -13.0 140118 -9.277894346193923e-05
435 48 32 20205year 51.0 83 -32.0 140118 -0.00022837893775246577
436 48 33 20205year 8.0 34 -26.0 140118 -0.00018555788692387846
437 48 34 20205year 145.0 0 145.0 140118 0.0010348420616908605
438 48 35 20205year 101.0 73 28.0 140118 0.00019983157053340755
439 48 36 20205year 79.0 9 70.0 140118 0.0004995789263335189
440 48 37 20205year 51.0 37 14.0 140118 9.991578526670378e-05
441 48 38 20205year 5.0 0 5.0 140118 3.568420902382278e-05
442 48 39 20205year 163.0 34 129.0 140118 0.0009206525928146277
443 48 40 20205year 30.0 27 3.0 140118 2.1410525414293667e-05
444 48 41 20205year 289.0 170 119.0 140118 0.0008492841747669821
445 48 42 20205year 80.0 138 -58.0 140118 -0.00041393682467634425
446 48 44 20205year nan 0 0.0 140118 0.0
447 48 45 20205year 88.0 0 88.0 140118 0.0006280420788192808
448 48 46 20205year 40.0 6 34.0 140118 0.0002426526213619949
449 48 47 20205year 179.0 149 30.0 140118 0.00021410525414293667
450 48 48 20205year 334.0 440 -106.0 140118 -0.0007565052313050429
451 48 49 20205year 98.0 183 -85.0 140118 -0.0006066315534049873
452 48 50 20205year nan 0 0.0 140118 0.0
453 48 51 20205year 112.0 62 50.0 140118 0.00035684209023822776
454 48 53 20205year 298.0 248 50.0 140118 0.00035684209023822776
455 48 54 20205year nan 0 0.0 140118 0.0
456 48 55 20205year 49.0 0 49.0 140118 0.0003497052484334632
457 48 56 20205year nan 0 0.0 140118 0.0
458 48 99 20205year 4441.0 3116 1325.0 140118 0.009456315391313036
459 51 1 20205year 26.0 0 26.0 53052 0.0004900851994269773
460 51 2 20205year 8.0 0 8.0 53052 0.00015079544597753147
461 51 5 20205year nan 0 0.0 53052 0.0
462 51 6 20205year 601.0 399 202.0 53052 0.0038075850109326697
463 51 8 20205year 158.0 67 91.0 53052 0.0017152981979944206
464 51 9 20205year nan 0 0.0 53052 0.0
465 51 10 20205year 16.0 0 16.0 53052 0.00030159089195506294
466 51 11 20205year 32.0 0 32.0 53052 0.0006031817839101259
467 51 12 20205year 35.0 31 4.0 53052 7.539772298876574e-05
468 51 13 20205year nan 13 -13.0 53052 -0.00024504259971348867
469 51 15 20205year nan 0 0.0 53052 0.0
470 51 16 20205year nan 0 0.0 53052 0.0
471 51 17 20205year 156.0 37 119.0 53052 0.0022430822589157807
472 51 18 20205year nan 0 0.0 53052 0.0
473 51 19 20205year 59.0 0 59.0 53052 0.0011121164140842946
474 51 20 20205year 69.0 0 69.0 53052 0.001300610721556209
475 51 21 20205year nan 14 -14.0 53052 -0.0002638920304606801
476 51 22 20205year 171.0 0 171.0 53052 0.003223252657769735
477 51 23 20205year nan 37 -37.0 53052 -0.0006974289376460831
478 51 24 20205year 14.0 49 -35.0 53052 -0.0006597300761517003
479 51 25 20205year nan 0 0.0 53052 0.0
480 51 26 20205year 57.0 38 19.0 53052 0.00035813918419663727
481 51 27 20205year 16.0 0 16.0 53052 0.00030159089195506294
482 51 28 20205year nan 0 0.0 53052 0.0
483 51 29 20205year 75.0 138 -63.0 53052 -0.0011875141370730603
484 51 30 20205year 4.0 0 4.0 53052 7.539772298876574e-05
485 51 31 20205year nan 0 0.0 53052 0.0
486 51 32 20205year nan 35 -35.0 53052 -0.0006597300761517003
487 51 33 20205year nan 24 -24.0 53052 -0.00045238633793259444
488 51 34 20205year 49.0 0 49.0 53052 0.0009236221066123803
489 51 35 20205year 44.0 0 44.0 53052 0.0008293749528764232
490 51 36 20205year 63.0 48 15.0 53052 0.0002827414612078715
491 51 37 20205year nan 0 0.0 53052 0.0
492 51 38 20205year nan 0 0.0 53052 0.0
493 51 39 20205year 57.0 0 57.0 53052 0.0010744175525899118
494 51 40 20205year 32.0 0 32.0 53052 0.0006031817839101259
495 51 41 20205year 30.0 42 -12.0 53052 -0.00022619316896629722
496 51 42 20205year nan 0 0.0 53052 0.0
497 51 44 20205year nan 0 0.0 53052 0.0
498 51 45 20205year nan 0 0.0 53052 0.0
499 51 46 20205year nan 0 0.0 53052 0.0
500 51 47 20205year nan 10 -10.0 53052 -0.00018849430747191435
501 51 48 20205year 239.0 236 3.0 53052 5.6548292241574305e-05
502 51 49 20205year 87.0 52 35.0 53052 0.0006597300761517003
503 51 50 20205year nan 0 0.0 53052 0.0
504 51 51 20205year 23.0 20 3.0 53052 5.6548292241574305e-05
505 51 53 20205year 106.0 102 4.0 53052 7.539772298876574e-05
506 51 54 20205year nan 0 0.0 53052 0.0
507 51 55 20205year 65.0 151 -86.0 53052 -0.0016210510442584633
508 51 56 20205year 14.0 0 14.0 53052 0.0002638920304606801
509 51 99 20205year 2306.0 1543 763.0 53052 0.014382115660107065
510 52 1 20205year 12.0 0 12.0 196657 6.101994843814357e-05
511 52 2 20205year 17.0 0 17.0 196657 8.644492695403672e-05
512 52 5 20205year 32.0 0 32.0 196657 0.00016271986250171618
513 52 6 20205year 1647.0 702 945.0 196657 0.004805320939503806
514 52 8 20205year 245.0 196 49.0 196657 0.0002491647894557529
515 52 9 20205year 35.0 0 35.0 196657 0.00017797484961125208
516 52 10 20205year nan 7 -7.0 196657 -3.559496992225042e-05
517 52 11 20205year nan 0 0.0 196657 0.0
518 52 12 20205year 155.0 105 50.0 196657 0.00025424978515893153

519 52 13 20205year 183.0 143 40.0 196657 0.00020339982812714522
520 52 15 20205year 36.0 0 36.0 196657 0.00018305984531443071
521 52 16 20205year 44.0 84 -40.0 196657 -0.00020339982812714522
522 52 17 20205year 419.0 103 316.0 196657 0.0016068586422044472
523 52 18 20205year 122.0 64 58.0 196657 0.0002949297507843606
524 52 19 20205year 132.0 113 19.0 196657 9.661491836039399e-05
525 52 20 20205year 24.0 0 24.0 196657 0.00012203989687628713
526 52 21 20205year 25.0 17 8.0 196657 4.0679965625429044e-05
527 52 22 20205year nan 66 -66.0 196657 -0.0003356097164097896
528 52 23 20205year nan 0 0.0 196657 0.0
529 52 24 20205year 65.0 95 -30.0 196657 -0.00015254987109535894
530 52 25 20205year 55.0 0 55.0 196657 0.0002796747636748247
531 52 26 20205year 282.0 13 269.0 196657 0.0013678638441550516
532 52 27 20205year 99.0 18 81.0 196657 0.0004118846519574691
533 52 28 20205year 19.0 46 -27.0 196657 -0.00013729488398582304
534 52 29 20205year 241.0 4 237.0 196657 0.0012051439816533355
535 52 30 20205year 17.0 0 17.0 196657 8.644492695403672e-05
536 52 31 20205year 39.0 0 39.0 196657 0.0001983148324239666
537 52 32 20205year 61.0 117 -56.0 196657 -0.00028475975937800334
538 52 33 20205year nan 0 0.0 196657 0.0
539 52 34 20205year 320.0 16 304.0 196657 0.0015458386937663039
540 52 35 20205year 105.0 87 18.0 196657 9.152992265721536e-05
541 52 36 20205year 204.0 115 89.0 196657 0.00045256461758289815
542 52 37 20205year 61.0 59 2.0 196657 1.0169991406357261e-05
543 52 38 20205year nan 0 0.0 196657 0.0
544 52 39 20205year 218.0 138 80.0 196657 0.00040679965625429044
545 52 40 20205year 8.0 0 8.0 196657 4.0679965625429044e-05
546 52 41 20205year 228.0 136 92.0 196657 0.00046781960469243405
547 52 42 20205year 99.0 155 -56.0 196657 -0.00028475975937800334
548 52 44 20205year nan 0 0.0 196657 0.0
549 52 45 20205year nan 20 -20.0 196657 -0.00010169991406357261
550 52 46 20205year 47.0 0 47.0 196657 0.00023899479804939566
551 52 47 20205year 18.0 55 -37.0 196657 -0.00018814484101760935
552 52 48 20205year 584.0 362 222.0 196657 0.001128869046105656
553 52 49 20205year 244.0 286 -42.0 196657 -0.0002135698195335025
554 52 50 20205year 23.0 0 23.0 196657 0.00011695490117310851
555 52 51 20205year 169.0 92 77.0 196657 0.0003915446691447546
556 52 53 20205year 410.0 128 282.0 196657 0.0014339687882963738
557 52 54 20205year 50.0 16 34.0 196657 0.00017288985390807345
558 52 55 20205year 121.0 49 72.0 196657 0.00036611969062886143
559 52 56 20205year nan 9 -9.0 196657 -4.576496132860768e-05
560 52 99 20205year 6915.0 3616 3299.0 196657 0.016775400824786305
561 53 1 20205year nan 0 0.0 76163 0.0
562 53 2 20205year nan 0 0.0 76163 0.0
563 53 5 20205year nan 0 0.0 76163 0.0
564 53 6 20205year 611.0 330 281.0 76163 0.003689455509893255
565 53 8 20205year 184.0 198 -14.0 76163 -0.00018381628874913016
566 53 9 20205year nan 0 0.0 76163 0.0
567 53 10 20205year nan 0 0.0 76163 0.0
568 53 11 20205year nan 0 0.0 76163 0.0
569 53 12 20205year 94.0 58 36.0 76163 0.00047267045678347754
570 53 13 20205year nan 0 0.0 76163 0.0
571 53 15 20205year 44.0 33 11.0 76163 0.0001444270840171737
572 53 16 20205year 19.0 20 -1.0 76163 -1.3129734910652154e-05
573 53 17 20205year 171.0 0 171.0 76163 0.002245184669721518
574 53 18 20205year 33.0 0 33.0 76163 0.0004332812520515211
575 53 19 20205year 27.0 133 -106.0 76163 -0.0013917519005291284
576 53 20 20205year 100.0 0 100.0 76163 0.0013129734910652154
577 53 21 20205year nan 0 0.0 76163 0.0
578 53 22 20205year nan 0 0.0 76163 0.0
579 53 23 20205year nan 0 0.0 76163 0.0
580 53 24 20205year nan 16 -16.0 76163 -0.00021007575857043446
581 53 25 20205year 58.0 17 41.0 76163 0.0005383191313367384
582 53 26 20205year 61.0 0 61.0 76163 0.0008009138295497814
583 53 27 20205year 38.0 0 38.0 76163 0.0004989299266047819
584 53 28 20205year nan 0 0.0 76163 0.0
585 53 29 20205year 84.0 45 39.0 76163 0.000512059661515434
586 53 30 20205year nan 0 0.0 76163 0.0
587 53 31 20205year nan 19 -19.0 76163 -0.00024946496330239095
588 53 32 20205year 69.0 19 50.0 76163 0.0006564867455326077
589 53 33 20205year nan 0 0.0 76163 0.0
590 53 34 20205year nan 0 0.0 76163 0.0
591 53 35 20205year 16.0 6 10.0 76163 0.00013129734910652155
592 53 36 20205year 13.0 0 13.0 76163 0.000170686553838478
593 53 37 20205year 19.0 0 19.0 76163 0.00024946496330239095
594 53 38 20205year 13.0 0 13.0 76163 0.000170686553838478
595 53 39 20205year 48.0 0 48.0 76163 0.0006302272757113034
596 53 40 20205year 26.0 13 13.0 76163 0.000170686553838478
597 53 41 20205year 60.0 7 53.0 76163 0.0006958759502645642
598 53 42 20205year 11.0 0 11.0 76163 0.0001444270840171737
599 53 44 20205year nan 0 0.0 76163 0.0
600 53 45 20205year nan 0 0.0 76163 0.0
601 53 46 20205year nan 0 0.0 76163 0.0
602 53 47 20205year 51.0 26 25.0 76163 0.00032824337276630386
603 53 48 20205year 171.0 264 -93.0 76163 -0.0012210653466906503
604 53 49 20205year 10.0 54 -44.0 76163 -0.0005777083360686948
605 53 50 20205year nan 0 0.0 76163 0.0
606 53 51 20205year 106.0 0 106.0 76163 0.0013917519005291284
607 53 53 20205year 89.0 205 -116.0 76163 -0.0015230492496356499
608 53 54 20205year nan 0 0.0 76163 0.0
609 53 55 20205year 35.0 0 35.0 76163 0.0004595407218728254
610 53 56 20205year 18.0 0 18.0 76163 0.00023633522839173877
611 53 99 20205year 2279.0 1463 816.0 76163 0.010713863687092158
612 54 1 20205year 15.0 100 -85.0 207076 -0.00041047731267747107
613 54 2 20205year nan 0 0.0 207076 0.0
614 54 5 20205year 47.0 0 47.0 207076 0.00022696980818636637
615 54 6 20205year 2681.0 1271 1410.0 207076 0.006809094245590991
616 54 8 20205year 777.0 469 308.0 207076 0.001487376615348954
617 54 9 20205year 32.0 12 20.0 207076 9.658289710058143e-05
618 54 10 20205year 15.0 0 15.0 207076 7.243717282543608e-05
619 54 11 20205year nan 0 0.0 207076 0.0
620 54 12 20205year 624.0 391 233.0 207076 0.0011251907512217737
621 54 13 20205year 217.0 86 131.0 207076 0.0006326179760088083
622 54 15 20205year 33.0 17 16.0 207076 7.726631768046515e-05
623 54 16 20205year nan 119 -119.0 207076 -0.0005746682377484594
624 54 17 20205year 505.0 192 313.0 207076 0.0015115223396240994
625 54 18 20205year 329.0 51 278.0 207076 0.0013425022696980818
626 54 19 20205year 99.0 15 84.0 207076 0.000405648167822442
627 54 20 20205year 20.0 23 -3.0 207076 -1.4487434565087215e-05
628 54 21 20205year 56.0 84 -28.0 207076 -0.000135216055940814
629 54 22 20205year 72.0 96 -24.0 207076 -0.00011589947652069772
630 54 23 20205year 28.0 23 5.0 207076 2.414572427514536e-05
631 54 24 20205year 127.0 120 7.0 207076 3.38040139852035e-05
632 54 25 20205year 82.0 201 -119.0 207076 -0.0005746682377484594
633 54 26 20205year 586.0 39 547.0 207076 0.002641542235700902
634 54 27 20205year 373.0 65 308.0 207076 0.001487376615348954
635 54 28 20205year nan 0 0.0 207076 0.0
636 54 29 20205year 113.0 170 -57.0 207076 -0.00027526125673665706
637 54 30 20205year nan 106 -106.0 207076 -0.0005118893546330815
638 54 31 20205year 189.0 30 159.0 207076 0.0007678340319496223
639 54 32 20205year 292.0 217 75.0 207076 0.00036218586412718035
640 54 33 20205year 52.0 48 4.0 207076 1.9316579420116287e-05
641 54 34 20205year 136.0 45 91.0 207076 0.0004394521818076455
642 54 35 20205year 207.0 117 90.0 207076 0.00043462303695261645
643 54 36 20205year 284.0 198 86.0 207076 0.00041530645753250017
644 54 37 20205year 117.0 115 2.0 207076 9.658289710058143e-06
645 54 38 20205year 90.0 0 90.0 207076 0.00043462303695261645
646 54 39 20205year 307.0 0 307.0 207076 0.001482547470493925
647 54 40 20205year 167.0 41 126.0 207076 0.000608472251733663
648 54 41 20205year 321.0 102 219.0 207076 0.0010575827232513666
649 54 42 20205year 103.0 67 36.0 207076 0.00017384921478104658
650 54 44 20205year 58.0 30 28.0 207076 0.000135216055940814
651 54 45 20205year 40.0 33 7.0 207076 3.38040139852035e-05
652 54 46 20205year 19.0 0 19.0 207076 9.175375224555236e-05
653 54 47 20205year 70.0 114 -44.0 207076 -0.00021248237362127915
654 54 48 20205year 724.0 1109 -385.0 207076 -0.0018592207691861926
655 54 49 20205year 411.0 138 273.0 207076 0.0013183565454229365
656 54 50 20205year nan 0 0.0 207076 0.0
657 54 51 20205year 284.0 102 182.0 207076 0.000878904363615291
658 54 53 20205year 485.0 473 12.0 207076 5.794973826034886e-05
659 54 54 20205year nan 0 0.0 207076 0.0
660 54 55 20205year 256.0 55 201.0 207076 0.0009706581158608434
661 54 56 20205year 128.0 59 69.0 207076 0.0003332109949970059
662 54 99 20205year 11571.0 6743 4828.0 207076 0.023315111360080357
663 55 1 20205year nan 0 0.0 5622 0.0
664 55 2 20205year nan 0 0.0 5622 0.0
665 55 5 20205year nan 0 0.0 5622 0.0
666 55 6 20205year nan 0 0.0 5622 0.0
667 55 8 20205year nan 0 0.0 5622 0.0
668 55 9 20205year nan 0 0.0 5622 0.0
669 55 10 20205year nan 0 0.0 5622 0.0
670 55 11 20205year nan 0 0.0 5622 0.0
671 55 12 20205year 11.0 0 11.0 5622 0.0019565990750622553
672 55 13 20205year nan 0 0.0 5622 0.0
673 55 15 20205year nan 0 0.0 5622 0.0
674 55 16 20205year nan 0 0.0 5622 0.0
675 55 17 20205year nan 0 0.0 5622 0.0
676 55 18 20205year 2.0 0 2.0 5622 0.0003557452863749555
677 55 19 20205year nan 12 -12.0 5622 -0.0021344717182497333
678 55 20 20205year nan 0 0.0 5622 0.0
679 55 21 20205year nan 0 0.0 5622 0.0
680 55 22 20205year nan 0 0.0 5622 0.0
681 55 23 20205year nan 0 0.0 5622 0.0
682 55 24 20205year nan 0 0.0 5622 0.0
683 55 25 20205year nan 0 0.0 5622 0.0
684 55 26 20205year nan 0 0.0 5622 0.0
685 55 27 20205year nan 0 0.0 5622 0.0
686 55 28 20205year nan 0 0.0 5622 0.0
687 55 29 20205year nan 0 0.0 5622 0.0
688 55 30 20205year nan 0 0.0 5622 0.0
689 55 31 20205year nan 0 0.0 5622 0.0
690 55 32 20205year nan 0 0.0 5622 0.0
691 55 33 20205year nan 0 0.0 5622 0.0
692 55 34 20205year nan 0 0.0 5622 0.0
693 55 35 20205year nan 0 0.0 5622 0.0
694 55 36 20205year nan 0 0.0 5622 0.0
695 55 37 20205year 20.0 0 20.0 5622 0.0035574528637495554
696 55 38 20205year nan 0 0.0 5622 0.0
697 55 39 20205year nan 0 0.0 5622 0.0
698 55 40 20205year nan 0 0.0 5622 0.0
699 55 41 20205year 124.0 0 124.0 5622 0.022056207755247245
700 55 42 20205year nan 0 0.0 5622 0.0
701 55 44 20205year nan 0 0.0 5622 0.0
702 55 45 20205year nan 0 0.0 5622 0.0
703 55 46 20205year nan 0 0.0 5622 0.0
704 55 47 20205year nan 8 -8.0 5622 -0.001422981145499822
705 55 48 20205year 24.0 56 -32.0 5622 -0.005691924581999288
706 55 49 20205year nan 0 0.0 5622 0.0
707 55 50 20205year nan 0 0.0 5622 0.0
708 55 51 20205year nan 0 0.0 5622 0.0
709 55 53 20205year 26.0 0 26.0 5622 0.004624688722874422
710 55 54 20205year nan 0 0.0 5622 0.0
711 55 55 20205year nan 7 -7.0 5622 -0.0012451085023123443
712 55 56 20205year 17.0 0 17.0 5622 0.003023834934187122
713 55 99 20205year 224.0 83 141.0 5622 0.025080042689434364
714 56 1 20205year 30.0 66 -36.0 179950 -0.0002000555709919422
715 56 2 20205year nan 99 -99.0 179950 -0.0005501528202278411
716 56 5 20205year nan 0 0.0 179950 0.0
717 56 6 20205year 1604.0 295 1309.0 179950 0.007274242845234788
718 56 8 20205year 226.0 238 -12.0 179950 -6.66851903306474e-05
719 56 9 20205year nan 0 0.0 179950 0.0
720 56 10 20205year nan 0 0.0 179950 0.0
721 56 11 20205year nan 0 0.0 179950 0.0
722 56 12 20205year 1486.0 246 1240.0 179950 0.006890803000833565
723 56 13 20205year 40.0 21 19.0 179950 0.00010558488469019172
724 56 15 20205year 39.0 7 32.0 179950 0.00017782717421505973
725 56 16 20205year 97.0 107 -10.0 179950 -5.557099194220617e-05
726 56 17 20205year 242.0 37 205.0 179950 0.0011392053348152264
727 56 18 20205year 55.0 103 -48.0 179950 -0.0002667407613225896
728 56 19 20205year 82.0 55 27.0 179950 0.00015004167824395667
729 56 20 20205year 62.0 35 27.0 179950 0.00015004167824395667
730 56 21 20205year 85.0 28 57.0 179950 0.00031675465407057514
731 56 22 20205year nan 49 -49.0 179950 -0.0002722978605168102
732 56 23 20205year nan 10 -10.0 179950 -5.557099194220617e-05
733 56 24 20205year 159.0 0 159.0 179950 0.000883578771881078
734 56 25 20205year 9.0 85 -76.0 179950 -0.0004223395387607669
735 56 26 20205year 71.0 33 38.0 179950 0.00021116976938038344
736 56 27 20205year 8.0 0 8.0 179950 4.445679355376493e-05
737 56 28 20205year nan 0 0.0 179950 0.0
738 56 29 20205year nan 39 -39.0 179950 -0.00021672686857460404
739 56 30 20205year 67.0 93 -26.0 179950 -0.00014448457904973604
740 56 31 20205year 20.0 0 20.0 179950 0.00011114198388441234
741 56 32 20205year 277.0 147 130.0 179950 0.0007224228952486802
742 56 33 20205year 11.0 64 -53.0 179950 -0.0002945262572936927
743 56 34 20205year 265.0 34 231.0 179950 0.0012836899138649624
744 56 35 20205year 287.0 88 199.0 179950 0.0011058627396499027
745 56 36 20205year 55.0 111 -56.0 179950 -0.00031119755487635454
746 56 37 20205year 63.0 14 49.0 179950 0.0002722978605168102
747 56 38 20205year 12.0 0 12.0 179950 6.66851903306474e-05
748 56 39 20205year 394.0 7 387.0 179950 0.002150597388163379
749 56 40 20205year 125.0 68 57.0 179950 0.00031675465407057514
750 56 41 20205year 156.0 109 47.0 179950 0.000261183662128369
751 56 42 20205year 136.0 0 136.0 179950 0.0007557654904140039
752 56 44 20205year nan 0 0.0 179950 0.0
753 56 45 20205year 12.0 52 -40.0 179950 -0.00022228396776882467
754 56 46 20205year 34.0 0 34.0 179950 0.00018894137260350098
755 56 47 20205year 50.0 0 50.0 179950 0.0002778549597110308
756 56 48 20205year 162.0 638 -476.0 179950 -0.0026451792164490138
757 56 49 20205year 67.0 280 -213.0 179950 -0.0011836621283689915
758 56 50 20205year nan 0 0.0 179950 0.0
759 56 51 20205year 105.0 0 105.0 179950 0.0005834954153931648
760 56 53 20205year 320.0 150 170.0 179950 0.0009447068630175048
761 56 54 20205year 123.0 0 123.0 179950 0.0006835232008891358
762 56 55 20205year 60.0 0 60.0 179950 0.000333425951653237
763 56 56 20205year 22.0 2 20.0 179950 0.00011114198388441234
764 56 99 20205year 7118.0 3410 3708.0 179950 0.020605723812170046
765 61 1 20205year 18.0 8 10.0 273756 3.652887973231637e-05
766 61 2 20205year 79.0 56 23.0 273756 8.401642338432765e-05
767 61 5 20205year 77.0 0 77.0 273756 0.00028127237393883606
768 61 6 20205year 1628.0 980 648.0 273756 0.0023670714066541007
769 61 8 20205year 522.0 451 71.0 273756 0.0002593550460994462
770 61 9 20205year nan 61 -61.0 273756 -0.00022282616636712984
771 61 10 20205year nan 0 0.0 273756 0.0
772 61 11 20205year nan 0 0.0 273756 0.0
773 61 12 20205year 218.0 207 11.0 273756 4.0181767705548005e-05
774 61 13 20205year 144.0 121 23.0 273756 8.401642338432765e-05
775 61 15 20205year 95.0 28 67.0 273756 0.0002447434942065197
776 61 16 20205year 95.0 182 -87.0 273756 -0.00031780125367115243
777 61 17 20205year 421.0 242 179.0 273756 0.000653866947208463
778 61 18 20205year 128.0 60 68.0 273756 0.0002483963821797513
779 61 19 20205year 57.0 75 -18.0 273756 -6.575198351816947e-05
780 61 20 20205year 51.0 68 -17.0 273756 -6.209909554493782e-05
781 61 21 20205year 4.0 0 4.0 273756 1.4611551892926548e-05
782 61 22 20205year 65.0 61 4.0 273756 1.4611551892926548e-05
783 61 23 20205year nan 2 -2.0 273756 -7.305775946463274e-06
784 61 24 20205year 184.0 157 27.0 273756 9.86279752772542e-05
785 61 25 20205year 158.0 125 33.0 273756 0.00012054530311664401
786 61 26 20205year 244.0 250 -6.0 273756 -2.191732783938982e-05
787 61 27 20205year 347.0 66 281.0 273756 0.0010264615204780899
788 61 28 20205year nan 27 -27.0 273756 -9.86279752772542e-05
789 61 29 20205year 113.0 183 -70.0 273756 -0.0002557021581262146
790 61 30 20205year 56.0 2 54.0 273756 0.0001972559505545084
791 61 31 20205year 64.0 7 57.0 273756 0.0002082146144742033
792 61 32 20205year 182.0 135 47.0 273756 0.00017168573474188694
793 61 33 20205year 122.0 14 108.0 273756 0.0003945119011090168
794 61 34 20205year 153.0 0 153.0 273756 0.0005588918599044405
795 61 35 20205year 231.0 133 98.0 273756 0.0003579830213767004
796 61 36 20205year 101.0 380 -279.0 273756 -0.0010191557445316268
797 61 37 20205year 168.0 101 67.0 273756 0.0002447434942065197
798 61 38 20205year 85.0 0 85.0 273756 0.0003104954777246891
799 61 39 20205year 360.0 69 291.0 273756 0.0010629904002104062
800 61 40 20205year 48.0 105 -57.0 273756 -0.0002082146144742033
801 61 41 20205year 189.0 188 1.0 273756 3.652887973231637e-06
802 61 42 20205year 105.0 135 -30.0 273756 -0.0001095866391969491
803 61 44 20205year nan 2 -2.0 273756 -7.305775946463274e-06
804 61 45 20205year 13.0 58 -45.0 273756 -0.00016437995879542365
805 61 46 20205year 49.0 60 -11.0 273756 -4.0181767705548005e-05
806 61 47 20205year 106.0 198 -92.0 273756 -0.0003360656935373106
807 61 48 20205year 485.0 532 -47.0 273756 -0.00017168573474188694
808 61 49 20205year 360.0 221 139.0 273756 0.0005077514282791976
809 61 50 20205year nan 33 -33.0 273756 -0.00012054530311664401
810 61 51 20205year 61.0 80 -19.0 273756 -6.94048714914011e-05
811 61 53 20205year 523.0 377 146.0 273756 0.000533321644091819
812 61 54 20205year 13.0 15 -2.0 273756 -7.305775946463274e-06
813 61 55 20205year 196.0 42 154.0 273756 0.0005625447478776721
814 61 56 20205year 23.0 0 23.0 273756 8.401642338432765e-05
815 61 99 20205year 8341.0 6297 2044.0 273756 0.007466503017285466
816 62 1 20205year 78.0 0 78.0 404457 0.00019285115599433313
817 62 2 20205year 117.0 69 48.0 404457 0.00011867763445805116
818 62 5 20205year 36.0 86 -50.0 404457 -0.0001236225358938033
819 62 6 20205year 2810.0 1498 1312.0 404457 0.0032438553418533984
820 62 8 20205year 825.0 431 394.0 404457 0.0009741455828431699
821 62 9 20205year 251.0 51 200.0 404457 0.0004944901435752132
822 62 10 20205year 121.0 0 121.0 404457 0.000299166536863004
823 62 11 20205year nan 0 0.0 404457 0.0
824 62 12 20205year 375.0 346 29.0 404457 7.170107081840592e-05
825 62 13 20205year 236.0 281 -45.0 404457 -0.00011126028230442296
826 62 15 20205year 138.0 97 41.0 404457 0.0001013704794329187
827 62 16 20205year 433.0 220 213.0 404457 0.0005266320029076021
828 62 17 20205year 1001.0 345 656.0 404457 0.0016219276709266992
829 62 18 20205year 389.0 127 262.0 404457 0.0006477820880835293
830 62 19 20205year 160.0 31 129.0 404457 0.0003189461426060125
831 62 20 20205year 173.0 110 63.0 404457 0.00015576439522619215
832 62 21 20205year 98.0 52 46.0 404457 0.00011373273302229903
833 62 22 20205year 32.0 30 2.0 404457 4.9449014357521315e-06
834 62 23 20205year 13.0 0 13.0 404457 3.214185933238886e-05
835 62 24 20205year 171.0 46 125.0 404457 0.00030905633973450826
836 62 25 20205year 137.0 134 3.0 404457 7.417352153628198e-06
837 62 26 20205year 265.0 282 -17.0 404457 -4.203166220389312e-05
838 62 27 20205year 292.0 384 -92.0 404457 -0.00022746546604459806
839 62 28 20205year 13.0 7 6.0 404457 1.4834704307256395e-05
840 62 29 20205year 273.0 89 184.0 404457 0.0004549309320891961
841 62 30 20205year 145.0 124 21.0 404457 5.192146507539738e-05
842 62 31 20205year 159.0 18 141.0 404457 0.0003486155512205253
843 62 32 20205year 323.0 469 -146.0 404457 -0.00036097780480990563
844 62 33 20205year 59.0 73 -14.0 404457 -3.4614310050264926e-05
845 62 34 20205year 249.0 123 126.0 404457 0.0003115287904523843
846 62 35 20205year 669.0 256 413.0 404457 0.0010211221464828152
847 62 36 20205year 282.0 199 83.0 404457 0.00020521340958371348
848 62 37 20205year 428.0 299 129.0 404457 0.0003189461426060125
849 62 38 20205year 52.0 92 -40.0 404457 -9.889802871504263e-05
850 62 39 20205year 325.0 56 269.0 404457 0.0006650892431086618
851 62 40 20205year 229.0 142 87.0 404457 0.00021510321245521774
852 62 41 20205year 508.0 621 -113.0 404457 -0.00027938693111999546
853 62 42 20205year 205.0 213 -8.0 404457 -1.9779605743008526e-05
854 62 44 20205year nan 0 0.0 404457 0.0
855 62 45 20205year 171.0 42 129.0 404457 0.0003189461426060125
856 62 46 20205year 115.0 83 32.0 404457 7.91184229720341e-05
857 62 47 20205year 74.0 162 -88.0 404457 -0.0002175756631730938
858 62 48 20205year 839.0 980 -141.0 404457 -0.0003486155512205253
859 62 49 20205year 552.0 382 170.0 404457 0.0004203166220389312
860 62 50 20205year 71.0 0 71.0 404457 0.00017554400096920068
861 62 51 20205year 249.0 65 184.0 404457 0.0004549309320891961
862 62 53 20205year 630.0 374 256.0 404457 0.0006329473837762728
863 62 54 20205year 61.0 0 61.0 404457 0.00015081949379044002

891 71 29 20205year 76.0 20 56.0 67426 0.0008305401477174977
892 71 30 20205year nan 5 -5.0 67426 -7.415537033191944e-05
893 71 31 20205year nan 0 0.0 67426 0.0
894 71 32 20205year 142.0 93 49.0 67426 0.0007267226292528105
895 71 33 20205year 23.0 21 2.0 67426 2.9662148132767776e-05
896 71 34 20205year 26.0 0 26.0 67426 0.00038560792572598106
897 71 35 20205year 84.0 59 25.0 67426 0.0003707768516595972
898 71 36 20205year 22.0 54 -32.0 67426 -0.0004745943701242844
899 71 37 20205year 27.0 26 1.0 67426 1.4831074066383888e-05
900 71 38 20205year 60.0 0 60.0 67426 0.0008898644439830333
901 71 39 20205year 41.0 0 41.0 67426 0.0006080740367217394
902 71 40 20205year 17.0 24 -7.0 67426 -0.00010381751846468721
903 71 41 20205year 24.0 74 -50.0 67426 -0.0007415537033191944
904 71 42 20205year 44.0 0 44.0 67426 0.0006525672589208911
905 71 44 20205year nan 30 -30.0 67426 -0.00044493222199151663
906 71 45 20205year 31.0 53 -22.0 67426 -0.00032628362946044554
907 71 46 20205year 6.0 0 6.0 67426 8.898644439830333e-05
908 71 47 20205year 58.0 0 58.0 67426 0.0008602022958502655
909 71 48 20205year 205.0 352 -147.0 67426 -0.0021801678877584317
910 71 49 20205year 171.0 78 93.0 67426 0.0013792898881737016
911 71 50 20205year nan 0 0.0 67426 0.0
912 71 51 20205year 122.0 85 37.0 67426 0.0005487497404562038
913 71 53 20205year 246.0 118 128.0 67426 0.0018983774804971377
914 71 54 20205year 13.0 0 13.0 67426 0.00019280396286299053
915 71 55 20205year 24.0 3 21.0 67426 0.0003114525553940616
916 71 56 20205year 21.0 0 21.0 67426 0.0003114525553940616
917 71 99 20205year 3177.0 2082 1095.0 67426 0.016240026102690357
918 72 1 20205year 43.0 0 43.0 201013 0.0002139165128623522
919 72 2 20205year 69.0 0 69.0 201013 0.0003432613811047047
920 72 5 20205year 142.0 98 44.0 201013 0.00021889131548705806
921 72 6 20205year 2345.0 943 1402.0 201013 0.0069746732798376225
922 72 8 20205year 254.0 524 -270.0 201013 -0.0013431967086705834
923 72 9 20205year nan 0 0.0 201013 0.0
924 72 10 20205year nan 0 0.0 201013 0.0
925 72 11 20205year nan 0 0.0 201013 0.0
926 72 12 20205year 97.0 178 -81.0 201013 -0.00040295901260117503
927 72 13 20205year 91.0 75 16.0 201013 7.959684199529384e-05
928 72 15 20205year 100.0 3 97.0 201013 0.00048255585459646886
929 72 16 20205year 63.0 108 -45.0 201013 -0.00022386611811176391
930 72 17 20205year 409.0 174 235.0 201013 0.0011690786168058781
931 72 18 20205year 60.0 70 -10.0 201013 -4.974802624705865e-05
932 72 19 20205year 71.0 44 27.0 201013 0.00013431967086705834
933 72 20 20205year 18.0 104 -86.0 201013 -0.0004278330257247044
934 72 21 20205year 67.0 21 46.0 201013 0.00022884092073646977
935 72 22 20205year 42.0 0 42.0 201013 0.00020894171023764631
936 72 23 20205year 28.0 7 21.0 201013 0.00010447085511882316
937 72 24 20205year 21.0 7 14.0 201013 6.964723674588211e-05
938 72 25 20205year nan 48 -48.0 201013 -0.00023879052598588151
939 72 26 20205year 81.0 42 39.0 201013 0.00019401730236352871
940 72 27 20205year 185.0 159 26.0 201013 0.00012934486824235249
941 72 28 20205year nan 0 0.0 201013 0.0
942 72 29 20205year 37.0 116 -79.0 201013 -0.0003930094073517633
943 72 30 20205year 95.0 31 64.0 201013 0.00031838736798117537
944 72 31 20205year 75.0 19 56.0 201013 0.00027858894698352846
945 72 32 20205year 202.0 696 -494.0 201013 -0.002457552496604697
946 72 33 20205year 8.0 111 -103.0 201013 -0.0005124046703447041
947 72 34 20205year 98.0 61 37.0 201013 0.000184067697114117
948 72 35 20205year 240.0 95 145.0 201013 0.0007213463805823503
949 72 36 20205year 116.0 126 -10.0 201013 -4.974802624705865e-05
950 72 37 20205year 103.0 94 9.0 201013 4.4773223622352786e-05
951 72 38 20205year nan 0 0.0 201013 0.0
952 72 39 20205year 58.0 0 58.0 201013 0.00028853855223294017
953 72 40 20205year 118.0 16 102.0 201013 0.0005074298677199982
954 72 41 20205year 223.0 297 -74.0 201013 -0.000368135394228234
955 72 42 20205year 80.0 25 55.0 201013 0.00027361414435882257
956 72 44 20205year nan 0 0.0 201013 0.0
957 72 45 20205year 59.0 30 29.0 201013 0.00014426927611647009
958 72 46 20205year 17.0 0 17.0 201013 8.45716446199997e-05
959 72 47 20205year 67.0 129 -62.0 201013 -0.0003084377627317636
960 72 48 20205year 511.0 454 57.0 201013 0.0002835637496082343
961 72 49 20205year 216.0 171 45.0 201013 0.00022386611811176391
962 72 50 20205year 61.0 0 61.0 201013 0.00030346296010705777
963 72 51 20205year 58.0 85 -27.0 201013 -0.00013431967086705834
964 72 53 20205year 541.0 656 -115.0 201013 -0.0005721023018411745
965 72 54 20205year nan 0 0.0 201013 0.0
966 72 55 20205year 41.0 59 -18.0 201013 -8.954644724470557e-05
967 72 56 20205year 11.0 0 11.0 201013 5.4722828871764514e-05
968 72 99 20205year 7221.0 5876 1345.0 201013 0.006691109530229388
969 81 1 20205year 93.0 0 93.0 143867 0.0006464303836182029
970 81 2 20205year 27.0 33 -6.0 143867 -4.170518603988406e-05
971 81 5 20205year nan 3 -3.0 143867 -2.085259301994203e-05
972 81 6 20205year 1041.0 234 807.0 143867 0.005609347522364406
973 81 8 20205year 295.0 180 115.0 143867 0.0007993493990977778
974 81 9 20205year 28.0 0 28.0 143867 0.00019462420151945896
975 81 10 20205year nan 0 0.0 143867 0.0
976 81 11 20205year nan 0 0.0 143867 0.0
977 81 12 20205year 168.0 127 41.0 143867 0.00028498543793920776
978 81 13 20205year 23.0 116 -93.0 143867 -0.0006464303836182029
979 81 15 20205year nan 23 -23.0 143867 -0.00015986987981955557
980 81 16 20205year 25.0 57 -32.0 143867 -0.00022242765887938164
981 81 17 20205year 196.0 214 -18.0 143867 -0.0001251155581196522
982 81 18 20205year 65.0 3 62.0 143867 0.00043095358907880194
983 81 19 20205year 8.0 0 8.0 143867 5.560691471984541e-05
984 81 20 20205year 61.0 29 32.0 143867 0.00022242765887938164
985 81 21 20205year nan 0 0.0 143867 0.0
986 81 22 20205year 14.0 10 4.0 143867 2.7803457359922705e-05
987 81 23 20205year nan 0 0.0 143867 0.0
988 81 24 20205year 7.0 45 -38.0 143867 -0.0002641328449192657
989 81 25 20205year 16.0 13 3.0 143867 2.085259301994203e-05
990 81 26 20205year 101.0 82 19.0 143867 0.00013206642245963286
991 81 27 20205year 86.0 127 -41.0 143867 -0.00028498543793920776
992 81 28 20205year 11.0 0 11.0 143867 7.645950773978744e-05
993 81 29 20205year 67.0 12 55.0 143867 0.0003822975386989372
994 81 30 20205year nan 5 -5.0 143867 -3.475432169990338e-05
995 81 31 20205year 30.0 104 -74.0 143867 -0.00051436396115857
996 81 32 20205year 65.0 90 -25.0 143867 -0.00017377160849951691
997 81 33 20205year nan 71 -71.0 143867 -0.0004935113681386281
998 81 34 20205year 126.0 14 112.0 143867 0.0007784968060778358
999 81 35 20205year 140.0 39 101.0 143867 0.0007020372983380484
1000 81 36 20205year 132.0 139 -7.0 143867 -4.865605037986474e-05
1001 81 37 20205year 67.0 0 67.0 143867 0.0004657079107787053
1002 81 38 20205year nan 0 0.0 143867 0.0
1003 81 39 20205year 67.0 45 22.0 143867 0.00015291901547957487
1004 81 40 20205year 131.0 157 -26.0 143867 -0.00018072247283949759
1005 81 41 20205year 79.0 180 -101.0 143867 -0.0007020372983380484
1006 81 42 20205year 158.0 94 64.0 143867 0.0004448553177587633
1007 81 44 20205year nan 0 0.0 143867 0.0
1008 81 45 20205year nan 50 -50.0 143867 -0.00034754321699903383
1009 81 46 20205year 46.0 0 46.0 143867 0.00031973975963911115
1010 81 47 20205year nan 28 -28.0 143867 -0.00019462420151945896
1011 81 48 20205year 286.0 303 -17.0 143867 -0.0001181646937796715
1012 81 49 20205year 80.0 99 -19.0 143867 -0.00013206642245963286
1013 81 50 20205year 9.0 0 9.0 143867 6.25577790598261e-05
1014 81 51 20205year 55.0 52 3.0 143867 2.085259301994203e-05
1015 81 53 20205year 141.0 130 11.0 143867 7.645950773978744e-05
1016 81 54 20205year nan 0 0.0 143867 0.0
1017 81 55 20205year nan 135 -135.0 143867 -0.0009383666858973913
1018 81 56 20205year nan 0 0.0 143867 0.0
1019 81 99 20205year 3944.0 3043 901.0 143867 0.00626272877032259
1020 90 1 20205year 42.0 85 -43.0 150293 -0.0002861078027586115
1021 90 2 20205year 126.0 163 -37.0 150293 -0.0002461857837690378
1022 90 5 20205year 65.0 23 42.0 150293 0.0002794541329270159
1023 90 6 20205year 1448.0 1299 149.0 150293 0.0009913968049077469
1024 90 8 20205year 234.0 178 56.0 150293 0.0003726055105693545
1025 90 9 20205year nan 0 0.0 150293 0.0
1026 90 10 20205year nan 0 0.0 150293 0.0
1027 90 11 20205year 8.0 0 8.0 150293 5.322935865276493e-05
1028 90 12 20205year 112.0 328 -216.0 150293 -0.001437192683624653
1029 90 13 20205year 138.0 266 -128.0 150293 -0.0008516697384442389
1030 90 15 20205year 24.0 63 -39.0 150293 -0.00025949312343222903
1031 90 16 20205year 49.0 36 13.0 150293 8.649770781074301e-05
1032 90 17 20205year 177.0 22 155.0 150293 0.0010313188238973206
1033 90 18 20205year 31.0 0 31.0 150293 0.0002062637647794641
1034 90 19 20205year nan 5 -5.0 150293 -3.3268349157978084e-05
1035 90 20 20205year 48.0 124 -76.0 150293 -0.0005056789072012669
1036 90 21 20205year 50.0 10 40.0 150293 0.0002661467932638247
1037 90 22 20205year 156.0 53 103.0 150293 0.0006853279926543485
1038 90 23 20205year nan 0 0.0 150293 0.0
1039 90 24 20205year 58.0 274 -216.0 150293 -0.001437192683624653
1040 90 25 20205year 48.0 10 38.0 150293 0.00025283945360063344
1041 90 26 20205year 62.0 46 16.0 150293 0.00010645871730552986
1042 90 27 20205year 51.0 28 23.0 150293 0.0001530344061266992
1043 90 28 20205year 35.0 6 29.0 150293 0.00019295642511627287
1044 90 29 20205year 60.0 170 -110.0 150293 -0.0007319036814755178
1045 90 30 20205year 11.0 0 11.0 150293 7.319036814755179e-05
1046 90 31 20205year 48.0 33 15.0 150293 9.980504747393425e-05
1047 90 32 20205year 41.0 72 -31.0 150293 -0.0002062637647794641
1048 90 33 20205year nan 0 0.0 150293 0.0
1049 90 34 20205year 65.0 44 21.0 150293 0.00013972706646350795
1050 90 35 20205year 97.0 321 -224.0 150293 -0.001490422042277418
1051 90 36 20205year 140.0 48 92.0 150293 0.0006121376245067968
1052 90 37 20205year 164.0 364 -200.0 150293 -0.0013307339663191234
1053 90 38 20205year 12.0 57 -45.0 150293 -0.00029941514242180274
1054 90 39 20205year 89.0 68 21.0 150293 0.00013972706646350795
1055 90 40 20205year 143.0 128 15.0 150293 9.980504747393425e-05
1056 90 41 20205year 141.0 130 11.0 150293 7.319036814755179e-05
1057 90 42 20205year 40.0 52 -12.0 150293 -7.98440379791474e-05
1058 90 44 20205year nan 147 -147.0 150293 -0.0009780894652445557
1059 90 45 20205year nan 222 -222.0 150293 -0.0014771147026142269
1060 90 46 20205year nan 0 0.0 150293 0.0
1061 90 47 20205year 86.0 61 25.0 150293 0.00016634174578989043
1062 90 48 20205year 338.0 915 -577.0 150293 -0.003839167492830671
1063 90 49 20205year 190.0 325 -135.0 150293 -0.0008982454272654083
1064 90 50 20205year 13.0 0 13.0 150293 8.649770781074301e-05
1065 90 51 20205year 265.0 421 -156.0 150293 -0.0010379724937289161
1066 90 53 20205year 222.0 376 -154.0 150293 -0.001024665154065725
1067 90 54 20205year nan 0 0.0 150293 0.0
1068 90 55 20205year 72.0 26 46.0 150293 0.0003060688122533984
1069 90 56 20205year 67.0 273 -206.0 150293 -0.001370655985308697
1070 90 99 20205year 5266.0 7272 -2006.0 150293 -0.013347261682180808
1071 92 1 20205year 75.0 85 -10.0 168397 -5.9383480703337945e-05
1072 92 2 20205year 126.0 163 -37.0 168397 -0.0002197188786023504
1073 92 5 20205year 80.0 23 57.0 168397 0.0003384858400090263
1074 92 6 20205year 1717.0 1299 418.0 168397 0.002482229493399526
1075 92 8 20205year 444.0 178 266.0 168397 0.0015796005867087894
1076 92 9 20205year nan 0 0.0 168397 0.0
1077 92 10 20205year nan 0 0.0 168397 0.0
1078 92 11 20205year 8.0 0 8.0 168397 4.750678456267035e-05
1079 92 12 20205year 377.0 328 49.0 168397 0.0002909790554463559
1080 92 13 20205year 307.0 266 41.0 168397 0.00024347227088368558
1081 92 15 20205year 31.0 63 -32.0 168397 -0.0001900271382506814
1082 92 16 20205year 71.0 36 35.0 168397 0.0002078421824616828
1083 92 17 20205year 278.0 22 256.0 168397 0.0015202171060054513
1084 92 18 20205year 31.0 0 31.0 168397 0.00018408879018034764
1085 92 19 20205year nan 5 -5.0 168397 -2.9691740351668972e-05
1086 92 20 20205year 82.0 124 -42.0 168397 -0.00024941061895401937
1087 92 21 20205year 67.0 10 57.0 168397 0.0003384858400090263
1088 92 22 20205year 260.0 53 207.0 168397 0.0012292380505590954
1089 92 23 20205year 6.0 0 6.0 168397 3.563008842200277e-05
1090 92 24 20205year 80.0 274 -194.0 168397 -0.0011520395256447561
1091 92 25 20205year 87.0 10 77.0 168397 0.0004572528014157022
1092 92 26 20205year 62.0 46 16.0 168397 9.50135691253407e-05
1093 92 27 20205year 51.0 28 23.0 168397 0.00013658200561767728
1094 92 28 20205year 35.0 6 29.0 168397 0.00017221209403968005
1095 92 29 20205year 170.0 170 0.0 168397 0.0
1096 92 30 20205year 11.0 0 11.0 168397 6.532182877367174e-05
1097 92 31 20205year 69.0 33 36.0 168397 0.0002137805305320166
1098 92 32 20205year 135.0 72 63.0 168397 0.00037411592843102906
1099 92 33 20205year nan 0 0.0 168397 0.0
1100 92 34 20205year 65.0 44 21.0 168397 0.00012470530947700969
1101 92 35 20205year 146.0 321 -175.0 168397 -0.001039210912308414
1102 92 36 20205year 191.0 48 143.0 168397 0.0008491837740577326
1103 92 37 20205year 254.0 364 -110.0 168397 -0.0006532182877367174
1104 92 38 20205year 12.0 57 -45.0 168397 -0.00026722566316502073
1105 92 39 20205year 189.0 68 121.0 168397 0.0007185401165103892
1106 92 40 20205year 221.0 128 93.0 168397 0.0005522663705410429
1107 92 41 20205year 141.0 130 11.0 168397 6.532182877367174e-05
1108 92 42 20205year 100.0 52 48.0 168397 0.00028504070737602215
1109 92 44 20205year nan 147 -147.0 168397 -0.0008729371663390678
1110 92 45 20205year 16.0 222 -206.0 168397 -0.0012232997024887618
1111 92 46 20205year nan 0 0.0 168397 0.0
1112 92 47 20205year 117.0 61 56.0 168397 0.0003325474919386925
1113 92 48 20205year 1029.0 915 114.0 168397 0.0006769716800180526
1114 92 49 20205year 190.0 325 -135.0 168397 -0.0008016769894950622
1115 92 50 20205year 13.0 0 13.0 168397 7.719852491433933e-05
1116 92 51 20205year 512.0 421 91.0 168397 0.0005403896744003753
1117 92 53 20205year 266.0 376 -110.0 168397 -0.0006532182877367174
1118 92 54 20205year nan 0 0.0 168397 0.0
1119 92 55 20205year 90.0 26 64.0 168397 0.0003800542765013628
1120 92 56 20205year 67.0 273 -206.0 168397 -0.0012232997024887618
1121 92 99 20205year 8279.0 7272 1007.0 168397 0.0059799165068261315

In [169]:
# CHANGE XXXX5year to XXXX
# convert year to true integer
try:
    long_form_merge.Year = long_form_merge.Year.apply(lambda x: x.replace('5year',''))
except Exception:
    pass

In [170]:
long_form_merge.head()

,NAICS,Description,MIGSP,State,Year,MovedToAZLastYear,LeftAZLastYear,NetMigration,PumsPopulation,PercentMigration
0,0,All Industries Aggregated,1,Alabama,2020,616.0,572.0,44.0,3190943.0,0.000014
1,0,All Industries Aggregated,2,Alaska,2020,985.0,781.0,204.0,3190943.0,0.000064
2,0,All Industries Aggregated,5,Arkansas,2020,591.0,437.0,154.0,3190943.0,0.000048
3,0,All Industries Aggregated,6,California,2020,28408.0,14024.0,14384.0,3190943.0,0.004508
4,0,All Industries Aggregated,8,Colorado,2020,6045.0,4969.0,1076.0,3190943.0,0.000337

In [171]:
long_form_merge.to_csv('pumsmig_5year_longform_merged_byind.csv', index=False)

In [172]:
long_form_merge.groupby('Year')[["MovedToAZLastYear", "LeftAZLastYear", "NetMigration", "PumsPopulation", "PercentMigration"]].sum()

,MovedToAZLastYear,LeftAZLastYear,NetMigration,PumsPopulation,PercentMigration
Year,,,,,
2020,471696.0,335912.0,135784.0,325476186.0,0.448458

In [173]:
print([[merged[f'MovedToAZLastYear_{y}'].sum(), merged[f'LeftAZLastYear_{y}'].sum(), merged[f'NetMigration_{y}'].sum(), merged[f'PumsPopulation_{y}'].sum(), merged[f'PercentMigration_{y}'].sum()]
      for y in years])

[[471696.0, 335912, 135784.0, 325476186, 0.4484578773834357]]

In [174]:
# movedin_16 | Movedout_16 | netmoved | ...
# merged.to_excel("pumsmig_merged_byind.xlsx", index=False)

In [175]:
del dfs


**By Occ**

In [176]:
#virinchi cell#
!pip install modin[ray]
#virinchi cell ended#

Requirement already satisfied: modin[ray] in c:\users\sjunuthu\anaconda3\lib\site-packages (0.22.2)
Requirement already satisfied: packaging in c:\users\sjunuthu\anaconda3\lib\site-packages (from modin[ray]) (21.3)
Requirement already satisfied: pandas==1.5.3 in c:\users\sjunuthu\anaconda3\lib\site-packages (from modin[ray]) (1.5.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\sjunuthu\anaconda3\lib\site-packages (from modin[ray]) (1.21.5)
Requirement already satisfied: fsspec in c:\users\sjunuthu\anaconda3\lib\site-packages (from modin[ray]) (2022.7.1)
Requirement already satisfied: psutil in c:\users\sjunuthu\anaconda3\lib\site-packages (from modin[ray]) (5.9.0)
Requirement already satisfied: pyarrow in c:\users\sjunuthu\anaconda3\lib\site-packages (from modin[ray]) (12.0.1)
Requirement already satisfied: ray[default]>=1.13.0 in c:\users\sjunuthu\anaconda3\lib\site-packages (from modin[ray]) (2.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sjunuthu\anaconda3\lib\site-packages (from pandas==1.5.3->modin[ray]) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sjunuthu\anaconda3\lib\site-packages (from pandas==1.5.3->modin[ray]) (2022.1)
Requirement already satisfied: requests in c:\users\sjunuthu\anaconda3\lib\site-packages (from ray[default]>=1.13.0->modin[ray]) (2.28.1)
Requirement already satisfied: click>=7.0 in c:\users\sjunuthu\anaconda3\lib\site-packages (from ray[default]>=1.13.0->modin[ray]) (8.0.4)
Requirement already satisfied: aiosignal in c:\users\sjunuthu\anaconda3\lib\site-packages (from ray[default]>=1.13.0->modin[ray]) (1.3.1)
Requirement already satisfied: frozenlist in c:\users\sjunuthu\anaconda3\lib\site-packages (from ray[default]>=1.13.0->modin[ray]) (1.3.3)
Requirement already satisfied: attrs in c:\users\sjunuthu\anaconda3\lib\site-packages (from ray[default]>=1.13.0->modin[ray]) (21.4.0)
Requirement already satisfied: msgpack<2.0.0,>=1.0.0 in c:\users\sjunuthu\anaconda3\lib\site-packages (from ray[default]>=1.13.0->modin[ray]) (1.0.3)
Requirement already satisfied: grpcio<=1.51.3,>=1.32.0 in c:\users\sjunuthu\anaconda3\lib\site-packages (from ray[default]>=1.13.0->modin[ray]) (1.51.3)
Requirement already satisfied: protobuf!=3.19.5,>=3.15.3 in c:\users\sjunuthu\anaconda3\lib\site-packages (from ray[default]>=1.13.0->modin[ray]) (4.23.3)
Requirement already satisfied: jsonschema in c:\users\sjunuthu\anaconda3\lib\site-packages (from ray[default]>=1.13.0->modin[ray]) (4.16.0)
Requirement already satisfied: pyyaml in c:\users\sjunuthu\anaconda3\lib\site-packages (from ray[default]>=1.13.0->modin[ray]) (6.0)
Requirement already satisfied: filelock in c:\users\sjunuthu\anaconda3\lib\site-packages (from ray[default]>=1.13.0->modin[ray]) (3.6.0)
Requirement already satisfied: virtualenv<20.21.1,>=20.0.24 in c:\users\sjunuthu\anaconda3\lib\site-packages (from ray[default]>=1.13.0->modin[ray]) (20.21.0)
Requirement already satisfied: py-spy>=0.2.0 in c:\users\sjunuthu\anaconda3\lib\site-packages (from ray[default]>=1.13.0->modin[ray]) (0.3.14)
Requirement already satisfied: colorful in c:\users\sjunuthu\anaconda3\lib\site-packages (from ray[default]>=1.13.0->modin[ray]) (0.5.5)
Requirement already satisfied: prometheus-client>=0.7.1 in c:\users\sjunuthu\anaconda3\lib\site-packages (from ray[default]>=1.13.0->modin[ray]) (0.14.1)
Requirement already satisfied: pydantic in c:\users\sjunuthu\anaconda3\lib\site-packages (from ray[default]>=1.13.0->modin[ray]) (1.10.9)
Requirement already satisfied: aiohttp>=3.7 in c:\users\sjunuthu\anaconda3\lib\site-packages (from ray[default]>=1.13.0->modin[ray]) (3.8.4)
Requirement already satisfied: smart-open in c:\users\sjunuthu\anaconda3\lib\site-packages (from ray[default]>=1.13.0->modin[ray]) (5.2.1)
Requirement already satisfied: aiohttp-cors in c:\users\sjunuthu\anaconda3\lib\site-packages (from ray[default]>=1.13.0->modin[ray]) (0.7.0)
Requirement already satisfied: gpustat>=1.0.0 in c:\users\sjunuthu\anaconda3\lib\site-packages (from ray[default]>=1.13.0->modin[ray]) (1.1)
Requirement already satisfied: opencensus in c:\users\sjunuthu\anaconda3\lib\site-packages (from ray[default]>=1.13.0->modin[ray]) (0.11.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\sjunuthu\anaconda3\lib\site-packages (from packaging->modin[ray]) (3.0.9)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\users\sjunuthu\anaconda3\lib\site-packages (from aiohttp>=3.7->ray[default]>=1.13.0->modin[ray]) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\sjunuthu\anaconda3\lib\site-packages (from aiohttp>=3.7->ray[default]>=1.13.0->modin[ray]) (1.9.2)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\sjunuthu\anaconda3\lib\site-packages (from aiohttp>=3.7->ray[default]>=1.13.0->modin[ray]) (6.0.4)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in c:\users\sjunuthu\anaconda3\lib\site-packages (from aiohttp>=3.7->ray[default]>=1.13.0->modin[ray]) (2.0.4)
Requirement already satisfied: colorama in c:\users\sjunuthu\anaconda3\lib\site-packages (from click>=7.0->ray[default]>=1.13.0->modin[ray]) (0.4.5)
Requirement already satisfied: blessed>=1.17.1 in c:\users\sjunuthu\anaconda3\lib\site-packages (from gpustat>=1.0.0->ray[default]>=1.13.0->modin[ray]) (1.20.0)
Requirement already satisfied: nvidia-ml-py>=11.450.129 in c:\users\sjunuthu\anaconda3\lib\site-packages (from gpustat>=1.0.0->ray[default]>=1.13.0->modin[ray]) (11.525.112)
Requirement already satisfied: six>=1.5 in c:\users\sjunuthu\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas==1.5.3->modin[ray]) (1.16.0)
Requirement already satisfied: platformdirs<4,>=2.4 in c:\users\sjunuthu\anaconda3\lib\site-packages (from virtualenv<20.21.1,>=20.0.24->ray[default]>=1.13.0->modin[ray]) (2.5.2)
Requirement already satisfied: distlib<1,>=0.3.6 in c:\users\sjunuthu\anaconda3\lib\site-packages (from virtualenv<20.21.1,>=20.0.24->ray[default]>=1.13.0->modin[ray]) (0.3.6)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\sjunuthu\anaconda3\lib\site-packages (from jsonschema->ray[default]>=1.13.0->modin[ray]) (0.18.0)
Requirement already satisfied: opencensus-context>=0.1.3 in c:\users\sjunuthu\anaconda3\lib\site-packages (from opencensus->ray[default]>=1.13.0->modin[ray]) (0.1.3)
Requirement already satisfied: google-api-core<3.0.0,>=1.0.0 in c:\users\sjunuthu\anaconda3\lib\site-packages (from opencensus->ray[default]>=1.13.0->modin[ray]) (2.11.1)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\sjunuthu\anaconda3\lib\site-packages (from pydantic->ray[default]>=1.13.0->modin[ray]) (4.3.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sjunuthu\anaconda3\lib\site-packages (from requests->ray[default]>=1.13.0->modin[ray]) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sjunuthu\anaconda3\lib\site-packages (from requests->ray[default]>=1.13.0->modin[ray]) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\sjunuthu\anaconda3\lib\site-packages (from requests->ray[default]>=1.13.0->modin[ray]) (1.26.11)
Requirement already satisfied: wcwidth>=0.1.4 in c:\users\sjunuthu\anaconda3\lib\site-packages (from blessed>=1.17.1->gpustat>=1.0.0->ray[default]>=1.13.0->modin[ray]) (0.2.5)
Requirement already satisfied: jinxed>=1.1.0 in c:\users\sjunuthu\anaconda3\lib\site-packages (from blessed>=1.17.1->gpustat>=1.0.0->ray[default]>=1.13.0->modin[ray]) (1.2.0)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in c:\users\sjunuthu\anaconda3\lib\site-packages (from google-api-core<3.0.0,>=1.0.0->opencensus->ray[default]>=1.13.0->modin[ray]) (1.59.1)
Requirement already satisfied: google-auth<3.0.dev0,>=2.14.1 in c:\users\sjunuthu\anaconda3\lib\site-packages (from google-api-core<3.0.0,>=1.0.0->opencensus->ray[default]>=1.13.0->modin[ray]) (2.21.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\sjunuthu\anaconda3\lib\site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core<3.0.0,>=1.0.0->opencensus->ray[default]>=1.13.0->modin[ray]) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\sjunuthu\anaconda3\lib\site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core<3.0.0,>=1.0.0->opencensus->ray[default]>=1.13.0->modin[ray]) (0.2.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\sjunuthu\anaconda3\lib\site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core<3.0.0,>=1.0.0->opencensus->ray[default]>=1.13.0->modin[ray]) (5.3.1)
Requirement already satisfied: ansicon in c:\users\sjunuthu\anaconda3\lib\site-packages (from jinxed>=1.1.0->blessed>=1.17.1->gpustat>=1.0.0->ray[default]>=1.13.0->modin[ray]) (1.89.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\sjunuthu\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.dev0,>=2.14.1->google-api-core<3.0.0,>=1.0.0->opencensus->ray[default]>=1.13.0->modin[ray]) (0.4.8)

In [177]:
#virinchi# import modin.pandas as mpd

In [178]:

# By ind merge
dfs = []

for y in years:
    df = pd.read_excel(f"pums{y}_ByOcc.xlsx")
#     df.drop("index", axis=1, inplace=True)
    df.rename({"ToState": "State", 
               "LeftAZLastYear":f"LeftAZLastYear_{y}",
               "MovedToAZLastYear": f"MovedToAZLastYear_{y}",
               "PumsPopulation": f"PumsPopulation_{y}"}, axis=1, inplace=True)
    df.SOCP = df.SOCP.apply(str)
    dfs.append(df)

In [179]:
dfs[0].columns

Index(['SOCP', 'SOCP Title', 'MIGSP', 'State', 'MovedToAZLastYear_20205year',
       'PumsPopulation_20205year', 'LeftAZLastYear_20205year'],
      dtype='object')

In [180]:
base = pd.concat([t[["SOCP", "SOCP Title", "MIGSP", "State"]] for t in dfs], ignore_index=True).reset_index(drop=True).groupby(["SOCP", "MIGSP"]).agg({"SOCP Title": 'first', "State": 'first'}).reset_index()

In [181]:
base.shape

(24123, 4)

In [182]:
migsp_state = dfs[0].groupby('MIGSP')["State"].first()
len(migsp_state) * 631

32181

In [183]:
base["SOCP Title"] = base["SOCP Title"].apply(lambda x: x.replace('*',''))

In [184]:
base

         SOCP  MIGSP                        SOCP Title                State
0           0      1        All Occupations Aggregated              Alabama
1           0      2        All Occupations Aggregated               Alaska
2           0      5        All Occupations Aggregated             Arkansas
3           0      6        All Occupations Aggregated           California
4           0      8        All Occupations Aggregated             Colorado
...       ...    ...                               ...                  ...
24118  559830     53  Mil-Military, Rank Not Specified           Washington
24119  559830     54  Mil-Military, Rank Not Specified        West Virginia
24120  559830     55  Mil-Military, Rank Not Specified            Wisconsin
24121  559830     56  Mil-Military, Rank Not Specified              Wyoming
24122  559830     99  Mil-Military, Rank Not Specified  All States Combined

[24123 rows x 4 columns]

In [185]:
merged = base
for i in range(0,len(dfs)):
    dfs[i] = dfs[i].drop(['SOCP Title', 'State'], axis=1)
    merged = merged.merge(dfs[i], on=['SOCP', 'MIGSP'], how='outer')

In [186]:
merged

,SOCP,MIGSP,SOCP Title,State,MovedToAZLastYear_20205year,PumsPopulation_20205year,LeftAZLastYear_20205year
0,0,1,All Occupations Aggregated,Alabama,616.0,3190943.0,572.0
1,0,2,All Occupations Aggregated,Alaska,985.0,3190943.0,781.0
2,0,5,All Occupations Aggregated,Arkansas,591.0,3190943.0,437.0
3,0,6,All Occupations Aggregated,California,28408.0,3190943.0,14024.0
4,0,8,All Occupations Aggregated,Colorado,6045.0,3190943.0,4969.0
...,...,...,...,...,...,...,...
24118,559830,53,"Mil-Military, Rank Not Specified",Washington,NaN,4936.0,0.0
24119,559830,54,"Mil-Military, Rank Not Specified",West Virginia,NaN,4936.0,0.0
24120,559830,55,"Mil-Military, Rank Not Specified",Wisconsin,NaN,4936.0,0.0
24121,559830,56,"Mil-Military, Rank Not Specified",Wyoming,NaN,4936.0,0.0
24122,559830,99,"Mil-Military, Rank Not Specified",All States Combined,694.0,4936.0,1944.0

In [187]:
merged.shape

(24123, 7)

In [188]:
for i,y in enumerate(years):
    print(y, dfs[i][f'MovedToAZLastYear_{y}'].sum(), dfs[i][f'LeftAZLastYear_{y}'].sum())

20205year 471696.0 335912.0

In [189]:
for i,y in enumerate(years):
    print(y, merged[f'MovedToAZLastYear_{y}'].sum(),merged[f'LeftAZLastYear_{y}'].sum())

20205year 471696.0 335912.0

In [190]:
# calucalting net migration
for i,y in enumerate(years):
    merged[f"NetMigration_{y}"] = merged[f"MovedToAZLastYear_{y}"].apply(na2zero) - merged[f'LeftAZLastYear_{y}'].apply(na2zero)
    merged[f"PercentMigration_{y}"] = merged[f"NetMigration_{y}"].apply(na2zero) / merged[f'PumsPopulation_{y}'].apply(na2zero)

In [191]:
merged.shape

(24123, 9)

In [192]:
#irinchi# merged[merged["PercentMigration_20185year"].isna()]
merged[merged["PercentMigration_20205year"].isna()]

,SOCP,MIGSP,SOCP Title,State,MovedToAZLastYear_20205year,PumsPopulation_20205year,LeftAZLastYear_20205year,NetMigration_20205year,PercentMigration_20205year
2754,132081,1,"Tax Examiners And Collectors, And Revenue Agents",Alabama,NaN,NaN,0.0,0.0,NaN
2755,132081,2,"Tax Examiners And Collectors, And Revenue Agents",Alaska,NaN,NaN,0.0,0.0,NaN
2756,132081,5,"Tax Examiners And Collectors, And Revenue Agents",Arkansas,NaN,NaN,0.0,0.0,NaN
2758,132081,8,"Tax Examiners And Collectors, And Revenue Agents",Colorado,NaN,NaN,0.0,0.0,NaN
2759,132081,9,"Tax Examiners And Collectors, And Revenue Agents",Connecticut,NaN,NaN,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...
23403,536051,51,Transportation Inspectors,Virginia,NaN,NaN,0.0,0.0,NaN
23404,536051,53,Transportation Inspectors,Washington,NaN,NaN,0.0,0.0,NaN
23405,536051,54,Transportation Inspectors,West Virginia,NaN,NaN,0.0,0.0,NaN
23406,536051,55,Transportation Inspectors,Wisconsin,NaN,NaN,0.0,0.0,NaN
23407,536051,56,Transportation Inspectors,Wyoming,NaN,NaN,0.0,0.0,NaN

In [193]:
# movedin_16 | Movedout_16 | netmoved | ...
# merged.to_excel("pumsmig_merged_byocc.xlsx", index=False)

In [194]:
# !export MODIN_ENGINE=dask

In [195]:
#virinchi# merged = mpd.DataFrame(merged)
merged = pd.DataFrame(merged)

In [196]:
#virinchi# long_form_merge = mpd.concat([merged[["MIGSP", "State", "SOCP", "SOCP Title"]]]*len(years), ignore_index=True)
long_form_merge = pd.concat([merged[["MIGSP", "State", "SOCP", "SOCP Title"]]]*len(years), ignore_index=True)
long_form_merge = long_form_merge.reset_index(drop=True)

In [197]:
toaz = [merged[f"MovedToAZLastYear_{y}"].values for y in years]
toaz = np.concatenate(toaz)
tostate = [merged[f"LeftAZLastYear_{y}"].values for y in years]
tostate = np.concatenate(tostate)
netmig = [merged[f"NetMigration_{y}"].values for y in years]
netmig = np.concatenate(netmig)
pumspop = [merged[f"PumsPopulation_{y}"].values for y in years]
pumspop = np.concatenate(pumspop)
permig = [merged[f"PercentMigration_{y}"].values for y in years]
permig = np.concatenate(permig)

In [198]:
year_col = np.concatenate([[y]*merged.shape[0] for y in years])
long_form_merge['Year'] = year_col

In [199]:
long_form_merge["MovedToAZLastYear"] = toaz
long_form_merge["LeftAZLastYear"] = tostate
long_form_merge["NetMigration"] = netmig
long_form_merge["PumsPopulation"] = pumspop
long_form_merge["PercentMigration"] = permig

In [200]:
long_form_merge.reset_index(drop=True)

,MIGSP,State,SOCP,SOCP Title,Year,MovedToAZLastYear,LeftAZLastYear,NetMigration,PumsPopulation,PercentMigration
0,1,Alabama,0,All Occupations Aggregated,20205year,616.0,572.0,44.0,3190943.0,0.000014
1,2,Alaska,0,All Occupations Aggregated,20205year,985.0,781.0,204.0,3190943.0,0.000064
2,5,Arkansas,0,All Occupations Aggregated,20205year,591.0,437.0,154.0,3190943.0,0.000048
3,6,California,0,All Occupations Aggregated,20205year,28408.0,14024.0,14384.0,3190943.0,0.004508
4,8,Colorado,0,All Occupations Aggregated,20205year,6045.0,4969.0,1076.0,3190943.0,0.000337
...,...,...,...,...,...,...,...,...,...,...
24118,53,Washington,559830,"Mil-Military, Rank Not Specified",20205year,NaN,0.0,0.0,4936.0,0.000000
24119,54,West Virginia,559830,"Mil-Military, Rank Not Specified",20205year,NaN,0.0,0.0,4936.0,0.000000
24120,55,Wisconsin,559830,"Mil-Military, Rank Not Specified",20205year,NaN,0.0,0.0,4936.0,0.000000
24121,56,Wyoming,559830,"Mil-Military, Rank Not Specified",20205year,NaN,0.0,0.0,4936.0,0.000000
24122,99,All States Combined,559830,"Mil-Military, Rank Not Specified",20205year,694.0,1944.0,-1250.0,4936.0,-0.253241

In [201]:
long_form_merge.shape[0] / 15

1608.2

In [202]:
try:
    long_form_merge.Year = long_form_merge.Year.apply(lambda x: x.replace('5year',''))
except Exception:
    pass

In [203]:
long_form_merge[["SOCP", "SOCP Title", "MIGSP", "State", "Year", "MovedToAZLastYear", "LeftAZLastYear", "NetMigration", "PumsPopulation", "PercentMigration"]].to_csv('pumsmig_5year_longform_merged_byocc.csv', index=False)

In [204]:
# # year | movedin | movedout | netmoved

# long_form_merge = mpd.concat([merged[["NAICS", "Description", "MIGSP", "State", "SOCP", "SOCP Title"]]]*5, ignore_index=True)

# year_col = np.concatenate([[y]*merged.shape[0] for y in years])
# long_form_merge['Year'] = year_col
# long_form_merge["MovedToAZLastYear"] = np.nan
# long_form_merge["LeftAZLastYear"] = np.nan
# long_form_merge["NetMigration"] = np.nan

# for i in merged.index:
#     for y in years:
#         naics = merged.iloc[i][f'NAICS']
#         migsp = merged.iloc[i]['MIGSP']
#         socp = merged.iloc[i]['SOCP']
#         movedtoaz = merged.iloc[i][f'MovedToAZLastYear_{y}']
#         leftaz = merged.iloc[i][f'LeftAZLastYear_{y}']
#         netmig = merged.iloc[i][f'NetMigration_{y}']
        
#         long_form_merge.at[(long_form_merge.NAICS == naics) & (long_form_merge.MIGSP == migsp) & 
#                            (long_form_merge.SOCP == socp) & (long_form_merge.Year == y), 
#                             f'MovedToAZLastYear'] = movedtoaz
#         long_form_merge.at[(long_form_merge.NAICS == naics) & (long_form_merge.MIGSP == migsp) & 
#                            (long_form_merge.SOCP == socp) & (long_form_merge.Year == y), 
#                             f'LeftAZLastYear'] = leftaz
#         long_form_merge.at[(long_form_merge.NAICS == naics) & (long_form_merge.MIGSP == migsp) & 
#                            (long_form_merge.SOCP == socp) & (long_form_merge.Year == y), 
#                            f'NetMigration'] = netmig
# long_form_merge.to_csv('pumsmig_longform_merged_byocc.csv', index=False)

In [205]:
long_form_merge.head()

,MIGSP,State,SOCP,SOCP Title,Year,MovedToAZLastYear,LeftAZLastYear,NetMigration,PumsPopulation,PercentMigration
0,1,Alabama,0,All Occupations Aggregated,2020,616.0,572.0,44.0,3190943.0,0.000014
1,2,Alaska,0,All Occupations Aggregated,2020,985.0,781.0,204.0,3190943.0,0.000064
2,5,Arkansas,0,All Occupations Aggregated,2020,591.0,437.0,154.0,3190943.0,0.000048
3,6,California,0,All Occupations Aggregated,2020,28408.0,14024.0,14384.0,3190943.0,0.004508
4,8,Colorado,0,All Occupations Aggregated,2020,6045.0,4969.0,1076.0,3190943.0,0.000337

In [206]:
long_form_merge.groupby('Year')[["MovedToAZLastYear", "LeftAZLastYear", "NetMigration", "PumsPopulation", "PercentMigration"]].sum()

,MovedToAZLastYear,LeftAZLastYear,NetMigration,PumsPopulation,PercentMigration
Year,,,,,
2020,471696.0,335912.0,135784.0,321754461.0,NaN

In [207]:
print([[merged[f'MovedToAZLastYear_{y}'].sum(), merged[f'LeftAZLastYear_{y}'].sum(), merged[f'NetMigration_{y}'].sum(), merged[f'PumsPopulation_{y}'].sum(), merged[f'PercentMigration_{y}'].sum()]
      for y in years])

[[471696.0, 335912.0, 135784.0, 321754461.0, -inf]]