In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_excel('WMA positivity_rates_categories_2020_2021_2022_leads_lags_with_categories.xlsx')
df

,Date,Average of Temperature mean (‚Å∞F),Average of RH max (%),Average of Peak Wind max (mph),WMA Positivity Rate(variable days),Total Encounters,Tested Encouters,Positive Encounters,Rolling days(Tested Encounters),Rolling days(Positive Encounter),...,30 day positive,30 day positivity %,7 day tested,7 day positive,7 day positivity %,30 day avg. humidity_lag,30 day avg. temp_lead,30 day avg. wind_lag,positivity_rates_5_categories,positivity_rates_category_3_categories
0,2020-02-22,58.025000,96.875000,21.861765,0.133333,14,0,0,15,2,...,2,0.133333,2,1,0.5000,70.692201,60.604904,9.547059,category_2,category_1
1,2020-02-23,53.000000,92.175000,13.302941,0.133333,24,1,0,15,2,...,2,0.133333,2,0,0.0000,70.125534,60.553238,11.570588,category_2,category_1
2,2020-02-24,56.175000,91.675000,14.405882,0.125000,28,1,0,16,2,...,2,0.125000,2,0,0.0000,68.893868,60.668238,11.392157,category_2,category_1
3,2020-02-25,55.300000,56.725000,22.579412,0.117647,15,1,0,17,2,...,2,0.117647,3,0,0.0000,67.894701,60.739071,10.780882,category_2,category_1
4,2020-02-26,52.500000,46.775000,16.535294,0.117647,20,0,0,17,2,...,2,0.117647,3,0,0.0000,67.749701,60.618238,10.648235,category_2,category_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1035,2022-12-27,58.282051,65.487179,11.178125,0.081967,21,2,0,61,5,...,5,0.081967,16,1,0.0625,63.526838,51.043927,14.556762,category_1,category_1
1036,2022-12-28,51.794872,97.794872,14.684375,0.080645,19,2,0,62,5,...,5,0.080645,12,0,0.0000,64.116004,50.975371,14.371810,category_1,category_1
1037,2022-12-29,52.102564,97.358974,9.475000,0.061538,18,4,0,65,4,...,4,0.061538,14,0,0.0000,63.466004,51.054094,14.132381,category_1,category_1
1038,2022-12-30,52.923077,97.564103,9.103125,0.048387,19,2,0,62,3,...,3,0.048387,14,0,0.0000,62.942436,51.157625,14.179905,category_1,category_1
1039,2022-12-31,54.846154,96.307692,11.037500,0.049180,15,1,0,61,3,...,3,0.049180,15,0,0.0000,63.507244,51.092105,14.368762,category_1,category_1

In [3]:
df = df[['Date','30 day avg. temp_lead','30 day avg. humidity_lag','30 day avg. wind_lag','positivity_rates_5_categories']]
df

,Date,30 day avg. temp_lead,30 day avg. humidity_lag,30 day avg. wind_lag,positivity_rates_5_categories
0,2020-02-22,60.604904,70.692201,9.547059,category_2
1,2020-02-23,60.553238,70.125534,11.570588,category_2
2,2020-02-24,60.668238,68.893868,11.392157,category_2
3,2020-02-25,60.739071,67.894701,10.780882,category_2
4,2020-02-26,60.618238,67.749701,10.648235,category_2
...,...,...,...,...,...
1035,2022-12-27,51.043927,63.526838,14.556762,category_1
1036,2022-12-28,50.975371,64.116004,14.371810,category_1
1037,2022-12-29,51.054094,63.466004,14.132381,category_1
1038,2022-12-30,51.157625,62.942436,14.179905,category_1
1039,2022-12-31,51.092105,63.507244,14.368762,category_1

In [4]:
X = df[['30 day avg. temp_lead','30 day avg. humidity_lag','30 day avg. wind_lag']]
y = df['positivity_rates_5_categories'] 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [5]:
clf = RandomForestClassifier(random_state=42)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [6]:
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.83

In [7]:
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix")
print(conf_matrix)

Confusion Matrix
[[80  3  1  0  0]
 [16 47  6  0  0]
 [ 0  3 31  2  0]
 [ 0  0  3 14  0]
 [ 0  0  0  1  1]]

In [39]:
df

,Date,30 day avg. temp_lead,30 day avg. humidity_lag,30 day avg. wind_lag,positivity_rates_5_categories
0,2020-02-22,60.604904,70.692201,9.547059,category_2
1,2020-02-23,60.553238,70.125534,11.570588,category_2
2,2020-02-24,60.668238,68.893868,11.392157,category_2
3,2020-02-25,60.739071,67.894701,10.780882,category_2
4,2020-02-26,60.618238,67.749701,10.648235,category_2
...,...,...,...,...,...
1035,2022-12-27,51.043927,63.526838,14.556762,category_1
1036,2022-12-28,50.975371,64.116004,14.371810,category_1
1037,2022-12-29,51.054094,63.466004,14.132381,category_1
1038,2022-12-30,51.157625,62.942436,14.179905,category_1
1039,2022-12-31,51.092105,63.507244,14.368762,category_1

In [40]:
test = df[df['Date'].dt.year == 2022]
train = df[(df['Date'].dt.year == 2021) | (df['Date'].dt.year == 2020)]

In [41]:
train

,Date,30 day avg. temp_lead,30 day avg. humidity_lag,30 day avg. wind_lag,positivity_rates_5_categories
0,2020-02-22,60.604904,70.692201,9.547059,category_2
1,2020-02-23,60.553238,70.125534,11.570588,category_2
2,2020-02-24,60.668238,68.893868,11.392157,category_2
3,2020-02-25,60.739071,67.894701,10.780882,category_2
4,2020-02-26,60.618238,67.749701,10.648235,category_2
...,...,...,...,...,...
670,2021-12-27,55.684679,43.157412,14.513143,category_3
671,2021-12-28,55.777842,43.539912,14.462476,category_3
672,2021-12-29,56.012030,45.205746,14.388190,category_2
673,2021-12-30,56.268755,46.693801,14.213143,category_3
674,2021-12-31,56.525895,47.336429,14.066381,category_3

In [42]:
test

,Date,30 day avg. temp_lead,30 day avg. humidity_lag,30 day avg. wind_lag,positivity_rates_5_categories
675,2022-01-01,56.696187,48.060211,13.991714,category_3
676,2022-01-02,56.848923,49.261558,13.354952,category_3
677,2022-01-03,56.971871,50.902626,13.028476,category_2
678,2022-01-04,56.856487,52.701130,13.078286,category_2
679,2022-01-05,56.748303,54.172882,13.034857,category_2
...,...,...,...,...,...
1035,2022-12-27,51.043927,63.526838,14.556762,category_1
1036,2022-12-28,50.975371,64.116004,14.371810,category_1
1037,2022-12-29,51.054094,63.466004,14.132381,category_1
1038,2022-12-30,51.157625,62.942436,14.179905,category_1
1039,2022-12-31,51.092105,63.507244,14.368762,category_1

In [44]:
test[test['positivity_rates_5_categories'] == 'category_5']

Empty DataFrame
Columns: [Date, 30 day avg. temp_lead, 30 day avg. humidity_lag, 30 day avg. wind_lag, positivity_rates_5_categories]
Index: []

In [45]:
X_train = train[['30 day avg. temp_lead', '30 day avg. humidity_lag', '30 day avg. wind_lag']]

In [46]:
X_test = test[['30 day avg. temp_lead', '30 day avg. humidity_lag', '30 day avg. wind_lag']]

In [47]:
y_train = train['positivity_rates_5_categories']

In [48]:
y_test = test['positivity_rates_5_categories']

In [49]:
X_train

     30 day avg. temp_lead  30 day avg. humidity_lag  30 day avg. wind_lag
0                60.604904                 70.692201              9.547059
1                60.553238                 70.125534             11.570588
2                60.668238                 68.893868             11.392157
3                60.739071                 67.894701             10.780882
4                60.618238                 67.749701             10.648235
..                     ...                       ...                   ...
670              55.684679                 43.157412             14.513143
671              55.777842                 43.539912             14.462476
672              56.012030                 45.205746             14.388190
673              56.268755                 46.693801             14.213143
674              56.525895                 47.336429             14.066381

[675 rows x 3 columns]

In [50]:
clf = RandomForestClassifier(random_state=42)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [51]:
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.40

In [52]:
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix")
print(conf_matrix)

Confusion Matrix
[[127  27  30   0]
 [ 68  17   4   0]
 [ 59   0   2   0]
 [ 31   0   0   0]]