In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [31]:
df = pd.read_excel('WMA positivity_rates_categories.xlsx')
df

,Date,Average of Temperature mean (‚Å∞F),Average of RH max (%),Average of Peak Wind max (mph),WMA Positivity Rate(variable days),Total Encounters,Tested Encouters,Positive Encounters,Rolling days(Tested Encounters),Rolling days(Positive Encounter),...,7 day avg. temp,7 day avg. humidity,7 day avg. wind,30 day tested,30 day positive,30 day positivity %,7 day tested,7 day positive,7 day positivity %,positivity_rates_category
0,2020-01-01,47.435897,81.461538,9.547059,0.000000,25,1,0,1,0,...,47.435897,81.461538,9.547059,1,0,0.000000,1,0,0.000000,category_1
1,2020-01-02,48.700000,87.650000,13.594118,0.000000,29,0,0,1,0,...,48.067949,84.555769,11.570588,1,0,0.000000,1,0,0.000000,category_1
2,2020-01-03,50.100000,72.500000,11.035294,0.000000,24,0,0,1,0,...,48.745299,80.537179,11.392157,1,0,0.000000,1,0,0.000000,category_1
3,2020-01-04,52.600000,72.625000,8.947059,0.000000,22,0,0,1,0,...,49.708974,78.559135,10.780882,1,0,0.000000,1,0,0.000000,category_1
4,2020-01-05,54.100000,74.775000,10.117647,0.000000,20,0,0,1,0,...,50.587179,77.802308,10.648235,1,0,0.000000,1,0,0.000000,category_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1268,2023-06-26,91.225000,20.975000,15.885714,0.068966,5,1,0,29,2,...,86.635256,24.222894,15.710144,29,2,0.068966,8,0,0.000000,category_1
1269,2023-06-27,89.550000,24.125000,18.962857,0.100000,4,1,1,30,3,...,87.110256,22.990751,15.896675,30,3,0.100000,8,1,0.125000,category_2
1270,2023-06-28,87.871795,30.871795,19.326471,0.133333,4,1,1,30,4,...,87.253114,22.770971,16.159700,30,4,0.133333,7,2,0.285714,category_2
1271,2023-06-29,87.650000,26.675000,15.248571,0.129032,5,1,0,31,4,...,87.445971,23.310256,15.996435,31,4,0.129032,6,2,0.333333,category_2
1272,2023-06-30,90.275000,26.025000,14.365714,0.137931,5,0,0,29,4,...,88.538828,24.053114,15.952353,29,4,0.137931,5,2,0.400000,category_2

In [32]:
df = df[['30 day avg. temp','30 day avg. humidity','30 day avg. wind','positivity_rates_category']]
df

,30 day avg. temp,30 day avg. humidity,30 day avg. wind,positivity_rates_category
0,47.435897,81.461538,9.547059,category_1
1,48.067949,84.555769,11.570588,category_1
2,48.745299,80.537179,11.392157,category_1
3,49.708974,78.559135,10.780882,category_1
4,50.587179,77.802308,10.648235,category_1
...,...,...,...,...
1268,82.632308,31.416154,17.072336,category_1
1269,82.926474,31.214487,17.164333,category_2
1270,83.159701,31.290214,17.128255,category_2
1271,83.403868,31.161880,16.961345,category_2
1272,83.895534,30.898547,16.689613,category_2

In [33]:
X = df[['30 day avg. temp','30 day avg. humidity','30 day avg. wind']]
y = df['positivity_rates_category']

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [35]:
clf = RandomForestClassifier(random_state=42)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [36]:
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.90

In [37]:
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix")
print(conf_matrix)

Confusion Matrix
[[114   2   0   3   0]
 [  6  55   6   0   0]
 [  0   5  37   3   0]
 [  0   0   1  22   0]
 [  0   0   0   0   1]]